<!ENTITY password.title      "O canal necessita de autenticação">
<!ENTITY password.prompt     "Por favor introduza o nome de utilizador e a palavra chave que lhe forneceu o editor deste canal.">
<!ENTITY password.username   "Nome de Utilizador:">
<!ENTITY password.password   "Senha:">
