<!ENTITY searchchannel.description	"A pesquisa do canal contém intens que coincidem com o termo pesquisado.">
<!ENTITY searchchannel.termlabel 	"Pesquisar:">
<!ENTITY searchchannel.title            "Nova pesquisa do canal">
<!ENTITY searchchannel.inthis "Nisto:">
<!ENTITY searchchannel.channel "Canal:">
<!ENTITY searchchannel.searchengine "Motor de busca:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Criar canal">
