<!ENTITY migrate.title "ย้ายวิดีโอที่มีปัจจุบัน?">
<!ENTITY migrate.accept "Migrate">
<!ENTITY migrate.cancel "Don't Migrate">
<!ENTITY migrate.description "คุณเลือกที่จะดาวน์โหลดหนังลงในโฟลเดอร์ที่สร้างใหม่ คุณจะยอมให้ $shortAppName ย้ายหนังที่คุณดาวน์โหลดเสร็จแล้วไปที่นั่นหรือไม่? (หนังจะไม่ถูกย้ายจนกระทั่งดาวน์โหลดเสร็จ)">