<!ENTITY password.title      "แชนแนลต้องการการลงทะเบียน">
<!ENTITY password.prompt     "กรุณาใส่ชื่อผู้ใช้และรหัสผ่านที่ผู้สร้างแชนแนลให้คุณ">
<!ENTITY password.username   "ชื่อผู้ใช้:">
<!ENTITY password.password   "รหัสผ่าน:">
