<!ENTITY searchchannel.description	"A search channel contains items that match a search term.">
<!ENTITY searchchannel.termlabel 	"หาคำว่า:">
<!ENTITY searchchannel.title            "เพิ่มแชนแนลค้นหา">
<!ENTITY searchchannel.inthis "ใน:">
<!ENTITY searchchannel.channel "แชนแนล:">
<!ENTITY searchchannel.searchengine "เซิร์ชเอนจิ้น:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "สร้างแชนแนล">
