<!ENTITY password.title      "Каналът изисква идентификация">
<!ENTITY password.prompt     "Въведете потребителско име и парола, както са ви дадени от издателите на канала.">
<!ENTITY password.username   "Потребителско име:">
<!ENTITY password.password   "Парола:">
