<!ENTITY nbsp                " ">
<!ENTITY rsaquo              "'">

<!ENTITY password.title      "Канала изисква идентификация">
<!ENTITY password.prompt     "Моля, въведете потребителско име и парола, дадена Ви от издателите на канала.">
<!ENTITY password.username   "Потребителско име:">
<!ENTITY password.password   "Парола:">
