<!ENTITY searchchannel.description	"Каналът за търсене съдържа записи, отговарящи на даденото търсене.">
<!ENTITY searchchannel.termlabel 	"Търсене за:">
<!ENTITY searchchannel.title            "Нов канал за търсене">
<!ENTITY searchchannel.inthis "In This:">
<!ENTITY searchchannel.channel "Канал:">
<!ENTITY searchchannel.searchengine "Търсачка:">
<!ENTITY searchchannel.url "URL-адрес:">
<!ENTITY searchchannel.createchannel "Създаване на канал">
