
/* STRUCTURE
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

body {
	margin: 0px;
	padding: 0px;
	font: 12px "Lucida Grande", Arial, sans-serif;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	background: #000000;
}

#content {
	background: url(../images/black/bg-content.gif) repeat-x left top;
}

#content-inner {
	padding: 10px 0px;
}




/* ROUNDED BOX
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.box {
	clear: both;
	margin: 10px 0px 0px 0px;
	padding: 0px 10px 0px 0px;
	background: #333333 url(../images/black/box-bg.gif) repeat-y 100% 0%;
}

.box-bi {
	padding: 0px 0px 0px 10px;
	background: #333333 url(../images/black/box-border.gif) repeat-y 0% 0%;
}

.box-bt {
	height: 10px;
	margin: 0px -10px;
	background: url(../images/black/box-bg.gif) no-repeat 100% 0%;
}

.box-bt div {
	width: 10px;
	height: 10px;
	background: url(../images/black/box-bg.gif) no-repeat 0% 0%;
}

.box-bb {
	height: 10px;
	margin: 0px -10px;
	background: url(../images/black/box-bg.gif) no-repeat 100% 100%;
}

.box-bb div {
	width: 10px;
	height: 10px;
	background: url(../images/black/box-bg.gif) no-repeat 0% 100%;
}

.box p {
	margin: 0px;
	padding: 0px;
	background: #333333;
}

.box p a:link, .box p a:visited, .box p a:active {
	color: #CCCCCC;
	font-weight: bold;
	text-decoration: none;
}

.box p a:hover {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}




/* HEADER
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

#header {
	background: url(../images/black/bg-header.gif) repeat-x left bottom;
}

#header-inner, #content-inner {
	margin: 0px auto;
	width: 750px;
	text-align: left;
}

#header-inner {
	padding: 20px 0px;
}

#header h1 {
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	font-size: 250%;
	font-weight: normal;	
}

#header h1 a {
	color: #FFFFFF;
	text-decoration: none;
}

#header h2 {
	margin: 0px;
	padding: 0px;
	color: #CCCCCC;
	font-size: 140%;
	font-weight: normal;	
}

#avatar {
	float: left;
	width: 58px;
	height: 58px;
	margin: 0px 10px 0px 0px;
	padding: 5px 0px 0px 5px;
	background: url(../images/black/bg-avatar.gif) no-repeat left top;
}




/* CHANNEL
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.channel {
	position: relative;
	margin: 0px;
	padding: 30px 0px 20px 0px;
}

.channel-avatar {
	float: left;
	width: 45px;
	height: 45px;
	overflow: hidden;
	margin: 0px 10px 10px 0px;
}

.channel-left {
	float: left;
	width: 48%;
}

.channel-right {
	float: right;
	width: 48%;
}

.channel h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	color: #CCCCCC;
	font-size: 175%;
	font-weight: normal;
}

.channel h1 a:link, .channel h1 a:visited, .channel h1 a:active {
	color: #CCCCCC;
	text-decoration: none;
}

.channel h1 a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.channel h2 {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	color: #999999;
	font-size: 120%;
	font-weight: normal;
}

.channel h2 a:link, .channel h2 a:visited, .channel h2 a:active {
	color: #999999;
	text-decoration: underline;
}

.channel h2 a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.channel-subscribe {
	position: absolute;
	width: 158px;
	font-size: 90%;
	top: 50px;
	right: 0px;
	border-bottom: 1px solid #666666;
	z-index: 10;
}

.channel-subscribe p {
	margin: 0px;
	padding: 0px;
	background: url(../images/black/subscribe-title-bg.gif) no-repeat left top;
}

.channel-subscribe p a {
	display: block;
	padding: 4px 0px 4px 23px;
	color: #FFFFFF;
	text-decoration: none; 
	line-height: 12px;
	background: url(../images/black/icon-feed.gif) no-repeat 5px 50%;
}

.channel-subscribe-links ul {
	position: relative;
	list-style: none;
	margin: 0px;
	padding: 0px;
	background-color: #000000;
	border: 1px solid #666666;
}

.channel-subscribe-links li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.channel-subscribe-links li a:link, .channel-subscribe-links li a:visited, .channel-subscribe-links li a:active {
	color: #DDDDDD;
	text-decoration: none;
	display: block;
	padding: 5px 22px;
}

.channel-subscribe-links li a:hover {
	color: #FFFFFF;
	background-color: #333333;
	text-decoration: none;
}

.channel-subscribe-links {
	display: none;
	position: absolute;
	width: 158px;
}

.channel .recent {
	padding: 10px 10px 15px 10px;
	font-size : 120%;
	text-align: left;
	color: #999999;
}

.channel .nav {
	clear: left;
	padding: 0px 10px 10px 10px;
	font-size: 110%;
	text-align: right;
	color: #666666;
}

.channel .nav p a:link, .channel .nav p a:visited, .channel .nav p a:active {
	color: #999999;
	font-weight: normal;
	text-decoration: underline;
}

.channel .nav p a:hover {
	color: #999999;
	text-decoration: none;
}




/* VIDEOS ON FRONT PAGE
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.video-home {
	position: relative;
	float: left;
	width: 23%;
	margin: 0px 6px 0px 7px;
	text-align: center;	
}

.video-home-tnail {
	margin: 0px 0px 10px 0px;
}

.video-home-tnail a img {
	border: 1px solid #000000;
}

.video-home-tnail a:hover img {
	border: 1px solid #ffffff;
}

.video-home-info h1 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	color: #FFFFFF;
	font-size: 120%;
	font-weight: bold;		
}

.video-home-info h1 a:link, .video-home-info h1 a:visited, .video-home-info h1 a:active {
	color: #FFFFFF;
	text-decoration: underline;
}

.video-home-info h1 a:hover {
	color: #FFFFFF;
	text-decoration: none;
}




/* VIDEOS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.videos {

}

.video {
	clear: left;
	padding: 20px 0px;
}

.video-left {
	float: left;
	width: 48%;
	margin: 1%;
}

.video-right {
	float: left;
	width: 48%;
	margin: 1%;
}

.video-tnail {
	float: left;
	width: 150px;
}

.video-info {
	margin-left: 170px;
}

.video-info h1 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	color: #FFFFFF;
	font-size: 120%;
	font-weight: bold;	
}

.video-info h1 a:link, .video-info h1 a:visited, .video-info h1 a:active {
	color: #FFFFFF;
	text-decoration: underline;
}

.video-info h1 a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.video-info h2 {
	margin: -10px 0px 10px 0px;
	padding: 0px;
	color: #CCCCCC;
	font-size: 100%;
	font-weight: normal;	
}

.video-info h3 {
	margin: 10px 0px 10px 0px;
	padding: 0px;
	color: #999999;
	font-size: 110%;
	font-weight: bold;	
	border-bottom: solid 1px #333333;
}

.video-info p {
	margin: 0px 0px 15px 0px;
	padding: 0px;
}

.video-info p a:link, .video-info p a:visited, .video-info p a:active, .video-info li a:link, .video-info li a:visited, .video-info li a:active {
	color: #CCCCCC;
	text-decoration: underline;
}

.video-info p a:hover, .video-info li a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.video-info ul {
	margin: 0px 0px 15px 0px;
	padding: 0px;
	list-style-type: none;
}

.video-info li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: inline;
}




/* LINKS w/Icons
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.link-info {
	margin: 0px 15px 10px 0px;
	padding-left: 19px;
	background: url(../images/black/icon-info.gif) no-repeat left center;
}

.link-download, .link-torrent {
	margin: 0px 15px 10px 0px;
	padding-left: 19px;
	background: url(../images/black/icon-download.gif) no-repeat left center;
}

.link-tags {
	margin: 0px 0px 10px 0px;
	padding-left: 19px;
	background: url(../images/black/icon-tags.gif) no-repeat left center;
}

.link-date {
	margin: 0px 15px 10px 0px;
	padding-left: 19px;
	background: url(../images/black/icon-calendar.gif) no-repeat left center;
}

.link-duration {
	margin: 0px 15px 10px 0px;
	padding-left: 19px;
	background: url(../images/black/icon-clock.gif) no-repeat left center;
}

.link-website {
	margin: 0px 15px 10px 0px;
	padding-left: 21px;
	background: url(../images/black/icon-website.gif) no-repeat left center;
}

.link-user {
	margin: 0px 15px 10px 0px;
	padding-left: 21px;
	background: url(../images/black/icon-user.gif) no-repeat left center;
}

.link-warning {
	margin: 0px 15px 10px 0px;
	padding-left: 21px;
	background: url(../images/black/icon-warning.gif) no-repeat left center;
}

.link-transcript {
	margin: 0px 15px 10px 0px;
	padding-left: 21px;
	background: url(../images/black/icon-transcript.gif) no-repeat left center;
}

.link-license {
	margin: 0px 15px 10px 0px;
	padding-left: 21px;
	background: url(../images/black/icon-license.gif) no-repeat left center;
}


.link-dtv {
	padding-left: 19px;
	line-height: 12px;
	background: url(../images/black/icon-dtv.gif) no-repeat 5px 50%;
}

.link-feed {
	padding-left: 19px;
	line-height: 12px;
	background: url(../images/black/icon-feed.gif) no-repeat 5px 50%;
}

.link-itunes {
	padding-left: 19px;
	line-height: 12px;
	background: url(../images/black/icon-itunes.gif) no-repeat 5px 50%;
}





/* FOOTER
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

#footer {
	clear: both;
	padding: 30px 0px 20px 0px;
}

.footer p {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	color: #CCCCCC;
	font-size: 90%;
}

.footer p a:link, .footer p a:visited, .footer p a:active {
	color: #FFFFFF;
	text-decoration: underline;
}

.footer p a:hover {
	color: #FFFFFF;
	text-decoration: none;
}




/* MISCELLANEOUS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.reflect {
	margin-bottom: -2px;
}

.small {
	font-size: 90%;
}

img {
	border: 0px;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
}