<?xml version="1.0" encoding="UTF-8"?>
<configs>

   <!-- COLORS -->

   <color1 value="0000CC" />  <!-- LOGO, BUTTON -->
   <color2 value="FFFFFF" />  <!-- BUTTON TEXT, BACKGROUND -->
   <color3 value="0000CC" />  <!-- PLAYLIST TEXT -->
   <color4 value="CCCCCC" />  <!-- BORDER -->
   <bg_opacity value="100" /> <!-- BACKGROUND OPACITY -->

   <!-- PLAYLIST PATH -->
   <playlist path="sounds/playlist.php" />

   <!-- PARAMETERS --> 
   <buffer value="5" />
   <crossfader value="1" /> <!-- 1 | 0 -->
   <style value="full" />   <!-- full | mini | compact -->

    <!-- RADIO.BLOG.CLUB -->
    <register value="1" />
    

</configs>