<!ENTITY password.title      "Kanālam ir nepieciešama autorizācija">
<!ENTITY password.prompt     "Lūdzu ievadiet nepieciešamo lietotājvārdu un paroli.">
<!ENTITY password.username   "Lietotājvārds:">
<!ENTITY password.password   "Parole:">
