<!ENTITY searchchannel.description	"Meklēšanas kanāls satur tos elementus, kas atbilst meklētajai frāzei.">
<!ENTITY searchchannel.termlabel 	"Meklēt:">
<!ENTITY searchchannel.title            "Jauns meklēšanas kanāls">
<!ENTITY searchchannel.inthis "Šajā:">
<!ENTITY searchchannel.channel "Kanāls:">
<!ENTITY searchchannel.searchengine "Meklētājs:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Izveidot kanālu">
