<!ENTITY nbsp                " ">
<!ENTITY rsaquo              "'">

<!ENTITY about.title         "Om $longAppName">
<!ENTITY about.body          "$longAppName version $appVersion ($appRevision); copyright © 2005, 2006 $publisher.">
