<!ENTITY about.title         "Om $longAppName">
<!ENTITY about.body          "$longAppName version $appVersion ($appRevision); copyright (c) 2005-2007 $publisher. $longAppName och $longAppName-logon är varumärken som tillhör $publisher.">
