<!ENTITY nbsp                " ">
<!ENTITY rsaquo              "'">

<!ENTITY addchannel.title    "Lägg till kanal">
<!ENTITY addchannel.prompt   "Ange url:en för kanalen som du vill lägga till.">
