<!ENTITY canscrape.title     "Channel is not compatible with $shortAppName!">
<!ENTITY canscrape.body      "Men vi kommer att försöka att fånga filerna. Det kan ta lite extra tid att lista filmerna, och beskrivningarna kan se konstiga ut.">

<!ENTITY canscrape.prefix    "Kontakta de som publicerat">
<!ENTITY canscrape.suffix    "and ask if they can supply a feed in a format that will work with $shortAppName.">
