<!ENTITY password.title      "Kanalen kräver autentisering">
<!ENTITY password.prompt     "Ange användarnamnet och lösenordet som du fick av kanalansvarige.">
<!ENTITY password.username   "Användarnamn:">
<!ENTITY password.password   "Lösenord:">
