tv/linux/build
tv/linux/dist
tv/linux/miro
tv/linux/miro.1.gz
tv/linux/miro.real.1.gz
tv/linux/plat/__init__.pyc
tv/linux/plat/xlibhelper.c
tv/linux/plat/frontends/widgets/mozprompt.pxi
tv/linux/plat/frontends/widgets/windowcreator.cpp
tv/linux/plat/frontends/widgets/pluginsdir.cpp
tv/linux/plat/frontends/widgets/mozprompt.c
tv/linux/plat/frontends/widgets/mozprompt.h
tv/linux/plat/frontends/widgets/httpobserver.c
tv/windows/build
tv/windows/dist
tv/windows/plat/frontends/widgets/XULRunnerBrowser/xulrunnerbrowser.cpp
tv/windows/plat/frontends/widgets/XULRunnerBrowser/xulrunnerbrowser.h
tv/osx/Miro.app
tv/osx/build
tv/osx/miro-binary-kit-osx-*
tv/lib/frontends/widgets/gtk/pygtkhacks.c

*pyc
*~

.DS_Store
sandbox/*
