tv/platform/gtk-x11/build
tv/platform/gtk-x11/dist
tv/platform/gtk-x11/miro
tv/platform/gtk-x11/miro.1.gz
tv/platform/gtk-x11/miro.real.1.gz
tv/platform/gtk-x11/plat/__init__.pyc
tv/platform/gtk-x11/plat/xlibhelper.c
tv/platform/gtk-x11/plat/frontends/widgets/mozprompt.pxi
tv/platform/gtk-x11/plat/frontends/widgets/windowcreator.cpp
tv/platform/gtk-x11/plat/frontends/widgets/pluginsdir.cpp
tv/platform/gtk-x11/plat/frontends/widgets/mozprompt.c
tv/platform/gtk-x11/plat/frontends/widgets/mozprompt.h
tv/platform/gtk-x11/plat/frontends/widgets/httpobserver.c
tv/platform/gtk-x11/xine/xine.c
tv/platform/gtk-x11/xine/xine_extractor
tv/platform/windows-xul/build
tv/platform/windows-xul/dist
tv/platform/windows-xul/plat/frontends/widgets/XULRunnerBrowser/xulrunnerbrowser.cpp
tv/platform/windows-xul/plat/frontends/widgets/XULRunnerBrowser/xulrunnerbrowser.h
tv/platform/osx/Miro.app
tv/platform/osx/build
tv/platform/osx/miro-binary-kit-osx-*
tv/portable/*.c
tv/portable/frontends/widgets/gtk/pygtkhacks.c

*pyc
*~

.DS_Store
sandbox/*
