<!ENTITY password.title      "Το κανάλι χρειάζεται πιστοποίηση">
<!ENTITY password.prompt     "Please enter the username and password given to you by this channel's publisher.">
<!ENTITY password.username   "Όνομα Χρήστη:">
<!ENTITY password.password   "Κωδικός Πρόσβασης:">
