<!ENTITY password.title      "Το κανάλι χρειάζεται πιστοποίηση">
<!ENTITY password.prompt     "Παρακαλούμε  εισάγετε το όνομα χρήστη (username) και τον κωδικό πρόσβασης (password) που σας παρείχε ο παραγωγός του καναλιού">
<!ENTITY password.username   "Όνομα Χρήστη:">
<!ENTITY password.password   "Κωδικός Πρόσβασης:">
