<!ENTITY searchchannel.description	"Έναστοιχείο της αναζήτησης σας περιελαμβάνεται  σε ενα κανάλι">
<!ENTITY searchchannel.termlabel 	"Ψάξε για:">
<!ENTITY searchchannel.title            "Νέα Αναζήτηση Καναλιού">
<!ENTITY searchchannel.inthis "Σ' αυτό:">
<!ENTITY searchchannel.channel "Κανάλι:">
<!ENTITY searchchannel.searchengine "Μηχανή αναζήτησης:">
<!ENTITY searchchannel.url "Διεύθυνση δικτύου:">
<!ENTITY searchchannel.createchannel "Δημιουργία καναλιού">
