<!ENTITY password.title      "Kanalo bezonas aŭtentigon">
<!ENTITY password.prompt     "Bonvole enigu la uzantonomon kaj pasvorton kiuj vi donis la publiculo de tiu ĉi kanalo.">
<!ENTITY password.username   "Salutnomo:">
<!ENTITY password.password   "Pasvorto:">
