<!ENTITY searchchannel.description	"A search channel contains items that match a search term.">
<!ENTITY searchchannel.termlabel 	"Search For:">
<!ENTITY searchchannel.title            "New Search Channel">
<!ENTITY searchchannel.inthis "In This:">
<!ENTITY searchchannel.channel "Channel:">
<!ENTITY searchchannel.searchengine "Search Engine:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Create Channel">
