#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

# Must be included before python-distutils.mk to use dh_python / dh_pysupport.
include /usr/share/cdbs/1/rules/debhelper.mk

# Use Python distutils to install the package.
include /usr/share/cdbs/1/class/python-distutils.mk
DEB_PYTHON_SETUP_CMD := platform/gtk-x11/setup.py

# Override dh_python invokation.
binary-install/miro::
	dh_python -pmiro 
binary-install/miro-data::
	dh_python -pmiro-data

include /usr/share/cdbs/1/rules/simple-patchsys.mk

# Install everything into debian/tmp, as we have a multi-binary package.
DEB_DH_INSTALL_SOURCEDIR := debian/tmp

# Remove unneeded files from the deb.
binary-post-install/miro::
	rm -rf debian/miro/usr/share/python-support/miro/miro/compiled_templates/unittest
	rm -rf debian/miro/usr/share/python-support/miro/miro/test

# Remove unneeded files from the deb.
binary-post-install/miro-data::
	rm -rf debian/miro-data/usr/share/miro/resources/testdata
	rm -rf debian/miro-data/usr/share/miro/resources/templates/unittest

# TODO: This should probably be done in the upstream source.
clean::
	rm -rf portable/compiled_templates/*
	rm -f portable/database.c
	rm -f portable/sorts.c
	rm -f platform/gtk-x11/xine/xine.c
	rm -f platform/gtk-x11/frontend_implementation/MozillaBrowser.c
	rm -f platform/gtk-x11/frontend_implementation/xlibhelper.c
	rm -f platform/gtk-x11/miro.1.gz
	rm -f portable/*.pyc
	# rm -f resources/locale/*.mo
	rm -f platform/gtk-x11/platform/__init__.pyc
	rm -f portable/frontends/__init__.pyc 
	rm -f portable/frontends/html/templatehelper.pyc 
	rm -f portable/frontends/html/__init__.pyc 
	rm -f portable/frontends/html/template_compiler.pyc

