<!ENTITY password.title      "Tá fíor-dheimhniú de dhíth ón bealach">
<!ENTITY password.prompt     "Cuir isteach an t-ainm úsáideora agus an focal faire a thug foilsitheoir an bhealaigh duit le do thoil.">
<!ENTITY password.username   "Ainm Úsáideora:">
<!ENTITY password.password   "Focal Faire:">
