<!ENTITY password.title      "Kanał wymaga autoryzacjI">
<!ENTITY password.prompt     "Wpisz nazwę użytkownika i hasł, które otrzymałeś od administratora tego kanału.">
<!ENTITY password.username   "Nazwa użytkownika:">
<!ENTITY password.password   "Hasło:">
