<!ENTITY password.title      "Kanał wymaga autoryzacji">
<!ENTITY password.prompt     "Proszę wprowadzić nazwę użytkownika i hasło otrzymane od wydawcy tego kanału">
<!ENTITY password.username   "Nazwa użytkownika:">
<!ENTITY password.password   "Hasło:">
