<!ENTITY searchchannel.description	"A search channel contains items that match a search term.">
<!ENTITY searchchannel.termlabel 	"Szukaj:">
<!ENTITY searchchannel.title            "New Search Channel">
<!ENTITY searchchannel.inthis "W tym">
<!ENTITY searchchannel.channel "Kanał:">
<!ENTITY searchchannel.searchengine "Wyszukiwarka:">
<!ENTITY searchchannel.url "Adres URL:">
<!ENTITY searchchannel.createchannel "Utwórz kanał">
