<!ENTITY migrate.title "არსებულ ფილმები შეუერთდეს?">
<!ENTITY migrate.accept "მიგრირება">
<!ENTITY migrate.cancel "არ გააერთიანო">
<!ENTITY migrate.description "You've selected a new folder to download movies to.  Should $shortAppName migrate your existing downloads there?(Currently dowloading movies will not be moved until they finish)">