<!ENTITY nbsp                " ">
<!ENTITY rsaquo              "'">

<!ENTITY addchannel.title    "Aggiungi Canale">
<!ENTITY addchannel.prompt   "Inserisci l'URL del canale che vuoi aggiungere.">
