<!ENTITY password.title      "Il canale richiede l'autenticazione">
<!ENTITY password.prompt     "Inserisci nome utente e password che ti sono state assegnati dall'editore del canale.">
<!ENTITY password.username   "Nome utente:">
<!ENTITY password.password   "Password:">
