<!ENTITY searchchannel.description	"Un canale di ricerca contiente gli elementi che corrispondono ad un termine di ricerca.">
<!ENTITY searchchannel.termlabel 	"Ricerca:">
<!ENTITY searchchannel.title            "Nuova ricerca canali">
<!ENTITY searchchannel.inthis "In This:">
<!ENTITY searchchannel.channel "Canale:">
<!ENTITY searchchannel.searchengine "Motore di ricerca:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Crea canale">
