<!ENTITY canscrape.title     "Channel is not compatible with $shortAppName!">
<!ENTITY canscrape.body      "파일을 찾고 있습니다. 동영상을 찾아 목록을 만드는 데 시간이 걸립니다.">

<!ENTITY canscrape.prefix    "제작자에게 연락하세요.">
<!ENTITY canscrape.suffix    "and ask if they can supply a feed in a format that will work with $shortAppName.">
