<!ENTITY password.title      "Strežnik zahteva overitev">
<!ENTITY password.prompt     "Prosimo vnesite uporabniško ime in geslo, ki vam ga je posredoval založnik tega kanala.">
<!ENTITY password.username   "Uporabniško ime:">
<!ENTITY password.password   "Geslo:">
