<!ENTITY prefs.title "Nastavitve">

<!ENTITY prefs.run.on.startup "Automatically run $longAppName when I login">

<!ENTITY prefs.general "General">

<!ENTITY prefs.channels "Channels">
<!ENTITY prefs.channels.check "Preveri če imajo kanali novo vsebine">
<!ENTITY prefs.channels.check.thirty "Every 30 minutes">
<!ENTITY prefs.channels.check.sixty "Every hour">
<!ENTITY prefs.channels.check.manually "Manually">

<!ENTITY prefs.playback "Playback">
<!ENTITY prefs.playback.remember.pos "Remember video position.">
<!ENTITY prefs.playback.auto.next.video "Play videos one after another.">
<!ENTITY prefs.playback.stop.after.each "Stop after each video.">

<!ENTITY prefs.folder.movies "Movies Directory">
<!ENTITY prefs.folder.downloads "Store downloaded videos in this folder:">
<!ENTITY prefs.folder.change "Change...">

<!ENTITY prefs.downloads.max "Downloads">
<!ENTITY prefs.downloads.max.part1 "Download at most">
<!ENTITY prefs.downloads.max.part2 "videos at once.">

<!ENTITY prefs.disk.space "Disk Space">
<!ENTITY prefs.disk.space.min.part1 "Ne prični prenosa, če bo ostalo manj kot">
<!ENTITY prefs.disk.space.min.part2 "GB prostih.">
<!ENTITY prefs.disk.space.warning.restart "WARNING: This setting will not go into effect until you restart $longAppName.">

<!ENTITY prefs.videos.expire "Privzeto bodo videji potekli po">
<!ENTITY prefs.videos.expire.one "1 dan">
<!ENTITY prefs.videos.expire.three "3 dni">
<!ENTITY prefs.videos.expire.six "6 dni">
<!ENTITY prefs.videos.expire.ten "10 dni">
<!ENTITY prefs.videos.expire.thirty "1 mesec">
<!ENTITY prefs.videos.expire.never "Nikoli">

<!ENTITY prefs.torrent.restart.warning "(WARNING: Changes won't go into effect until you restart $longAppName.)">
<!ENTITY prefs.torrent.limit.upstream.part1 "Da bi se iyognil">
<!ENTITY prefs.torrent.limit.upstream.part2 "KB/s kadar je moj računalnik aktiven.">
<!ENTITY prefs.torrent.uses.ports.part1 "Bit Torrent uses ports between">
<!ENTITY prefs.torrent.uses.ports.part2 "and">
