<!ENTITY searchchannel.description	"A search channel contains items that match a search term.">
<!ENTITY searchchannel.termlabel 	"వెతుకు:">
<!ENTITY searchchannel.title            "New Search Channel">
<!ENTITY searchchannel.inthis "ఇందులో:">
<!ENTITY searchchannel.channel "వాహిని:">
<!ENTITY searchchannel.searchengine "శోధన యంత్రం:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Create Channel">
