Source: miro
Section: net
Priority: optional
Maintainer: Will Guaraldi <will.guaraldi@pculture.org>
Build-Depends: cdbs, 
               debhelper (>= 5), 
               python2.5, 
               python-support, 
               python-pyrex, 
               python-dev, 
               libboost-python-dev, 
               libboost-filesystem-dev, 
               libboost-date-time-dev, 
               libboost-thread-dev, 
               libboost-serialization-dev, 
               python-gtk2-dev, 
               python-gnome2-extras-dev (>= 2.14.0-2), 
               python2.5-dbus, 
               libxine-dev, 
               libxv-dev, 
               libssl-dev, 
               xulrunner-1.9-dev
Standards-Version: 3.7.3

Package: miro
Architecture: any
Depends: ${shlibs:Depends}, 
         ${misc:Depends}, 
         ${python:Depends}, 
         python-gtk2, 
         python-gnome2, 
         python-gnome2-extras (>= 2.14.0-2), 
         python-glade2, 
         imagemagick, 
         libxine1-plugins, 
         libxine1, 
         xulrunner-1.9,
         miro-data (>= 1.2.2)
Recommends: libxine1-ffmpeg
Suggests: python-psyco [i386 hurd-i386 netbsd-i386 kfreebsd-i386]
Description: GTK+ based RSS video aggregator
 Miro is a platform for Internet television and video.
 It allows you to download and watch videos from RSS feeds (including
 podcasts, video blogs, and BitTorrent feeds).

Package: miro-data
Architecture: all
Description: GTK+ based RSS video aggregator data files
 Miro is a platform for Internet television and video.
 It allows you to download and watch videos from RSS feeds (including
 podcasts, video blogs, and BitTorrent feeds).

