

/* TITLEBAR 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#titlebar {
	background: url(images/titlebar-bg.png) repeat-x 0px 0px;
	border: 0px;
}

.titlebar menu {
	-moz-appearance: none; 
	color: #FFFFFF;
}

.titlebar-toplevel {
	margin: 2px 10px 0px 0px;
	padding: 1px 5px;
	border: 0px;
}

.titlebar menubar, .titlebar menubar:hover {
	-moz-appearance: none;
}

.titlebar menu:hover {
	-moz-appearance: none;
	background-color: #000000;
}

.titlebar menuitem, .titlebar menu menu {
	-moz-appearance: none;
	color: #CCCCCC;
}

.titlebar menuitem:hover, .titlebar menu menu:hover {
	-moz-appearance: none;
	color: #FFFFFF;
	background-color: #444444;
}

.titlebar menupopup {
	-moz-appearance: none;
	-moz-border-top-colors: #777777 #555555;
	-moz-border-right-colors: #777777 #555555;
	-moz-border-bottom-colors: #000000 #222222;
	-moz-border-left-colors: #000000 #222222;
	background-color: #333333;
	color: #CCCCCC;
}

.titlebar menuseparator {
	-moz-appearance: none;
	-moz-border-top-colors: #555555;
	-moz-border-bottom-colors: #333333;
}

.titlebar caption {
	background: none;
	font: bold 12px "Tahoma", "Trebuchet MS", Arial;
	color: #FFFFFF;
	text-align: center;
	padding-top: 6px;
}

#titlebar-buttons {
	margin: 4px 2px 0px 0px;
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
}

#titlebar-buttons li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;	
	display: inline;
}

#titlebar-buttons a {
	float: left;
	height: 0px;
	margin: 0px 2px 0px 0px;
	padding: 16px 0px 0px 0px;
	overflow: hidden;
	cursor: default;
}

#titlebar-buttons-minimize a {	
	width: 16px;
	background:  url(images/titlebar-buttons.png) no-repeat 0px 0px;
}

#titlebar-buttons-minimize a:hover {	
	width: 16px;
	background:  url(images/titlebar-buttons.png) no-repeat 0px -16px;
}

#titlebar-buttons-maximize a {	
	width: 16px;
	background:  url(images/titlebar-buttons.png) no-repeat -16px 0px;
}

#titlebar-buttons-maximize a:hover {	
	width: 16px;
	background:  url(images/titlebar-buttons.png) no-repeat -16px -16px;
}

#titlebar-buttons-close a {	
	width: 16px;
	background: url(images/titlebar-buttons.png) no-repeat -32px 0px;
}

#titlebar-buttons-close a:hover {	
	width: 16px;
	background: url(images/titlebar-buttons.png) no-repeat -32px -16px;
}



/* MAIN 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

splitter {
	-moz-appearance: none;
	-moz-border-right-colors: #666666 #444444;
	-moz-border-left-colors: #666666 #444444;
	background: #333333;
}	

#resizer-left:hover, #resizer-right:hover {
	cursor: e-resize;	
}	

#bottom-right {
}

#resizer-bottomright {
	-moz-appearance: none;
	margin-top: 45px;
	width: 20px;
	height: 20px;
	background: url(images/bottom-resizer.png) no-repeat 0px 0px;
}

#resizer-bottomright:hover {
	cursor: se-resize;
}



/* BOTTOM 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#bottom {	
	background: url(images/bottom-bg.png) repeat-x 0px 0px;
}

.bottom-left {

}

.bottom button {	
	-moz-appearance: none;
	-moz-border-top-colors: #333333 #222222 #111111;
	-moz-border-left-colors: #333333 #222222 #111111;
	-moz-border-bottom-colors: #333333 #222222 #111111;
	-moz-border-right-colors: #333333 #222222 #111111;
	background: url(images/titlebar-bg.png) repeat-x 0px 50%;
	color: #CCCCCC;
	padding: 2px 5px;
}

.bottom button:hover {	
	-moz-appearance: none;
	-moz-border-top-colors: #444444 #222222 #111111;
	-moz-border-left-colors: #444444 #222222 #111111;
	-moz-border-bottom-colors: #444444 #222222 #111111;
	-moz-border-right-colors: #444444 #222222 #111111;
	background: url(images/titlebar-bg.png) repeat-x 0px 50%;
	color: #FFFFFF;
}

#bottom-left-addchannel {
	margin: 17px 10px 0px 15px;
}

#bottom-left-preferences {
	margin: 17px 0px 0px 0px;
}

#bottom-center {

}

#bottom-center a {
	cursor: default;	
}

#bottom-progress {
	margin: 9px 20px 0px 0px;
}

#bottom-buttons {
	float: left;
	margin: 0px;
	padding: 2px 0px 0px 0px;
	list-style-type: none;
}

#bottom-buttons li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;	
	display: inline;
}

#bottom-buttons a {
	float: left;
	height: 0px; 
	margin: 0px 2px 0px 0px;
	padding: 39px 0px 0px 0px;
	overflow: hidden;
	cursor: default;	
}

#bottom-buttons-previous a {	
	width: 31px;
	background:  url(images/bottom-controls.png) no-repeat 0px 0px;
}

#bottom-buttons-previous a:hover {	
	width: 31px;
	background:  url(images/bottom-controls.png) no-repeat 0px -39px;
}

#bottom-buttons-stop a {	
	width: 39px;
	background:  url(images/bottom-controls.png) no-repeat -31px 0px;
}

#bottom-buttons-stop a:hover {	
	width: 39px;
	background:  url(images/bottom-controls.png) no-repeat -31px -39px;
}

#bottom-buttons-play a {	
	width: 39px;
	background:  url(images/bottom-controls.png) no-repeat -70px 0px;
}

#bottom-buttons-play a:hover {	
	width: 39px;
	background:  url(images/bottom-controls.png) no-repeat -70px -39px;
}

#bottom-buttons-fullscreen a {	
	width: 31px;
	background:  url(images/bottom-controls.png) no-repeat -109px 0px;
}

#bottom-buttons-fullscreen a:hover {	
	width: 31px;
	background:  url(images/bottom-controls.png) no-repeat -109px -39px;
}

#bottom-buttons-next a {	
	width: 31px;
	background:  url(images/bottom-controls.png) no-repeat -140px 0px;
}

#bottom-buttons-next a:hover {	
	width: 31px;
	background:  url(images/bottom-controls.png) no-repeat -140px -39px;
}

#volume {
  width: 110px;
  height: 100px;
	background: url(images/bottom-volume.png) no-repeat 0px 26px;
}

#knob {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 26px;
  left: 98px; /* The slider can move between 15px and 105px */
  margin: 0px;
  padding: 0px;
  background: url(images/bottom-volume-slider.png) no-repeat;
  z-index: 100;
}