ftitle
wnindow, hbox, vbox, menu, menubar, menuitem, menupopup {	
	font: normal 11px "Tahoma", "Trebuchet MS", Arial;
}

description[disabled] {
	color: #AAA;
}

/* TITLEBAR 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#titlebar {
	background: url(images/titlebar-bg.png) repeat-x 0px 0px;
	border-bottom: 1px solid #404040;
/*	
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
*/
}

#titlebar-menu {
  margin-left: 10px;
}

.titlebar menu {
	-moz-appearance: none; 
	color: #111;
	margin: 2px;
}

.titlebar menu:hover {
	-moz-appearance: none;
	background: -moz-menuhover;
	color: #FFF;
}

.titlebar-toplevel {
	margin: 2px 10px 0px 0px;
	border: 0px;
}

.titlebar menubar, .titlebar menubar:hover {
	-moz-appearance: none;
	border: 0;
}

.titlebar menuitem {
    height: 18px;
}

.titlebar menuitem, .titlebar menu menu {
	-moz-appearance: none;
	color: #111;
}

.titlebar menuitem:hover, .titlebar menu menu:hover {
	-moz-appearance: none;
	color: #FFF;
	background-color: -moz-menuhover;
}

.titlebar menu menuitem[disabled] {
	color: #999;
	background-color: inherit;
}

.titlebar menupopup {
	-moz-appearance: none;
	padding-top: 2px;
	padding-bottom: 6px;
	border: 1px solid #949494;
	background-color: #CCC;
	color: #111;
}

.titlebar menuseparator {
	-moz-appearance: none;
	border: 0px;
    border-top: 1px solid #666;
	margin-top: 8px;
	margin-left: 6px;
	margin-right: 6px;
}

.titlebar caption {
	background: none;
	font: bold 12px "Tahoma", "Trebuchet MS", Arial;
	color: #111;
	text-align: center;
	padding-top: 6px;
}
/*
#titlebar-buttons {
	margin: 4px 2px 0px 0px;
	padding: 0px;
	list-style-type: none;
	overflow: hidden;
}

#titlebar-buttons li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;	
	display: inline;
}

#titlebar-buttons a {
	float: left;
	height: 0px;
	margin: 0px 2px 0px 0px;
	padding: 16px 0px 0px 0px;
	overflow: hidden;
	cursor: default;
}
*/
.titlebar-button {
    width: 14px;
    height: 15px;
    margin-right: 4px;
}

#titlebar-buttons-minimize {
    background-image: url(images/win-minimize.png);
}

#titlebar-buttons-minimize:hover {	
    background-image: url(images/win-minimize-over.png);
}

#titlebar-buttons-maximize {	
    background-image: url(images/win-maximize.png);
}

#titlebar-buttons-maximize:hover {	
    background-image: url(images/win-maximize-over.png);
}

#titlebar-buttons-maximize.restore {	
    background-image: url(images/win-restore.png);
}

#titlebar-buttons-maximize.restore:hover {	
    background-image: url(images/win-restore-over.png);
}

#titlebar-buttons-close {	
    background-image: url(images/win-close.png);
}

#titlebar-buttons-close:hover {	
    background-image: url(images/win-close-over.png);
}



/* MAIN 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

splitter {
	-moz-appearance: none;
    border: 0px;
    background: #949494 !important; 
    min-width: 1px !important;
    width: 1px !important;
}	

resizer {
    background: #949494;
}

resizer:hover {
	cursor: e-resize;	
}	

resizer.side-resizer {
    min-width: 2px;
    max-width: 2px;
}

#bottom-right {
    width: 20px;
}

#resizer-bottom-right {
	-moz-appearance: none;
	margin-top: 45px;
	width: 20px;
	height: 20px;
	background: url(images/bottom-resizer.png) no-repeat 0px 0px;
}

#resizer-bottom-right:hover {
	cursor: se-resize;
}

/* BOTTOM 
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.bottom {	
    border-top: 1px solid #AAA;
	background: url(images/bottom-bg.png) repeat-x 0px 0px;
}

.bottom textbox {
    border: none;
}

#search-icon {
    padding-left: 6px;
}

#bottom-left-search {
	margin: 17px 20px 0px 15px;
}

.searchbar-dropmarker-image {
    width: 11px;
    height: 9px;
    margin-top: 2px;
    background: url(images/search-arrow.gif) no-repeat;
}

#bottom-center {

}

#bottom-center a {
	cursor: default;	
}

#bottom-buttons {
}

#bottom-buttons image {
	margin: 0px 2px 0px 0px;
}

.bottom-buttons-previous, .bottom-buttons-previous:hover,.bottom-buttons-previous-inactive,
.bottom-buttons-fullscreen, .bottom-buttons-fullscreen:hover, .bottom-buttons-fullscreen-inactive,
.bottom-buttons-next, .bottom-buttons-next:hover, .bottom-buttons-next-inactive {
    width: 32px;
    height: 31px;
}

.bottom-buttons-stop, .bottom-buttons-stop:hover, .bottom-buttons-stop-inactive,
.bottom-buttons-play, .bottom-buttons-play:hover, .bottom-buttons-play-inactive,
.bottom-buttons-pause, .bottom-buttons-pause:hover, .bottom-buttons-pause-inactive {
    width: 39px;
    height: 39px;
}

.bottom-buttons-previous {
    background: url(images/pb-skip-previous.png) no-repeat;
}

.bottom-buttons-previous:hover {	
    background: url(images/pb-skip-previous-active.png) no-repeat;
}

.bottom-buttons-previous-inactive {
    background: url(images/pb-skip-previous.png) no-repeat;
    -moz-opacity: 0.5;
}

.bottom-buttons-stop {
    background: url(images/pb-stop.png) no-repeat;
}

.bottom-buttons-stop:hover {	
    background: url(images/pb-stop-active.png) no-repeat;
}

.bottom-buttons-stop-inactive {	
    background: url(images/pb-stop.png) no-repeat;
    -moz-opacity: 0.5;
}

.bottom-buttons-play {	
    background: url(images/pb-play.png) no-repeat;
}

.bottom-buttons-play:hover {	
    background: url(images/pb-play-active.png) no-repeat;
}

.bottom-buttons-play-inactive {	
    background: url(images/pb-play.png) no-repeat;
    -moz-opacity: 0.5;
}

.bottom-buttons-pause {	
    background: url(images/pb-pause.png) no-repeat;
}

.bottom-buttons-pause:hover {	
    background: url(images/pb-pause-active.png) no-repeat;
}

.bottom-buttons-fullscreen {	
    background: url(images/pb-play-fullscreen.png) no-repeat;
}

.bottom-buttons-fullscreen:hover {	
    background: url(images/pb-play-fullscreen-active.png) no-repeat;
}

.bottom-buttons-fullscreen-inactive {	
    background: url(images/pb-play-fullscreen.png) no-repeat;
    -moz-opacity: 0.5;
}

.bottom-buttons-next {	
    background: url(images/pb-skip-forward.png) no-repeat;
}

.bottom-buttons-next:hover {	
    background: url(images/pb-skip-forward-active.png) no-repeat;
}

.bottom-buttons-next-inactive {	
    background: url(images/pb-skip-forward.png) no-repeat;
    -moz-opacity: 0.5;
}

#volume {
  width: 120px;
  height: 64px;
  background: url(images/bottom-volume.png) no-repeat 0px 24px;
}

#volume-knob {
  width: 16px;
  height: 16px;
}

#bottom-progress {
    -moz-opacity: 1.0;
}

#bottom-progress.bottom-progress-inactive {
    -moz-opacity: 0.5;
}

#bottom-progress label {
  font-size: 10px;
  color: #EEE;
  margin: 0px;
}

#bottom-progress #progress-text {
    width: 48px;
    height: 29px;
    padding-right:4px;
    padding-top: 8px;
    background: url(images/progress-left.png) no-repeat;
    text-align: right;
}

#bottom-progress #duration-text {
    width: 57px;
    height: 29px;
    padding-left:4px;
    padding-top: 8px;
    background: url(images/progress-right.png) no-repeat;
    text-align: left;
}

#bottom-progress #progress-center {
    height: 29px;
    background: url(images/progress.png) repeat-x;
}

#bottom-progress #progress-track {
    padding-top: 8px;
}

#bottom-progress.bottom-progress-inactive #progress-track {
    display: none;
}

#bottom-progress #progress-track-left {
    width: 2px;
    background: url(images/progress-track-left.png) no-repeat;
}

#bottom-progress #progress-track-center {
    background: url(images/progress-track-center.png) repeat-x;
}

#bottom-progress #progress-track-right {
    width: 2px;
    background: url(images/progress-track-right.png) no-repeat;
}

#bottom-progress #progress-track-current {
    padding-top: 8px;
}

#bottom-progress.bottom-progress-inactive #progress-track-current {
    display: none;
}

#bottom-progress #progress-track-current-left {
    width: 1px;
    background: url(images/progress-track-current-left.png) no-repeat;
}

#bottom-progress #progress-track-current-center {
    background: url(images/progress-track-current-center.png) repeat-x;
}

#bottom-progress #progress-track-current-right {
    width: 1px;
    height: 13px;
    background: url(images/progress-track-current-right.png) no-repeat;
}

#bottom-progress #progress-slider {
  position: absolute;
  top: 8px;
  padding: 0px;
  width: 6px;
  height: 13px;
  background: url("images/progress-slider.png") no-repeat;
}

#bottom-progress.bottom-progress-inactive #progress-slider {
    display: none;
}

wizard.startup {
  height: 400px;
}

.startup-indented {
  margin-left: 30px;
}

tabbox.prefs tab {
   font-size: 150%;
   padding: 2px 10px;
}

tabbox.prefs tabpanel {
   padding-top: 12px;
}

radiogroup.indented radio {
   margin-left: 20px;
}

tabbox.prefs caption {
    background-color: #f6f6f6;
}

tabbox.prefs groupbox {
    border-color: #CCC;
}

tabbox.prefs .suboption {
    margin-left: 20px;
}
