<!ENTITY about.title         "Om $longAppName">
<!ENTITY about.body          "$longAppName versjon $appVersion ($appRevision); copyright (c) 2005–2007 $publisher. $longAppName og $longAppName-logoen er varemerker av $publisher.">
