<!ENTITY password.title      "Kanalen krever godkjenning">
<!ENTITY password.prompt     "Skriv inn brukernavn og passord som du har fått av kanalens utgiver.">
<!ENTITY password.username   "Brukernavn:">
<!ENTITY password.password   "Passord:">
