<!ENTITY nbsp                " ">
<!ENTITY rsaquo              "'">

<!ENTITY password.title      "Kanalen krever godkjenning">
<!ENTITY password.prompt     "Vennligst tast inn brukernavn og passord gitt til deg av kanalens utgiver.">
<!ENTITY password.username   "Brukernavn:">
<!ENTITY password.password   "Passord:">
