<!ENTITY searchchannel.description	"En søkekanal inneholder gjenstander som stemmer overens med et søk.">
<!ENTITY searchchannel.termlabel 	"Søk etter:">
<!ENTITY searchchannel.title            "Ny søkekanal">
<!ENTITY searchchannel.inthis "In This:">
<!ENTITY searchchannel.channel "Channel:">
<!ENTITY searchchannel.searchengine "Search Engine:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Lag kanal">
