<!ENTITY nbsp				" ">
<!ENTITY rsaquo				"'">

<!ENTITY main.title	"$longAppName">
<!ENTITY main.about	"$longAppName-ri buruz">

<!ENTITY main.menu.file				"File">
<!ENTITY main.menu.file.open			"Open...">
<!ENTITY main.menu.file.new.playlist		"New Playlist...">
<!ENTITY main.menu.file.new.playlistfolder	"New Playlist Folder...">
<!ENTITY main.menu.file.new.channelfolder	"New Channel Folder...">
<!ENTITY main.menu.file.rename			"Rename...">
<!ENTITY main.menu.file.exit			"Exit">
