<!ENTITY nbsp                " ">
<!ENTITY rsaquo              "'">

<!ENTITY password.title      "Kanal honek egiaztatzea behar du">
<!ENTITY password.prompt     "Kanal honetako editoreak eskuratutako erabiltzaile izena eta pasahitza sar ezazu mesedez.">
<!ENTITY password.username   "Erabiltzailea:">
<!ENTITY password.password   "Pasahitza:">
