<!ENTITY searchchannel.description	"A search channel contains
items that match a search term.">
<!ENTITY searchchannel.termlabel 	"Bilatu:">
<!ENTITY searchchannel.title            "New Search Channel">
<!ENTITY searchchannel.inthis "In This:">
<!ENTITY searchchannel.channel "Kanala:">
<!ENTITY searchchannel.searchengine "Bilaketa Motorra:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Kanala Sortu">
