<!ENTITY prefs.title "Preferences">
<!ENTITY prefs.runonstartup "Automatically run $longAppName when I login">
<!ENTITY prefs.restart "(WARNING: Changes won't go into effect until you restart $longAppName.)">