/*
 Print styles
 Site: The Channel Channel
*/

a, a:link, a:visited, a:active {
 background-color: #fff;
 color: #000;
}

body, #wrapper, label, blockquote {
 background-color: #fff;
 color: #000;
 font-size: 9pt;
}

#nav {
 display: none;
}
