/*
 Screen style    
 Site: The Channel Channel
*/
/*  color: #656565; */

body {
 background: #151515 url(../images/bg/body-bg.gif) top left repeat-x;
 color: #fff;
 font-size: 84%;
 padding: 0;
 text-align: center;
}

dd {
 background-color: #1C1C1C;
 color: #fff;
 line-height: 1.4;
 margin: 0 0 10px 0;
 padding: 0 10px 12px 10px;
}

dl {
 margin-left: 5px;
}

dt {
 background-color: #1C1C1C;
 color: #2ACB00;
 font-weight: normal;
 margin: 10px 0 0 0;
 padding: 10px;
 text-decoration: none;
}

.video-large dl dt a, .video-large dl dt a:visited {
 color: #2ACB00;
 font-weight: normal;
 text-decoration: none;
}

h3.comments {
 background-color: transparent;
 color: #EB6E01;
 font-size: 2.4em;
 margin: 16px 0 10px 4px;
}

.preview {
 clear: both;
 padding-bottom: 5px;
}

.preview .date {
 border-bottom: 1px solid #242424;
 margin-bottom: 8px;
 padding-bottom: 5px;
}

.preview .date a:link, .preview .date a:visited, .preview .date a:hover, .preview .date a:active {
 background-color: #000;
 color: #656565;
 text-decoration: none;
}

.preview .date strong {
 background-color: #000;
 color: #1FBF03;
 font-weight: normal;
}

.preview .date, .preview .desc p {
 background-color: #000;
 color: #656565;
}

.preview .desc p {
 margin-bottom: 10px;
}

.preview .video {
 float: left;
 height: 191px;
 margin: 0;
 position: relative;
 width: 211px;
}

.preview .video a.play {
 display: block;
 position: absolute;
 right: 6px;
 top: 7px;
 width: 40px;
 width: 40px;
}

.preview .video img {
 margin: 0;
}

.preview h2 {
 line-height: 1.1;
 margin: 0 0 0 223px;
}

.preview h2 a {
 color: #198BFF;
}

.preview img {
 margin-right: 4px;
}

.preview p {
 margin: 0 0 0 223px;
}

.preview:after {
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
}

.video-large {
 background: #000 url(../images/bg/video-large-bg.gif) 6px 100% no-repeat;
 padding-bottom: 1px;
 position: relative;
}

.video-large h2 {
 font-size: 2.2em;
 line-height: 1.0;
 margin: 0 0 5px 5px;
 width: 320px;
}

.video-large p.bar {
 height: 16px;
 margin: 0;
 position: absolute;
 right: 0;
 top: 8px;
 width: 115px;
}

.video-large p.bar img {
 margin-left: 4px;
}

.video-large p.source {
 margin: 5px 0 16px 5px;
 width: 320px;
}

.video-large p.source strong {
 background-color: #000;
 color: #1FBF03;
 font-weight: normal;
 padding-left: 13px;
}

#content {
 background-color: #000;
 color: inherit;
 float: left;
 margin-left: 16px;
 padding: 26px 25px 20px 24px;
 width: 453px;
}

#header {
 background: transparent url(../images/bg/header-bg.jpg) top left no-repeat;
 color: inherit;
 height: 150px;
 position: relative;
 width: 738px;
}

#header h1 {
 height: 58px;
 left: 16px;
 margin: 0;
 overflow: hidden;
 position: absolute;
 top: 25px;
 width: 722px;
}

#header h1 span {
 background: transparent url(../images/text/logo.gif) top left no-repeat;
 display: block;
 height: 58px;
 left: 0;
 position: absolute;
 top: 0;
 width: 722px;
 z-index: 1;
}

#nav {
 bottom: 0;
 height: 27px;
 left: 16px;
 margin: 0;
 position: absolute;
 width: 220px;
}

#nav a {
 background: url(../images/bg/blank.gif) top left no-repeat;
 display: block;
 font-size: 1.2em;
 font-weight: bold;
 height: 27px;
 left: 0;
 overflow: hidden;
 position: absolute;
 text-decoration: none;
 top: 0;
 width: 116px;
 z-index: 2;
}

#nav a span {
 background-position: 0 0;
 background-repeat: no-repeat;
 display: block;
 height: 27px;
 left: 0;
 position: absolute;
 top: 0;
 width: 116px;
 z-index: 1;
}

#nav a#all {
 left: 104px;
 z-index: 1;
}

#nav a#all span {
 background-image: url(../images/nav/all-blue.png);
}

#nav a#all.current span, #nav a#all:hover span {
 background-image: url(../images/nav/all-black.png);
}

#nav a#featured span {
 background-image: url(../images/nav/featured-blue.png);
}

#nav a#featured.current span, #nav a#featured:hover span {
 background-image: url(../images/nav/featured-black.png);
}

#nav li {
 display: inline;
}

#sidebar {
 background: #064A8F url(../images/bg/sidebar-bg.gif) top left no-repeat;
 color: inherit;
 float: right;
 font-size: 0.85em;
 min-height: 373px;
 width: 220px;
}

#sidebar .whats-this {
 background: transparent url(../images/bg/sidebar-line2.gif) bottom left no-repeat;
 padding: 10px 14px 14px 20px;
}

#sidebar .whats-this h3 {
 margin: 0 0 7px 0;
 padding: 0;
}

#sidebar .whats-this p {
 line-height: 1.4;
 margin: 0;
 padding: 0;
}

#sidebar p {
 margin: 0;
 padding: 0 14px;
}

#sidebar p.download {
 background: transparent url(../images/bg/sidebar-line1.gif) bottom left no-repeat;
 line-height: 1.2;
 margin-top: 14px;
 padding: 0 14px 11px 14px;
 text-align: center;
}

#sidebar p.rss-feed {
 background: transparent url(../images/bg/sidebar-line2.gif) bottom left no-repeat;
 margin-bottom: 10px;
 padding: 6px 14px 7px 18px;
}

#slogan {
 color: #626262;
 font-size: 1.1em;
 height: 37px;
 left: 528px;
 margin: 0;
 overflow: hidden;
 position: absolute;
 top: 104px;
 width: 191px;
}

#slogan span {
 background: transparent url(../images/text/slogan.gif) top left no-repeat;
 display: block;
 height: 37px;
 left: 0;
 position: absolute;
 top: 0;
 width: 191px;
 z-index: 1;
}

#wrapper {
 background: transparent url(../images/bg/wrapper-bg.gif) top left repeat-y;
 color: inherit;
 margin: 0 auto;
 text-align: left;
 width: 738px;
}

#wrapper:after {
 clear: both;
 content: ".";
 display: block;
 height: 0;
 visibility: hidden;
}
