<!ENTITY about.title         "$longAppName névjegye">
<!ENTITY about.body          "$longAppName, $appVersion verzió ($appRevision); copyright (c) 2005-2007 $publisher. $longAppName és a $longAppName logo a $publisher bejegyzett védjegye.">
