<!ENTITY bugreport.title     "Ön megtalálta a $longAppName egy hibáját!">
<!ENTITY bugreport.pleasehelpus "Please help us fix it. Copy and paste all the
information into our bug tracker and tell us what you were doing when the
problem occurred.">
<!ENTITY bugreport.openbugtracker "A hibakövető rendszer megnyitása">
<!ENTITY bugreport.copytoclipboard "Naplófájl másolása a vágólapra">
<!ENTITY bugreport.pleaserestart "Ezek után indítsd újra az alkalmazást (különben újabb hibák előfordulása várható). Az okozott kellemetlenségért elnézést kérünk. A $longAppName még béta állapotban van, de a segítségeddel gyorsan javítjuk a hibákat!">
