<!ENTITY password.title      "A csatorna bejelentkezést igényel">
<!ENTITY password.prompt     "Adja meg a csatorna kiadója által adott felhasználóinevet és jelszavat!">
<!ENTITY password.username   "Felhasználónév:">
<!ENTITY password.password   "Jelszó:">
