<!ENTITY migrate.title "Migrar les pel·lícules existents?">
<!ENTITY migrate.accept "Migrar">
<!ENTITY migrate.cancel "No migrar">
<!ENTITY migrate.description "You've selected a new folder to download movies to.  Should $shortAppName migrate your existing downloads there?(Currently dowloading movies will not be moved until they finish)">