<!ENTITY password.title      "El canal requereix autentificació">
<!ENTITY password.prompt     "Introduïu el nom d'usuari i la contrasenya que us va proporcionar l'editor d'aquest canal.">
<!ENTITY password.username   "Nom d'usuari:">
<!ENTITY password.password   "Contrasenya:">
