<!ENTITY searchchannel.description	"A search channel contains
items that match a search term.">
<!ENTITY searchchannel.termlabel 	"Cerca:">
<!ENTITY searchchannel.title            "Nova Cerca de Canal">
<!ENTITY searchchannel.inthis "En Aquest:">
<!ENTITY searchchannel.channel "Canal:">
<!ENTITY searchchannel.searchengine "Cercador:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Crear Canal">
