<!ENTITY migrate.title "Vorhandene Videos übertragen?">
<!ENTITY migrate.accept "Übertragen">
<!ENTITY migrate.cancel "Nicht übertragen">
<!ENTITY migrate.description "Sie haben ein neues Verzeichnis für Ihre Downloads ausgewählt. Soll Miro ihre alten Video-Downloads dorthin verschieben? (Aktuell laufende Downloads werden erst verschoben, wenn sie beendet sind.)">