Source: democracyplayer
Section: net
Priority: optional
Maintainer: Uwe Hermann <uwe@debian.org>
Build-Depends: cdbs, debhelper (>= 4.1.67), python, python2.4-pyrex, libboost-python-dev, python-gtk2-dev, python-gnome2-extras-dev, libxul-dev | mozilla-dev, libxine-dev
Standards-Version: 3.7.2

Package: democracyplayer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python2.4-gtk2, python2.4-gnome2, python2.4-gnome2-extras, python2.4-glade2, democracyplayer-data (>= 0.8.5-1)
Suggests: ttf-bitstream-vera
Description: GTK+ based RSS video aggregator
 Democracy Player is a platform for Internet television and video.
 It allows you to download and watch videos from RSS feeds (including
 podcasts, video blogs, and BitTorrent feeds).

Package: democracyplayer-data
Architecture: all
Description: GTK+ based RSS video aggregator data files
 Democracy Player is a platform for Internet television and video.
 It allows you to download and watch videos from RSS feeds (including
 podcasts, video blogs, and BitTorrent feeds).

