#!/usr/bin/make -f

# Must come before python-distutils.mk in order to make dh_python work.
include /usr/share/cdbs/1/rules/debhelper.mk

# Use Python distutils to install the package.
include /usr/share/cdbs/1/class/python-distutils.mk
DEB_PYTHON_SETUP_CMD                 := platform/gtk-x11/setup.py
DEB_PYTHON_COMPILE_VERSION           := 2.4

# Override dh_python invokation.
binary-install/democracyplayer::
	dh_python -pdemocracyplayer -V 2.4
binary-install/democracyplayer-data::
	dh_python -pdemocracyplayer-data -V 2.4

include /usr/share/cdbs/1/rules/simple-patchsys.mk

# Install everything into debian/tmp, as we have a multi-binary package.
DEB_DH_INSTALL_SOURCEDIR := debian/tmp

# Remove unneeded files from the deb.
binary-post-install/democracyplayer-data::
	rm -rf debian/democracyplayer-data/usr/share/democracy/resources/testdata
	rm -rf debian/democracyplayer-data/usr/share/democracy/resources/templates/unittest

# TODO: This should probably be done in the upstream source.
clean::
	rm -f portable/*.pyc
	rm -rf portable/compiled_templates/*
	rm -f portable/database.c
	rm -f platform/gtk-x11/xine/xine.c
	rm -f platform/gtk-x11/frontend_implementation/MozillaBrowser.c
	rm -f platform/gtk-x11/democracyplayer.1.gz
	rm -f resources/locale/*.mo

