<!ENTITY about.title         "Apie $longAppName">
<!ENTITY about.body          "$longAppName versija $appVersion ($appRevision); visos teisės saugomos (c) 2005-2007 $publisher. $longAppName ir $longAppName logotipas yra $publisher registruoti prekiniai ženklai.">
