<!ENTITY password.title      "Kanalas reikalauja prisijungimo patvirtinimo">
<!ENTITY password.prompt     "Įveskite vartotojo vardą bei slaptažodį, kuriuos Jums suteikė šio kanalo leidėjas.">
<!ENTITY password.username   "Vartotojo vardas:">
<!ENTITY password.password   "Slaptažodis:">
