<!ENTITY bugreport.title     "U heeft een fout in $longAppName gevonden!">
<!ENTITY bugreport.pleasehelpus "Please help us fix it. Copy and paste all the
information into our bug tracker and tell us what you were doing when the
problem occurred.">
<!ENTITY bugreport.openbugtracker "Rapporteer een probleem">
<!ENTITY bugreport.copytoclipboard "Kopieer log naar het klembord">
<!ENTITY bugreport.pleaserestart "Open hierna $longAppName opnieuw (om verwante probleemmeldingen te voorkomen). Onze excuses voor het ongemak. $longAppName is momenteel nog in de testfase. Met jouw hulp corrigeren we zulke fouten snel!">
