<!ENTITY password.title      "Kanaal vereist authenticatie">
<!ENTITY password.prompt     "Geef aub de gebruikersnaam en het wachtwoord die u van de uitgever van dit kanaal heeft gekregen op.">
<!ENTITY password.username   "Gebruikersnaam:">
<!ENTITY password.password   "Wachtwoord:">
