<!ENTITY password.title      "Kanaal behoeft authenticatie">
<!ENTITY password.prompt     "Geef aub de gebruikersnaam en het wachtwoord in voor dit kanaal.">
<!ENTITY password.username   "Gebruikersnaam:">
<!ENTITY password.password   "Wachtwoord:">
