<!ENTITY password.title      "Kanaal heeft authenticatie nodig">
<!ENTITY password.prompt     "Geef a.u.b. de gebruikersnaam en het wachtwoord voor dit kanaal op.">
<!ENTITY password.username   "Gebruikersnaam:">
<!ENTITY password.password   "Wachtwoord:">
