<!ENTITY searchchannel.description	"A search channel contains
items that match a search term.">
<!ENTITY searchchannel.termlabel 	"Zoeken naar:">
<!ENTITY searchchannel.title            "Nieuw zoekkanaal">
<!ENTITY searchchannel.inthis "In deze:">
<!ENTITY searchchannel.channel "Kanaal:">
<!ENTITY searchchannel.searchengine "Zoekmachine:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Kanaal maken">
