#banner {
    font: 10px arial, sans-serif;
    padding-left: 5px;
}

#banner a {
    color: #999;
    text-decoration: none;
}

#banner select { 
    width: 129px;
    font: 10px Arial, sans-serif;
    margin: -1px;
}

#banner .selectMask {
    overflow: hidden;
    width: 126px;
    margin-left: 5px;
}

form {
    display: block;
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}