<!ENTITY about.title         "Om $longAppName">
<!ENTITY about.body          "$longAppName versjon $appVersion ($appRevision). Copyright © 2005–2007 $publisher. $longAppName og $longAppName-logoen er varemerket til $publisher.">
