<!ENTITY bugreport.title     "Du fann ein feil i $longAppName!">
<!ENTITY bugreport.pleasehelpus "Please help us fix it. Copy and paste all the
information into our bug tracker and tell us what you were doing when the
problem occurred.">
<!ENTITY bugreport.openbugtracker "Opna feildatabase">
<!ENTITY bugreport.copytoclipboard "Kopier logg til utklippstavla">
<!ENTITY bugreport.pleaserestart "Start så $longAppName på nytt (elles kan det oppstå liknande feil). $longAppName er framleis på prøvestadiet, men med di hjelp kan me retta opp i problema fortare.">
