<!ENTITY password.title      "Kanalen krev godkjenning">
<!ENTITY password.prompt     "Skriv inn brukarnamnet og passordet du har fått frå utgjevaren av kanalen.">
<!ENTITY password.username   "Brukarnamn:">
<!ENTITY password.password   "Passord:">
