<!ENTITY searchchannel.description	"Ein søkjekanal inneheld filmar i samsvar med ein søkjetekst.">
<!ENTITY searchchannel.termlabel 	"Søk etter:">
<!ENTITY searchchannel.title            "Ny søkjekanal">
<!ENTITY searchchannel.inthis "Her:">
<!ENTITY searchchannel.channel "Kanal:">
<!ENTITY searchchannel.searchengine "Søkjemotor:">
<!ENTITY searchchannel.url "Adresse:">
<!ENTITY searchchannel.createchannel "Lag kanal">
