<!ENTITY searchchannel.description	"A search channel contains items that match a search term.">
<!ENTITY searchchannel.termlabel 	"Søk etter:">
<!ENTITY searchchannel.title            "Ny søkjekanal">
<!ENTITY searchchannel.inthis "Her:">
<!ENTITY searchchannel.channel "Kanal:">
<!ENTITY searchchannel.searchengine "Søkjemotor:">
<!ENTITY searchchannel.url "Adresse:">
<!ENTITY searchchannel.createchannel "Lag kanal">
