a {
	color: #00019b;
}

a:hover {
	background-color: #00019B;
	color: white;
}


a.action, a.action:visited {
	color: red;
}

a.action:hover {
background-color: red;
color: white;
}



body	{
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: verdana, sans-serif;
}


img {
	border: 0;
}

.spacer {
	clear: both;
	height: 1px;
	font-size: 1px;
}

form, label input {
	margin: 0;
	padding: 0;
}

input {
	display: inline;
}

input:focus, textarea:focus, label:focus {
	background: #fff;
	border: 1px solid #878787;
}

input.hidden {
	display:none;
	border: none;
}
input.blended {
	background-color: #E0E2ED;
	background-color: #FFFFD1;
	border: 0px solid #878787;
}
label {
	cursor: pointer;
}

li, dd {
	margin-bottom: 6px;
}
p, dl, dd, dt {
	line-height: 130%;
}

textarea, input, select {
	background: #fafafa;
	border: 1px solid #777;
	color: #000;
	margin: 1px;
	padding: 2px;
	font-size: 13px;
}

.checkbox {
	background: #fff;
	border: none;
	margin: 0;
	padding: 0;
}

.wrap {
	margin: 0px auto 15px auto;
	padding: 5px 15px 15px 15px;
	width: 690px;
}
.wrap h2 {
	margin: 6px 0;
}

.submit input, .submit input:focus {
	padding: 3px;
	font-size: 16px;
}

.submit input:active {

}

.submit {
	text-align: right;
}

/* -----------  HEAD ------------ */

#head {
	background-color: #F2F2F2;
	padding: 4px 0 0 5px;
	margin-bottom: 2px;
	margin-top: 0px;
	padding: 0;
	height: 60px;
}

#head a {
	border-bottom: none;
	display: block;
	text-decoration: none;
	text-indent: -1000px;
	width: 200px;
}

#head h1 {
	background: url(images/blue_light_title2.gif) no-repeat;
	height: 60px;
	margin: 0;
}

#preview {
text-align: right;
padding: 14px 30px 20px 20px;
color: #fff;
font-weight: normal;
font-size: 24px;
}

/* --------- LOGGED IN AS -------------*/
#logged_in {
	width: 670px;
	margin: 0px auto 0 auto;
	padding: 7px 0 3px 0;
	text-align: right;
	font-size: 11px;
}


/* -----------  NAV ------------ */
#adminmenu {
	margin: 8px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #e4e4e4;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}

#inner_nav {
	width: 670px;
	margin: 0 auto 0 auto;
	padding-left: 0px;
}

#adminmenu a {
	border: 1px solid #aaaab1;
	border-top: 0px solid #ddd;
	border-bottom: 0px solid #ddd;
	color: #225;
	font-size: 15px;
	font-weight: normal;
	margin: 0 11px 0 0;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	background-color: #f1f1f1;
}

#adminmenu span {
	border: 1px solid #aaaab1;
	border-top: 0px solid #ddd;
	border-bottom: 0px solid #ddd;
	color: #999;
	font-size: 15px;
	font-weight: normal;
	margin: 0 12px 0 0;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	background-color: #f1f1f1;
}

#adminmenu a:hover {
	background: #efefef;
	border: 1px solid #8d8dBd;
	color: #272767;
}

/* --- CHANNEL SELECTION -- */
#channel_selection {
	line-height: 150%;
	float: right;
	margin-right: 25px;
	width: 226px;
/*	height: 200px;*/
	font-size: 14px;
	border: 1px solid #777;
	background-color: #FFFFE1;
	background-color: #ffffff;
	overflow: auto;
}

#channel_selection legend {
text-align: center;
color: #222;
font-size: 14px;
font-weight: bold;
padding-left: 0px;
margin-left: 0;
}

#channel_selection div {
/*	height: 200px;*/
	overflow: auto;
}

#channel_selection ul {
	padding: 0;
	margin: 0;
}

#channel_selection li {
	list-style-type: none;
	padding: 5px 5px 4px 0px;
	margin: 0;
}

#channel_selection img {
	padding-top: 3px;
	vertical-align: middle;
}

#channel_selection input, #poststatusdiv input, #commentstatusdiv input, #pingstatusdiv input {
	border: none;
}

#mime_choosers {
	line-height: 150%;
	font-size: 14px;
	background-color: #E0E2ED;
	background-color: #FFFFD1;
	padding: 5px;
	margin-bottom: 10px;
}

#file_errors {
	line-height: 150%;
	font-size: 14px;
	background-color: #E0E2ED;
	background-color: #FFFFD1;
	padding: 5px;
	margin-bottom: 10px;
	border: 2px solid #f00;
}

/* ----- AUTO FILL -------- */
#auto_fill {
	line-height: 150%;
	float: right;
	margin-right: 25px;
	width: 220px;
	font-size: 14px;
	border: 1px solid #777;
	background-color: #FFFFE1; 
	padding: 10px;
}

#auto_fill legend {
	text-align: center;
	color: #333;
	font-size: 14px;
}


/* NEW TAGS */
input {
}

.input_sub {
	font-size: 12px; 
	color: #333;
	margin-top: 2px;
}

legend {
}

.the_legend {
	display: inline;
	font-size: 14px;
}

.section {
	background-color: #E0E2ED;
	background-color: #FFFFD1;
	padding: 10px;
	margin-bottom: 10px;
}

.optional {
	background-color: #f7f7f7;
	border: 1px solid #d6d6d6;
	color: #000;
}

.section_header {
	font-size: 14px;
	color: #222;
	font-weight: bold;
	margin: 2px 0px 8px 0;
}

.settings_page .section_header {
	border-top: 1px solid #C0C2CD;
	padding-top: 10px;
}

#video_file {
	font-size: 14px;
	padding-bottom: 6px;
}

h2, .page_name h2, h2.page_name {
	font-weight: normal;
	font-size: 26px;
	border-bottom: none;
	color: #0E125B;
	font-family: georgia, times, serif;
	display: inline;
	margin: 0;
	padding: 0;
	line-height: 30px;
}

.page_name {
	padding-bottom: 5px;
	margin: 0;
	line-height: 30px;
}


/* HELP */
.help_pop_link {
	display: inline;
	vertical-align: bottom;
	padding: 0;
	margin: 0;
	padding-left: 2px;
}

.help_pop_link a {
	padding: 0;
	margin: 0;
}

.help_pop_link a:hover {
	background: none;
}

.publish_button {
	margin-left: 16px;
}

.help_pop h2 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 1px;
	font-weight: normal;
	padding-top: 0;
	margin-top: 0;
	color: #900;
	font-size: 18px;
}

.help_pop {
	padding: 15px 15px 15px 15px;
}

/* SECTIONS */
.section ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.section ul {
	padding: 0px 0 10px 15px;
}

.section li {
	padding: 0px 0 3px 0px;
}


/* CHANNELS */
.channel_display {
	clear: both;
	padding: 16px 0 20px 0;
}

.channel_logo {
	float: left;
	margin: 0 0px 0px 0;
	padding: 4px 10px 10px 0px;
}


.channel_logo img {

width: 50px;

}

.channel_name {
	font-weight: bold;
	font-size: 18px;
	display: inline;
}

.channel_publisher_name {
	font-size: 16px;
	display: inline;

}

.channel_description {
padding: 5px 0 5px 0;
margin-left: 60px;
}

.channel_url {
margin-left: 60px;
}

.channel_stats {
	padding: 3px;
	background-color: #eee;
	margin: 2px 0 0 0px;
}

.edit_channel {
	padding-left: 0px;
}

.edit_channel a, .edit_channel a:visited {
	color: red;
	font-size: 12px;
}

.edit_channel a:hover {
background-color: red;
color: white;
}

/* videos */
.video_display {
	padding: 15px 0 0px 0;
}
.video_logo {
	float: left;
	margin: 0 2px 0px 0;
	padding: 3px 3px 24px 3px;
}
.video_name {
	font-weight: bold;
	font-size: 16px;
}
.video_description {

}

.video_info {
	padding-top: 1px;
	margin-top: 3px;
	border-top: 1px solid #999;
	margin-right: 170px;
	margin-left: 109px;
	color: #666;
	font-size: 11px;
}

.video_stats {
	width: 150px;
	background-color: #eee;
	padding: 5px;
	float: right;
	margin-left: 5px;
	font-size: 12px;
	border: 1px solid #ddd;
}

.edit_video {
	text-align: right;
}




/* ------ DONATIONS -------- */
.donation_setup {
	margin-top: 15px;
	padding: 0 0 15px 0;
	border-bottom: 1px solid #CCC;
}

.donation_type {
	font-size: 10px;
	text-transform: uppercase;
	color: #999;
}

.setup_title {
	font-size: 13px;
	text-transform: uppercase;
}

.setup_nickname {
	font-weight: bold;
	font-size: 15px;
	text-transform: none;
}

.edit_donation {
	font-weight: normal;
	font-size: 13px;
	display:inline;
	padding-left: 10px;
	text-transform: none;
}

.donation_stats {
	width: 440px;
	margin: 0 0 0 5px;
	font-size: 12px;
}

.donation_preview {
	margin: 5px 0 5px 5px;
	font-size: 14px;
}

.preview_label {
	font-size: 12px;
	color: #D44;
	display: inline;
}

.donation_content {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 4px;
	margin: 5px 0 5px 0;
}


/* ------------- Edit Library View 2 ----------------- */
#edit_library_settings {
	width: 300px;
	float: left;
	/* border-right: 1px dotted #ccc; */
	padding-right: 15px;
}

#edit_library_list {
	width: 310px;
	float: left;
	padding: 13px;
	background-color: #FFFFD1;
}

.library_video_display {
	padding: 5px;
	background-color: #eef;
	height: 54px;
	border: 1px solid #CCC;
}

.library_video_thumb {
	float: left;
	margin: 0 2px 0px 0;
	padding: 3px 3px 3px 3px;
}

.check_box {
	float: left; 
	padding: 20px 5px 0 0;
	height: 46px;
	width: 18px;
	background-color: #FFFFD1;
	border-right: 1px solid #BBB;
}

#edit_library_settings .section_header, #edit_library_list .section_header {
	font-size: 16px;
	border-bottom: 1px solid #ccc;
}

.edit_library_options {
	padding-left: 10px;
}

.sect_list {
	margin-bottom: 5px;
	font-size: 16px;
}

.sect_list a {
	font-size: 16px;
	font-weight: bold;
}

.action_link {
	padding-right: 15px;
	display: inline;
}

.action_link a {
	color: #f44;
	font-size: 10px;
	font-weight: normal;
}

.action_link a:hover {
	color: white;
	background-color: red;
}

#edit_library_settings ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#edit_library_settings ul {
	padding: 0px 0 10px 15px;
}

#edit_library_settings li {
	padding: 0px 0 3px 0px;
}


/* ----------- USERS ------------ */
.half_float {
	float: right;
	width: 320px;
	margin-right: 20px;
}

.user_list_item {
	margin-bottom: 4px;
	clear: both;
}

.user_name {
	float: left;
	width: 140px;
}

.user_email {
	float: left;
	width: 140px;
}

.user_level {
	float: left;
	width: 130px;
}

.edit_user {
	float: left;
	width: 250px;
}

/* ------------ Login Box --------------  */
.login_header {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.login_box, .signup_box {
	border: 3px solid #227;
	padding: 10px 15px 15px 15px;
	width: 262px;
	margin-left: 170px;
	margin-top: 50px;
	background-color: #fff;
	font-size: 12px;
}

.login_field {
	padding-top: 6px;
}

.login_field input {
font-size: 20px;
padding: 3px;
}

.login_label {
	width: 95px;
}

.login_links {
	font-size: 11px;
}

/* ------------ Alerts and Activity --------------  */
#alerts_activity {
	width: 310px;
	float: left;
}

.alerts {
	margin-top: 6px;
	padding: 5px;
	border: 1px solid #f77;
	background-color: #FFFFD1;
}

.alerts h4 {
	font-size: 14px; 
	font-weight: normal; 
	margin: 0; 
	padding: 0;
	color: #d33;
	text-transform: uppercase;
}

.alerts ul {
	margin: 10px 0 0 0;
	padding: 0;
}

.alerts li {
	margin: 0 0 5px 0;
	font-weight: bold;
}

.activity h4 {
	clear: both;
	display: block;
	padding: 10px 0 4px 0;
	margin: 0;
	font-size: 18px;
}


/* ------------ Outside Info --------------  */
#outside_info {
	margin-top: 6px;
	width: 310px;
	float: left;
	margin-left: 10px;
	border: 1px solid #ccc;
	padding: 10px;
}

#pcf_upgrade {
	border: none; 
	padding: 0; 
	margin: 0;
}

#pcf_news {
	border: none; 
	padding: 0; 
	margin: 0;
}


/* ----------- BLOG POST STYLES ------------- */
.post {
	margin: 0 0 0 0px;
	text-align: justify;
	font-size: 12px;
}

.post h2 {
	font-size: 16px;
	font-family: verdana, sans-serif;
	font-weight: bold;
	border: 0;
}

.post h2 a {
	text-decoration: none;
}

.post h2 a:hover {
	text-decoration: underline;
}


/* -------- FIELDSETS -------------- */
fieldset {
	border: 0px solid black;
	padding: 8px 0px 8px 19px;
}

fieldset label.selectit {
	background: #f0f0f0;
	display: block;
	font-size: 13px;
	padding: 0 2px;
}

fieldset label.selectit:hover {
	background: #dadada;
}

fieldset legend {
	padding: .1em .3em;
}

fieldset legend a {
	border-bottom: none;
}

fieldset.options {
	padding: 1em;
}

fieldset.options legend {
	font-size: 16px;
}


dt {
  width: 160px;
  margin: 4px 8px 0 0; 
  padding: 0;
  text-align: right;
  white-space: nowrap;
  float: left;
  clear: left;
  position: relative;
}

dd {
  margin: 0 0 12px 0px;
}

