<!ENTITY password.title      "Kanál vyžaduje identifikaci">
<!ENTITY password.prompt     "Vložte, prosím, uživatelské jméno a heslo, které vám přidělil vydavatel tohoto kanálu.">
<!ENTITY password.username   "Uživatelské jméno:">
<!ENTITY password.password   "Heslo:">
