<!ENTITY searchchannel.description	"Vyhledávací kanál obsahuje položky podle klíčového slova.">
<!ENTITY searchchannel.termlabel 	"Vyhledat:">
<!ENTITY searchchannel.title            "Nový vyhledávací kanál">
<!ENTITY searchchannel.inthis "V:">
<!ENTITY searchchannel.channel "Kanál:">
<!ENTITY searchchannel.searchengine "Vyhledávač:">
<!ENTITY searchchannel.url "URL adresa:">
<!ENTITY searchchannel.createchannel "Vytvořit kanál">
