<!ENTITY password.title      "チャンネルは認証を必要としています。">
<!ENTITY password.prompt     "このチャンネルの発行者があなたに与えたユーザ名とパスワードを入力して下さい。">
<!ENTITY password.username   "ユーザー名:">
<!ENTITY password.password   "パスワード:">
