<!ENTITY searchchannel.description	"検索チャンネルには検索対象と合致したアイテムが入っています">
<!ENTITY searchchannel.termlabel 	"これを検索:">
<!ENTITY searchchannel.title            "新しい検索チャンネル">
<!ENTITY searchchannel.inthis "In This:">
<!ENTITY searchchannel.channel "チャンネル:">
<!ENTITY searchchannel.searchengine "検索エンジン:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Create Channel">
