<!ENTITY searchchannel.description	"A search channel contains items that match a search term.">
<!ENTITY searchchannel.termlabel 	"これを検索:">
<!ENTITY searchchannel.title            "New Search Channel">
<!ENTITY searchchannel.inthis "In This:">
<!ENTITY searchchannel.channel "チャンネル:">
<!ENTITY searchchannel.searchengine "検索エンジン:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Create Channel">
