<!ENTITY about.title         "À propos de $longAppName">
<!ENTITY about.body          "$longAppName version $appVersion ($appRevision); copyright (c) 2005-2007 $publisher. $longAppName et le logo $longAppName sont des marques déposées de $publisher.">
