<!ENTITY bugreport.title     "Vous avez trouvé un bug dans $longAppName!">
<!ENTITY bugreport.pleasehelpus "Please help us fix it. Copy and paste all the
information into our bug tracker and tell us what you were doing when the
problem occurred.">
<!ENTITY bugreport.openbugtracker "Ouvrir le système de rapport de bug">
<!ENTITY bugreport.copytoclipboard "Copier les messages dans le presse-papiers">
<!ENTITY bugreport.pleaserestart "Ensuite, redémarrez $longAppName (pour éviter d'avoir de nouveau des erreurs du même genre). Nous sommes désolés pour le dérangement. $longAppName est toujours en version béta, mais, mais avec votre aide, nous réglerons les problèmes rapidement !">
