<!ENTITY password.title      "La chaîne requiert une authentification">
<!ENTITY password.prompt     "Veuillez entrer le nom d'utilisateur et le mot de passe qui vous ont été attribués par le diffuseur de cette chaîne.">
<!ENTITY password.username   "Nom d'utilisateur :">
<!ENTITY password.password   "Mot de passe :">
