<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Vorbis-to-MD</key>
	<dict>
		<key>ALBUM=</key>
		<string>albm</string>
		<key>ARTIST=</key>
		<string>arts</string>
		<key>COMMENT=</key>
		<string>cmmt</string>
                <key>COPYRIGHT=</key>
		<string>cprt</string>
		<key>DATE=</key>
		<string>©day</string>
                <key>DESCRIPTION=</key>
		<string>desc</string>
                <key>ENCODEDBY=</key>
                <string>soft</string>
		<key>GENRE=</key>
		<string>genr</string>
                <key>ORGANIZATION=</key>
		<string>prod</string>
                <key>PERFORMER=</key>
		<string>perf</string>
		<key>TITLE=</key>
		<string>name</string>
                <key>TRANSCODEDFROM=</key>
                <string>orif</string>
		<key>YEAR=</key>
		<string>©day</string>

                <key>LICENSE=</key>
		<string>info</string>
                <key>CONTACT=</key>
		<string>info</string>
                <key>ISRC=</key>
		<string>info</string>
	</dict>
	<key>Vorbis-to-UD</key>
	<dict>
		<key>ALBUM=</key>
		<string>©alb</string>
		<key>ARTIST=</key>
		<string>©ART</string>
		<key>COMMENT=</key>
		<string>©cmt</string>
                <key>COPYRIGHT=</key>
		<string>©cpy</string>
		<key>DATE=</key>
		<string>©day</string>
                <key>DESCRIPTION=</key>
		<string>©des</string>
                <key>ENCODEDBY=</key>
		<string>©enc</string>
		<key>GENRE=</key>
		<string>©gen</string>
                <key>LICENSE=</key>
                <string>©dis</string>
                <key>ORGANIZATION=</key>
		<string>©prd</string>
                <key>PERFORMER=</key>
		<string>©prf</string>
		<key>TITLE=</key>
		<string>©nam</string>
		<key>TRACKNUMBER=</key>
		<string>©trk</string>
                <key>TRANSCODEDFROM=</key>
		<string>©fmt</string>
		<key>YEAR=</key>
		<string>©day</string>

                <key>CONTACT=</key>
		<string>©inf</string>
                <key>ISRC=</key>
		<string>©inf</string>
	</dict>
	<key>other--or--not-used-a_t_m_</key>
	<dict>
		<key>TRACKNUMBER=</key>
		<string>????</string>
                <key>LICENSE=</key>
		<string>????</string>
                <key>CONTACT=</key>
		<string>????</string>
                <key>ISRC=</key>
		<string>????</string>

		<key>VERSION=</key>
		<string>????</string>
                <key>LOCATION=</key>
		<string>????</string>
	</dict>
</dict>
</plist>
