<!ENTITY password.title      "Kanaal hat autentikaasje nedich">
<!ENTITY password.prompt     "Jou de brûkersnamme en it wachtwurd dat jo krigen hawwe fan de publisearder.">
<!ENTITY password.username   "Brûkersnamme:">
<!ENTITY password.password   "Wachtwurd:">
