<!ENTITY searchchannel.description	"In sykkanaal hat ûnderdielen gelyk oan in sykterm">
<!ENTITY searchchannel.termlabel 	"Sykje Nei:">
<!ENTITY searchchannel.title            "Nij Sykkanaal">
<!ENTITY searchchannel.inthis "Hjir Yn:">
<!ENTITY searchchannel.channel "Kanaal">
<!ENTITY searchchannel.searchengine "Sykmasine:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Meitsje Kanaal">
