<!ENTITY searchchannel.description	"Saluran carian mengandungi Item yang">
<!ENTITY searchchannel.termlabel 	"Search For:">
<!ENTITY searchchannel.title            "Carian Saluran Baru">
<!ENTITY searchchannel.inthis "In This:">
<!ENTITY searchchannel.channel "Channel:">
<!ENTITY searchchannel.searchengine "Search Engine:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Hasilkan Saluran">
