body {
	background: #FFFFFF;
	margin: 0px;
	font: 12px "Lucida Grande", "Lucida Sans", Arial, "Trebuchet MS";
	color: #333333;
	/* The following property is used by Safari to prevent text selection */
	-khtml-user-select: none;
}

.clearer {
	clear: both;
	height: 0px;
}

p {
	font-size: 90%;
	margin: 5px 10px 7px 10px;
}

form {
	margin: 0px;
	padding: 0px;
}

#channelview-titlebar {
	background: url(resource:images/channelview-titlebar-bg.png) repeat-x left bottom;
	height: 77px;
	width: 100%;
	margin: 0px 0px 1px;
	position: fixed;
	top: 0px;
	z-index: 10;
}

#channelview-titlebar-avatar {
	position: absolute;
	width: 60px;
	height: 60px;
	border: 2px solid #FFFFFF;
	margin: 5px 0px 0px 5px;
}

#channelview-titlebar-avatar img {
	width: 60px;
	height: 60px;
}

#channelview-titlebar-channelname {
	padding-top: 10px;
}

#channelview-titlebar-channelname h1 {
	margin: 0px 140px 0px 80px;
	padding: 0px;
	height: 28px;
	overflow: hidden;
	color: #FFFFFF;
	font-size: 200%;
	text-align: center;
}

#channelview-titlebar-autodownload {
	position: absolute;
	width: 138px;
	top: 48px;
	left: 50%;
	margin: 0px 0px 0px -99px;
	color: #FFFFFF;
	text-transform: uppercase;
}

#channelview-titlebar-tasks {
	position: absolute;
	width: 130px;
	top: 10px;
	right: 0px;
	margin: 0px 0px 0px -140px;
}

#channelview-titlebar-tasks p {
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	text-transform: uppercase;
}

#channelview-titlebar-tasks p a {
	color: #FFFFFF;
	text-decoration: none;
}

#channelview-titlebar-tasks p a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

#channelview-titlebar-tasks-settings {
	background: url(resource:images/channelview-icon-settings.png) no-repeat left top;
	height: 18px;
	margin: 0px;
	padding: 0px 0px 0px 20px;
}

#channelview-titlebar-tasks-recommend {
	background: url(resource:images/channelview-icon-mail-titlebar.png) no-repeat left 2px;
	height: 18px;
	margin: 0px;
	padding: 0px 0px 0px 20px;
}

.channelview-titlebar-tasks-search {
	width: 115px; 
	height: 13px;
	border: 1px solid #5392e3;
	padding: 4px;
	font-size: 11px;
	color: #1c5180;
}

#channelview-container {
	padding-top: 77px;
}

.channelview-channelbar {
	background: url(resource:images/channelview-bar-bg.png) repeat-x left bottom;
	height: 22px;
}

.channelview-channelbar-hitbox {
	position: relative;
	margin: 0px 0px -22px 0px;
	overflow: hidden;
	height: 22px;
	text-indent: -100%;
}

.channelview-channelbar-hitbox a {
	padding: 5px 200% 5px 0px;
}

.channelview-channelbar h1, .channelview-channelbar h2 {
	display: inline;
	padding: 0px;
	font-size: 100%;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.channelview-channelbar h1 {
	float: left;
	margin: 3px 0px 0px 5px;
}

.channelview-channelbar h2 {
	float: right;
	margin: 3px 5px 0px 0px;
}

.channelview-channelbar a:link, .channelview-channelbar a:visited, .channelview-channelbar a:active {
	color: #FFFFFF;
	text-decoration: none;	
}

#channelview-newlyavailable, #channelview-downloads, #channelview-unwatched, #channelview-expiring, #channelview-saved  {
	display: none;
}

.channelview-video {
	clear: both;
	border-bottom: 1px solid #b6bfce;
	background: #FFFFFF url(resource:images/channelview-video-bg.png) no-repeat right bottom;
}

.channelview-video:hover {
	background: #e8ecf3 url(../images/channelview-video-bg-hover.png) no-repeat right bottom;
}

.channelview-video-green {
	clear: both;
	border-bottom: 1px solid #b6bfce;
	background: #FFFFFF url(../images/channelview-video-bg-green.png) no-repeat right bottom;
}

.channelview-video-green:hover {
	background: #f7faf8 url(../images/channelview-video-bg-hover-green.png) no-repeat right bottom;
}

.channelview-video-container {
	width: 100%;
	float: left;
	margin-right: -150px;
}

.channelview-video-content {
	margin-right: 150px;
}

.channelview-video-desc {
	padding-top: 8px;
	height: 70px;
	overflow: hidden;
}

.channelview-video-tnail {
	width: 118px;
	float: left;
}

.channelview-video-details {
	width: 125px;
	float: right;
	padding-top: 5px;	
}

.channelview-video-tnail img {
	width: 100px;
	height: 75px;
	margin: 3px 0px 3px 5px;
	border: 2px solid #FFFFFF;
}

.channelview-video-hitbox a {
	float: left;
	margin: 5px 0px 0px -111px;
	padding: 38px 50px 37px 50px;
}

.channelview-video-hitbox .downloadable a {
	background: url(resource:images/channelview-video-download.png) no-repeat right top;
}

.channelview-video-hitbox .downloadable a:hover {
	background: url(resource:images/channelview-video-download.png) no-repeat right -75px;
}

.channelview-video-hitbox .playable a {
	background: url(resource:images/channelview-video-play.png) no-repeat right top;
}

.channelview-video-hitbox .playable a:hover {
	background: url(resource:images/channelview-video-play.png) no-repeat right -75px;
}

.channelview-video-hitbox .inprogress a {
	background: url(resource:images/channelview-video-inprogress.png) no-repeat right top;
}

.channelview-video-hitbox .inprogress a:hover {
	background: url(resource:images/channelview-video-inprogress.png) no-repeat right -75px;
}

.channelview-video-desc h1 {
	margin: 0px;
	padding: 0px;
	font-size: 120%;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.channelview-video-desc p {
	margin: 0px;
	padding: 0px;
	font-size: 90%;
}

.channelview-video-details p {
	margin: 0px 0px 3px;
	padding: 0px;
	font-size: 85%;
	text-decoration: none;
}

.channelview-video-details-left {
	float: left;
	display: inline;
	width: 75px;
}

.channelview-video-details-right {
	width: 40px;
	float: left;
	display: inline;
}

.channelview-video-details-expiry {
	float: left;
	display: inline;
	background-color: #74a5ce;
	margin-top: 5px;
}

.channelview-video-details-unwatched {
	float: left;
	display: inline;
	background-color: #5ab471;
	margin-top: 5px;
}

.channelview-video-details-expiry p, .channelview-video-details-unwatched p {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 75%;
	margin: 0px;
	padding: 2px 2px;
}

.channelview-video-details-save {
	float: left;
	display: inline;
	background-color: #f9fbfe;
	padding: 1px;
	margin-top: 5px;
}

.channelview-video-details-save p {
	text-transform: uppercase;
	font-size: 75%;
	margin: 0px;
	padding: 1px;
}

.channelview-video-details-save p a {
	color: #2b5576;
	text-decoration: underline;	
}

.channelview-video-details-save p a:hover {
	color: #000000;
	text-decoration: underline;	
}

.channelview-video-details-tasks {
	clear: both;
	padding: 5px 0px 0px 0px;
}

.channelview-video-details-task {
	float: left;
	display: inline;
	margin: 0px 12px 0px 12px;
}

.channelview-video-progress {
	float: left;
	display: inline;
	padding-top: 5px;
}

.channelview-progress-bar {
	float: left;
    width: 94px;
    height: 12px;
	padding: 0 2px 0 2px;
	background: url(resource:images/status_background.png) top left no-repeat;
}

.channelview-progress-cancel {
	float: right;
	width: 11px;
	height: 13px;
	margin: 0px 0px 3px 3px;
	background: url(resource:images/channelview-cancel.png) top left no-repeat;
}
