body {
	font: 14px "Lucida Grande", "Lucida Sans", "Trebuchet MS", Arial;
	color: #FFFFFF;
	text-decoration: none;
	background: #000000;
	margin: 0px;
}

#external-container-basic {
	position: absolute;
	width: 600px;
	height: 150px;
	left: 50%;
	top: 50%;
	margin: -150px 0px 0px -300px;
	text-align: center;
}

#external-container-button {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -17px 0px 0px -102px;
	text-align: center;
}

#external-button-left {
	float: left;
	margin: 50px 0px 0px 50px;
}

#external-button-right {
	float: right;
	margin: 50px 50px 0px 0px;
}

#external-button-center {
    float: left;
    margin: 50px 0px 0px 50px;
}

#external-button-left, #external-button-right, #external-button-center {
	color: inherit;
	text-decoration: inherit;
	height: 31px;
	background: url(../images/ext-button-left.gif) no-repeat left top
}

#external-button-left span, #external-button-right span, #external-button-center span {
	float: left;
	height: 31px;
	padding: 7px 15px 0px 15px;
	background: url(../images/ext-button-left-edge.gif) no-repeat right top;
}

#embedded-video-info {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 46px;
}

#countdown {
    color: #955;
    padding-left: 8px;
    font-weight: normal;
}