body {
	background: #FFFFFF;
	margin: 0px;
	font: 13px "Lucida Grande", "Lucida Sans", "Trebuchet MS", Arial;
	color: #000000;
	text-decoration: none;
}

#container {
	margin: 0px 0px 10px 0;
}

p {
	margin: 0px 20px 12px 16px;
	padding: 0px;	
	line-height: 16px;
}


h1 {
	font-size: 145%;
	font-weight: bold;
	line-height: 125%;
	color: #000000;
	color: #085ffe;
	background-color: #eff3fe;
	margin: 9px 0px 10px 0px;
	padding: 5px 0px 5px 20px;
	text-align: center;
}

h2 a, h2 a:visited  {
	color: #000000;
}


h3 {
	font-size: 115%;
	font-weight: bold;
	color: #000000;
	margin: 0px 0px 18px 20px;
	padding: 0px;
}

a:link, a:visited, a:active {
	color: #085ffe;
	text-decoration: underline;
}

a:hover {
	color: #085ffe;
	text-decoration: none;
}

.gotoguide {
padding-top: 5px;
text-align: center;
}


#sidebar {
float: right;
margin: 0px 4px 0px 10px;
width: 200px;

}

.captioned_image {
width: 188px;
padding: 5px;
font-size: 12px;
border: 1px solid #d2d2d2;
margin-bottom: 17px;
}

.captioned_image img {

}

img {
	border: 0px;
}