body {
    background: #FFFFFF;
    margin: 0px;
    font-size: 12px;
    font-family: "Lucida Grande", "Tahoma", "Bitstream Vera Sans", Arial, sans-serif;
    color: #333333;
}

.draggable {
    -khtml-user-drag: element;
}

.clearer {
    clear: both;
    height: 0px;
}

p {
    font-size: 90%;
    margin: 5px 10px 7px 10px;
}

form {
    margin: 0px;
    padding: 0px;
}

ul {    
    list-style-position: inside;
    margin: 0px 0px 0px 5px;
    padding: 0px;   
}

li {
    margin: 0px 0px 15px 0px;
    padding: 0px;
}

#main-titlebar {
    background: url(../images/main-titlebar-bg.png) repeat-x left bottom;
    height: 77px;
    width: 100%;
    min-width: 600px;
    margin: 0px 0px 1px;
    position: fixed;
    top: 0px;
    z-index: 10;
}

#main-titlebar-avatar {
    position: absolute;
    left: 9px;
    top: 6px;
    width: 60px;
    height: 60px;
    border: 2px solid #FFFFFF;
}

#main-titlebar-avatar.noborder {
    border: 0px;
}

#main-titlebar-channelname {
    padding-top: 10px;
}

#main-titlebar-channelname h1 {
    margin: 0px 140px 0px 80px;
    padding: 0px;
    height: 28px;
    overflow: hidden;
    color: #FFFFFF;
    font-size: 200%;
    text-align: center;
}

#main-titlebar-autodownload {
    position: absolute;
    width: 138px;
    top: 44px;
    left: 50%;
    margin: 0px 0px 0px -99px;
    color: #FFFFFF;
    text-transform: uppercase;
}

#main-titlebar-tasks {
    position: absolute;
    width: 130px;
    top: 8px;
    right: 0px;
    margin: 0px 0px 0px -140px;
}

#main-titlebar-tasks p {
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
}

#main-titlebar-tasks p a {
    color: #FFFFFF;
    text-decoration: none;
}

#main-titlebar-tasks p a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

#main-titlebar-tasks-settings {
    background: url(../images/main-icon-settings.png) no-repeat left top;
    height: 18px;
    margin: 0px 0px 1px 0px;
    padding: 0px 0px 0px 20px;
}

#main-titlebar-tasks-recommend {
    background: url(../images/main-icon-mail-titlebar.png) no-repeat left 2px;
    height: 18px;
    margin: 0px 0px 1px 0px;
    padding: 0px 0px 0px 20px;
}

.main-titlebar-tasks-search {
    position: absolute;
    left: 0px;
    top: 40px;
    width: 115px; 
    border: 1px solid #5392e3;
    padding: 2px;
    font-size: 11px;
    color: #1c5180;
}

#main-titlebar-tasks.big-search {
    width:100%; 
    text-align:center;
}

#main-titlebar-tasks.big-search .main-titlebar-tasks-search {
    position: static;
    margin: 35px 55px 0px 0px;
    width: 200px;
    font-size: 120%;
}


#main-titlebar-free-space {
    position: absolute;
    bottom: 41px;
    right: 15px;
    color: white;
    font-size: 12px;
}

#main-titlebar-free-space p {
	margin: 0px;
}

.main-container-scraping {
    text-align: center;
    margin: 15px 0px;
    padding: 0px;
}


div.scraping-indicator {
    margin: auto;
    width: 600px;
    height: 56px;
    background: #efefef;
    font-size: 18px;
    color: #085ffe;
    font-weight: bold;
    white-space: nowrap;
    margin-top: 18px;
    position:relative;
}

div.scraping-content {
    position: absolute;
    left: 20px;
    bottom: 16px;
}

#main-container {
    padding-top: 76px;
}

.main-channelbar {
    background: url(../images/main-bar-bg.png) repeat-x left bottom;
    height: 22px;
}

.main-channelbar-download {
    background: url(../images/main-bar-bg-download.png) repeat-x left bottom;
    height: 22px;
}

.triangle {
    background: url(../images/black_yellow_triangle.png) no-repeat left top;
    display: block;
    float: left;
    width: 15px;
    height: 16px;
    margin-top: 5px;
    margin-left: 5px;
}

.triangle.down {
    background: url(../images/black_yellow_triangle_down.png) no-repeat left top;
}

.main-channelbar-download h1 {
    color: #111;
    text-decoration: none;
}

.main-channelbar-hitbox {
    position: relative;
    margin: 0px 0px -22px 0px;
    overflow: hidden;
    height: 22px;
    text-indent: -100%;
}

.main-channelbar-hitbox a {
    padding: 5px 200% 5px 0px;
}

.main-channelbar h1, .main-channelbar-download h1, .main-channelbar h2 {
    display: inline;
    padding: 0px;
    font-size: 13px;
    text-decoration: none;
    line-height: 16px;
    font-weight: normal;
}

.main-channelbar h1, .main-channelbar h2 {
    font-size: 13px;
    color: #111;
}

.main-channelbar h1, .main-channelbar-download h1 {
    float: left;
    margin: 3px 0px 0px 5px;
}

.main-channelbar h2 {
    margin: 3px 5px 0px 0px;
    color: #111;
}

.main-channelbar a {
    color: #FFFFFF;
    text-decoration: none;  
}

.video-count {
    display: block;
    float: left;
    min-width: 14px;
    margin-right: 4px;
}

.main-notification-nonew {
    width: 230px;
    height: 80px;
    margin: 0px 0px 0px 5px;    
    text-decoration: none;
    color: #ffffff;
}

.main-notification-nonew h3 {
    margin: 11px 0px 2px 5px;
    padding: 0px;
}

.main-notification {    
    float: left;
    height: 24px;
    background: url(../images/main-notification-bg.png) no-repeat left top;
    padding: 3px 0px 0px 20px;
    margin: 15px 0px 12px 5px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}

.main-notification-right {  
    float: left;
    width: 20px;
    height: 24px;
    margin: 15px 0px 12px 0px;
    background: url(../images/main-notification-right.png) no-repeat right top;
    overflow: hidden;
}

.main-video {
    border-top: 1px solid #f0fcfe;
    border-bottom: 1px solid #d5ddea;
    background: url(../images/main-video-bg.png) no-repeat right top;
    height: 83px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
}

.main-video .dnd-reorder-line {
    position: absolute;
    top: -1px;
    height: 2px;
    width: 100%;
    background: #0752d7;
    display: none;
}

.main-video.drag-highlight .dnd-reorder-line {
    display: block;
}

.main-video.selected {
    background: url(../images/main-video-bg-selected.png) repeat-x left top;
    color: white;
}

.main-video.selected-inactive {
    background: #ccc;
}

.main-video-tnail {
    position: absolute;
    left: 5px;
    top: 3px;
    width: 100px;
    height: 75px;
    border: 1px solid #e6e6eA;
    z-index: 1;
}

.noselect {
    -khtml-user-select: none;
    -moz-user-select: none;
    cursor: default;
}

.main-video-desc {
    margin-left: 115px;
    margin-right: 145px;
    margin-top: 3px;
    height: 80px;
    overflow: hidden;
}

.main-video-desc h1 {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    height: 17px;
    overflow: hidden;
}

.main-video-desc div {
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    overflow: hidden;
    line-height: 14px;
}

.main-video-desc-desc {
    color: #222;
    height: 44px;
}

.main-video.selected .main-video-desc h1, .main-video.selected .main-video-desc-desc {
    color: white;
}

.main-video-desc p {
    display: inline;
    padding: 0px;
    margin: 0px;
}
.main-video-desc p br {
    display: inline;
    padding: 0;
    margin: 0;
    height: 0;
}


.main-video-desc a:link, .main-video-desc a:active, .main-content a:link, .main-content a:active {
    color: #215ccf;
    text-decoration: underline;
}

.main-video-desc a:hover, .main-content a:hover {
    color: #4181e0;
}

.main-video-desc a:visited, .main-content a:visited {
    color: #666666;
    text-decoration: underline;
}

.main-video.selected .main-video-desc a:link {
    color: white;
}

.main-video-desc-details a:link, .main-video-desc-details a:active, .main-video-desc-details a:hover {
    color: inherit;
    text-decoration: underline;
}

.main-video-hitbox {
    position: absolute;
    top: 4px;
    left: 6px;
    width: 100px;
    height: 75px;
    z-index: 2;
}

.main-video-hitbox a, .main-video-hitbox span{
    display: block;
    width: 100px;
    height: 75px;
}

.main-video-hitbox .download-icon {
    background: url(../images/main-video-download.png) no-repeat right top;
}

.main-video-hitbox .download-icon:hover {
    background: url(../images/main-video-download.png) no-repeat right -75px;
}

.main-video-hitbox .play-icon {
    background: url(../images/main-video-play.png) no-repeat right top;
}

.main-video-hitbox .play-icon:hover {
    background: url(../images/main-video-play.png) no-repeat right -75px;
}

.main-video-hitbox .inprogress-background {
    background: url(../images/main-video-inprogress.png) no-repeat right top;
}

.main-video-hitbox img.inprogress-arrows {
    display: block;
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.main-video-details {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 135px;
    height: 100%;
}

.main-video-details-tasks {
    position: absolute;
    top: 11px;
    left: 5px;
    height: 26px;
    width: 115px;
}

.main-video-details-tasks a {
    display: block;
    position: absolute;
    top: 0px;
    width: 36px;
    height: 36px;
}

.main-video-details-task-mail { 
    left: 2px;
    background: url(../images/main-icon-mail.png) top left no-repeat;
}

.main-video-details-task-bomb { 
    left: 42px;
    background: url(../images/main-icon-bomb.png) top left no-repeat;
}

.main-video-details-task-delete {   
    left: 82px;
    background: url(../images/main-icon-trash.png) top left no-repeat;
}

.main-video-details-state {
    position: absolute;
    top: 50px;
    left: 8px;
    width: 120px;
    height: 30px;
    margin: 0px;
    color: #000;
    font-size: 10px;
    padding-top: 2px;
    overflow: hidden;
}

.main-video-details-state.new, .main-video-details-state.newly-downloaded {
    font-size: 11px;
    font-weight: bold;
}

.main-video-details-state.new {
    color: #486D9F;
}

.main-video-details-state.newly-downloaded {
    color: #090;
}

.main-video-details-state.expiring {
    font-weight: bold;
    color: #444;
    font-size: 9px;
}

.main-video-details-download-info {
    position: absolute;
    top: 50px;
    left: 8px;
    width: 125px;
    height: 30px;
    margin: 0px;
    color: #000;
    font-size: 10px;
    overflow: hidden;
}

.download-rate-and-eta {
    width: 90px;
}

.download-rate {
    float: right;
}


.main-video.selected .main-video-details-download-info, .main-video.selected .main-video-details-state {
    color: white;
}

.main-video-details-save-button {
    position: absolute;
    font-size: 12px;
    top: 0px;
    right: 0px;
    width: 38px;
    height: 17px;
    background: url(../images/main-save-bg.png) no-repeat right top; 
}

.main-video-details-save-button a {
    font-size: 9px;
    font-weight: bold;
    color: #333;
    padding-top: 3px;
    padding-left: 6px;
    text-decoration: none; 
}

.main-video-details-save-button a:hover {
    color: #000000;
    text-decoration: underline; 
}

.playlist-end-drag-hitbox {
    height: 10px;
    width: 100%;
}

.playlist-end-drag-hitbox.drag-highlight {
    border-top: 1px solid #0752d7;
}

.main-progress-bar-bg {
  width: 92px;
  height: 11px;
  margin: 1px 1px 2px 1px;
  background: url(../images/progress-bar-bg.png) no-repeat left top; 
}

.main-progress-bar {
  height: 11px;
  background: url(../images/progress-bar.png) no-repeat left top; 
}

.main-progress-throbber-bg {
  width: 94px;
  height: 13px;
  margin: 0px 0px 1px 0px;
  background: url(../images/progress-throbber-bg.png) no-repeat left top; 
}

.main-progress-throbber-bg img {
  margin: 1px;
  border: 0px;
}

.main-progress-cancel {
    display: block;
    position: absolute;
    top: 0px;
    left: 98px;
    width: 11px;
    height: 13px;
    background: url(../images/main-cancel.png) top left no-repeat;
}

.search-message {
    font-size: 28px;
    color: #DDD;
    text-align: center;
    margin-top: 50px;
}

img {
    border: 0px;
}

#show-more-videos-label a {
    text-decoration: none;
}

.channel-blank {
    text-align: center;
    padding: 30px;
}

.channel-message {
    font-size: 28px;
    color:      #999;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

.channel-message.small {
    font-size: 20px;
    margin-top: 20px;
    font-weight: normal;
}

.drag-highlight .channel-message {
    color: #0752d7;
}

body.gray-background {
    background-color: #f7f7f7;
}


.button-zone-two {
margin: 0 auto 0 auto;
text-align: center;
width: 500px;
}

.button-zone-one {
margin: 0 auto 0 auto;
text-align: center;
width: 270px;
}


.gray-button-wrap {
margin-right: 10px;
float: left;
}

.gray-button-bg {
    background: url(../images/graybutton-mid.png) top left repeat-x;
    margin: 0 8px;
    height: 31px;
    cursor: pointer;
    margin: auto;
	width: 240px;
}


.gray-button-left {
    background: url(../images/graybutton-left.png) top left no-repeat;
    width: 8px;
    height: 31px;
    float: left;
}

.gray-button-right {
    background: url(../images/graybutton-right.png) top left no-repeat;
    width: 8px;
    height: 31px;
    float: right;
}


.gray-button-content {
    padding-top: 8px;
}
