body {
    background: #FFFFFF;
    margin: 0px;
    font-size: 12px;
    font-family: "Lucida Grande", "Tahoma", "Bitstream Vera Sans", Arial, sans-serif;
    color: #333333;
}

/* Used in download item exactly as you'd expect */
.draggable {
    -khtml-user-drag: element;
}
.noselect {
    -khtml-user-select: none;
    -moz-user-select: none;
    cursor: default;
}

/* basic HTML elements */
p {
    font-size: 90%;
    margin: 5px 10px 7px 10px;
}

form {
    margin: 0px;
    padding: 0px;
}

ul {    
    list-style-position: inside;
    margin: 0px 0px 0px 5px;
    padding: 0px;   
}

li {
    margin: 0px 0px 15px 0px;
    padding: 0px;
}

img {
    border: 0px;
}

/* This is used to make the feed settings section float above the channel */
#feed-settings {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 270px;
    display: none;
    background: url(../images/settings-shadow.png) repeat-x left bottom;
    z-index: 1; /* Needs to be float above the main page */
    color: #000;
    font-size: 13px;
}


#settings-inner {
    padding: 18px;
    background-color: #FFFFBB;
    height: 230px;
    margin-bottom: 4px;
}

#settings-inner h2 {
    font-size: 15px;
    margin: 0;
    padding: 12px 0 20px 0;
}

#channel-url {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #999;
    font-size: 11px;
}

.settings-small {
    font-size: 10px;
    padding: 3px 0 0 23px;
}

.settings-button {
    text-align: center; 
    margin-left: 5px;
    position: absolute;
    bottom: 22px;
    left: 43px;
}


/* The block of drop downs and fields */
#actual-settings {
    padding: 0 0 0 25px;
}


/* Used in feed-settings to position the feed-settings icon */
#close-settings-icon {
    position: absolute;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
}

/* This is the title section of the channel view */
#main-titlebar {
    background: url(../images/main-titlebar-bg.png) repeat-x left bottom;
    height: 77px;
    width: 100%;
    min-width: 600px;
    margin: 0px 0px 1px;
    position: fixed;
    top: 0px;
    z-index: 3; 
    /* This should be above feed-settings, so that feed-settings doesn't cover
     * it up durring the opening animation.  It also needs to be above
     * sort-bar, so the auto-download select menu is above sort-bar.
     */
}

/* The icon for the channel view. Usually in the titlebar */
#main-icon {
    position: absolute;
    left: 9px;
    top: 6px;
    width: 60px;
    height: 60px;
    border: 2px solid #FFFFFF;
    background-color:#FFFFFF;
}

#main-titlebar .noborder {
    background: none;
    border: none;
}

/* This wraps the center area of the title bar */
#main-titlebar-center {
    margin: 10px 220px 0px 220px;
    padding-right: 5px;
    text-align: center;
    color: #FFFFFF;
}

/* This wraps just the name of the view */
#main-title {
    padding: 0px;
    margin: 0px;
    font-size: 21px;
    height: 28px;
    overflow: hidden;
    font-weight: normal;
}

#main-subtitle {
    margin-top: 7px;
}

#main-subtitle input, #main-subtitle select {
    font-size: 11px;
}

/* Appears in the top right of the title section. */
#main-upper-right {
    position: absolute;
    top: 5px;
    right: 10px;
    margin: 0px 0px 0px 0px;
    color: #FFFFFF;
}

#downloads-global-actions {
    text-align: center;
}

#downloads-global-actions div {
    display: block;
    float: left;
    width: 100px;
    height: 45px;
    overflow: hidden;
}


#downloads-global-actions a {
    color: white;
    text-decoration: none;
}


/* Wraps the stuff on the right hand side of the channel header */
#main-titlebar-right {
    position: absolute;
    width: 150px;
    top: 8px;
    right: 0px;
}

.select-box-right {
    background: right top no-repeat url(../images/select-box-right.png);
}

.select-box-left {
    background: left top no-repeat url(../images/select-box-left.png);
    float: left;
    cursor: pointer;
    margin: 0px;
    -khtml-user-select: none;
    -moz-user-select: none;
}

.select-box-mid {
    background: left top repeat-x url(../images/select-box-mid.png);
    margin: 0px 19px 0px 4px;
    padding: 3px 2px;
    height: 19px;
    color: #000;
}

.select-box-menu {
    border: 1px solid black;
    background: #ccd;
    margin: 0px;
    position: relative;
    top: -7px;
    display: none;
}

.auto-download .select-box-menu {
    width: 200px;
    left: -155px;
}

.select-box-menu li {
    list-style: none;
    text-transform: none;
    margin: 0px;
}

.select-box-menu li:hover {
    background: #eee;
}

.select-box-menu a {
    text-decoration: none;
    color: #000;
}

/* just around settings */
#main-titlebar-settings {
    display: block;
    background: url(../images/main-icon-settings.png) no-repeat left top;
    height: 20px;
    margin: 0px 0px 1px 0px;
    padding: 0px 0px 0px 21px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}
#main-titlebar-settings:hover {
    text-decoration: underline;
}

/* Just around recommend */
#main-titlebar-recommend {
    display: block;
    background: url(../images/main-icon-mail-titlebar.png) no-repeat left 2px;
    height: 20px;
    padding-left: 21px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}
#main-titlebar-recommend:hover {
    text-decoration: underline;
}

/* Just around auto-download */
#main-titlebar-auto {
    display: block;
    height: 20px;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
}

#auto-checkbox-container {
    position: absolute;
    top: 40px
    left: 40px;
}

#auto-checkbox-container input {
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}

#auto-label {
    padding-left: 21px;
}

/* Used to mark the search box */
#search-box {
    color: #1c5180;
}

#main-titlebar #search-box {
    width: 115px; 
    border: 1px solid #5392e3;
    padding: 2px;
}

/* Used for scraping indicator on channel page */
.main-container-scraping {
    text-align: center;
    margin: 15px 0px;
    padding: 0px;
}

/* this goes in the main-container-scraping section */
.scraping-indicator {
    margin: auto;
    width: 600px;
    height: 56px;
    background: #efefef;
    font-size: 18px;
    color: #085ffe;
    font-weight: bold;
    white-space: nowrap;
    margin-top: 18px;
    position:relative;
}

/* this goes around the text of the scraping section */
.scraping-content {
    position: absolute;
    left: 20px;
    bottom: 16px;
}

/* This holds everything below the channel bar*/
#main-container {
    position: absolute;
    padding-top: 0px;
    top: 105px;
    width: 100%;
    /*
    It would be nice to include these next two lines.  This would make the
    scrollbars only affect the items in a channel, not it's header too.  The
    problem is it causes the div to scroll to the top whenever we change an
    item on ubuntu at least, possibly OS X too.

    bottom: 0px;
    overflow: auto;
    */
}

/* The sort bar */

#sort-bar {
    background: #4A629a url(../images/sort-bar-back.png) top left repeat-x;
    height: 19px;
    width: 100%;
    min-width: 600px;
    padding: 5px 0 5px 0;
    position: fixed;
    top: 76px;
    z-index: 2;
    /* This should be above feed-settings, so that feed-settings doesn't cover
     * it up durring the opening animation.
     */
}

#sort-bar #search-box {
    margin: 0px 0px 0px 10px;
    float: left;
}

#sort-buttons {
    float: right;
    margin-top: 2px;
    padding-right: 100px;
    font-size: 13px;
    color: white;
    font-weight: bold;
}

#sort-buttons a.sort-button {
    text-decoration: none;
    color: inherit;
    margin-left: 2px;
}

#sort-buttons a.sort-button div {
    display: inline;
    padding-top: 2px;
}

#sort-buttons .sort-button .left, .sort-button .mid, .sort-button .right {
    padding-bottom: 4px;
}

#sort-buttons .sort-button .mid {
    margin-left: 6px;
    margin-right: 6px;
    padding-left: 6px;
}

#sort-buttons .sort-button.active .left {
    background: url(../images/sort-active-back-left.png) top left no-repeat;
}

#sort-buttons .sort-button.active .mid {
    background: url(../images/sort-active-back-mid.png) top left repeat-x;
}

#sort-buttons .sort-button.active .right {
    background: url(../images/sort-active-back-right.png) top right no-repeat;
}

#sort-buttons a.sort-button img {
    border: none;
    padding-left: 6px;
    visibility: hidden;
}

#sort-buttons a.sort-button.active img {
    visibility: visible;
}

/* This is the blue grey gradient for the bars above the "available"
and "downloaded" sections */
.main-channelbar {
    background: url(../images/main-bar-bg.png) repeat-x left bottom;
    height: 19px;
    display: block;
    overflow: hidden;
    color: #111;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    padding-top: 2px;
}

/* The yellow gradient for the "download" bar */
.main-channelbar-download {
    height: 19px;
    background: url(../images/main-bar-bg-download.png) repeat-x left bottom;
    overflow: hidden;
    color: #111;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    padding-top: 2px;
    cursor: pointer;
}

a.download-bar-action {
    float: right;
    text-decoration: none;
    font-size: 10px;
    color: black;
    margin: 2px 0px 0px 3px;
}

a.download-bar-action:hover {
    text-decoration: underline;
}

.clear-completed-link {
    text-decoration: underline; 
    margin-left: 15px; 
    font-weight: normal;
    color: #fff;
    font-size: 11px;
    margin-top: -1px;
}

/* triangle for the bars */
.triangle {
    background: url(../images/triangle-right.png) no-repeat left top;
    display: block;
    float: left;
    width: 15px;
    height: 16px;
    margin-top: 3px;
    margin-left: 5px;
}

.triangle-down {
    background: url(../images/triangle-down.png) no-repeat left top;
    display: block;
    float: left;
    width: 15px;
    height: 16px;
    margin-top: 3px;
    margin-left: 5px;
}


/* The N more videos oval */
.main-notification {    
    float: left;
    display: block;
    height: 24px;
    background: url(../images/main-notification-bg.png) no-repeat left top;
    padding: 3px 0px 0px 20px;
    margin: 15px 0px 12px 35px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}
.main-notification-right {  
    float: left;
    display: block;
    width: 20px;
    height: 24px;
    margin: 15px 0px 12px 0px;
    text-decoration: none;
    background: url(../images/main-notification-right.png) no-repeat right top;
    overflow: hidden;
}


/* Used in playlist and playlist-folder */
.playlist-end-drag-hitbox {
    height: 10px;
    width: 100%;
}
.playlist-end-drag-hitbox.drag-highlight {
    border-top: 1px solid #0752d7;
}

/* used in search view */
.search-message {
    font-size: 28px;
    color: #DDD;
    text-align: center;
    margin-top: 50px;
}

.search-results-bar {
    font-size: 18px;
    color: white;
    background: #333;
    padding: 5px 10px;
    height: 22px;
    text-align: center;
}

#results-text {
    float: left;
}

/* Around  the "empty folder" message */
.channel-blank {
    text-align: center;
    margin-top: 50px;
    padding: 30px;
}
.channel-message {
    font-size: 28px;
    color:      #999;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}
.channel-message.small {
    font-size: 20px;
    margin-top: 20px;
    font-weight: normal;
}
.drag-highlight .channel-message {
    color: #0752d7;
}

/* used in multi-channel */
body.gray-background {
    background-color: #f7f7f7;
}
.button-zone-two {
margin: 0 auto 0 auto;
text-align: center;
width: 500px;
}
.button-zone-one {
margin: 0 auto 0 auto;
text-align: center;
width: 270px;
}
.gray-button-wrap {
margin-right: 10px;
float: left;
}
.gray-button-bg {
    background: url(../images/graybutton-mid.png) top left repeat-x;
    margin: 0 8px;
    height: 31px;
    cursor: pointer;
    margin: auto;
    width: 240px;
}
.gray-button-left {
    background: url(../images/graybutton-left.png) top left no-repeat;
    width: 8px;
    height: 31px;
    float: left;
}
.gray-button-right {
    background: url(../images/graybutton-right.png) top left no-repeat;
    width: 8px;
    height: 31px;
    float: right;
}
.gray-button-content {
    padding-top: 8px;
}

/* Everything below is used in download-item */
.main-video {
    border-top: 1px solid #f0fcfe;
    border-bottom: 1px solid #d5ddea;
    background: url(../images/main-video-bg.png) repeat-x;
    height: 84px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
}

.main-video.more-info {
    height: auto;

}

/* This is the line that appears when you reorder items. When
an element is dragged, the drag-highlight class is added to it */
.main-video .dnd-reorder-line {
    position: absolute;
    top: -1px;
    height: 2px;
    width: 100%;
    background: #0752d7;
    display: none;
}
.main-video.drag-highlight .dnd-reorder-line {
    display: block;
}

/* These change the background based on whether or not it's selected */
.main-video.selected, .selected .main-video-stats, .selected .main-video-details {
    background-color: #77A6EB;
    background: url(../images/main-video-bg-selected.png) repeat-x left top;
    color: black; 
}

.main-video.selected {
    border-top: 1px solid #d5ddff;
    border-bottom: 1px solid #8fc1f7;
}

.main-video.selected-inactive, .main-video-details.selected-inactive, .main-video-stats.selected-inactive {

    background: #ccc;
}

.main-video-tnail {
    position: absolute;
    left: 5px;
    top: 3px;
    width: 101px;
    height: 76px;
    border: 1px solid #fff;
}

.selected .main-video-tnail {
    border: 2px solid #0067DF;
    position: absolute;
    left: 4px;
    top: 2px;
}


.more-info .main-video-tnail {
    width: 226px;
    height: 170px;
}

.download-pending-icon {
    position: absolute;
    bottom: 10px;
    right: 12px;
    width: 15px;
    height: 15px;
    border: 0px;
}

.main-video-desc {
    position: relative;
    margin-left: 115px;
    margin-right: 270px;
    margin-top: 3px;
    height: 84px;
    overflow: hidden;
}

.more-info .main-video-desc {
    margin-left: 240px;

    height: auto;
    min-height: 175px;
    max-height: 400px;    
}


.main-video-desc h1 {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: bold;
    color: #222;
    text-decoration: none;
    height: 17px;
    overflow: hidden;
}

.main-video-desc div {
    font-size: 11px;
    line-height: 14px;
}

.main-video-desc-desc {
    color: #222;
    height: 44px;
    overflow: hidden;
}

.more-info .main-video-desc-desc {
    height: 100%;
    min-height: 44px;
}

.main-video.selected .main-video-desc h1, .main-video.selected .main-video-desc-desc {
    color: black; 
}

.main-video-desc p {
    display: inline;
    padding: 0px;
    margin: 0px;
}
.main-video-desc p br {
    display: inline;
    padding: 0;
    margin: 0;
    height: 0;
}


.main-video-desc a:link, .main-video-desc a:active, .main-content a:link, .main-content a:active {
    color: #215ccf;
    text-decoration: underline;
}

.main-video-desc a:hover, .main-content a:hover {
    color: #4181e0;
}

.main-video-desc a:visited, .main-content a:visited {
    color: #666666;
    text-decoration: underline;
}

.main-video.selected .main-video-desc a:link {
     color: black; 
}

.main-video-hitbox {
    position: absolute;
    top: 5px;
    left: 7px;
    width: 100px;
    height: 75px;
}

.more-info .main-video-hitbox {
    width: 224px;
    height: 168px;
}

.main-video-hitbox a, .main-video-hitbox span {
    display: block;
    width: 100px;
    height: 75px;
}

.more-info .main-video-hitbox a, .more-info .main-video-hitbox span {
    width: 225px;
    height: 169px;
}

.main-video-hitbox .download-icon {
    background: url(../images/main-video-download.png) no-repeat 66px 42px;
}

.more-info .main-video-hitbox .download-icon {
    background: url(../images/main-video-download.png) no-repeat 191px 136px;
}

.main-video-hitbox .paused-icon {
    background: url(../images/main-video-paused.png) no-repeat 66px 42px;
}

.more-info .main-video-hitbox .paused-icon {
    background: url(../images/main-video-paused.png) no-repeat 191px 136px;
}

.main-video-hitbox .play-icon {
    background: url(../images/main-video-play.png) no-repeat 73px 51px;
}

.more-info .main-video-hitbox .play-icon {
    background: url(../images/main-video-play.png) no-repeat 198px 145px;
}

.main-video-hitbox .inprogress-background {
    background: url(../images/main-video-inprogress.png) no-repeat 66px 42px;
}

.more-info .main-video-hitbox .inprogress-background {
    background: url(../images/main-video-inprogress.png) no-repeat 191px 136px;
}

.main-video-hitbox img.inprogress-arrows {
    display: block;
    position: absolute;
    top: 47px;
    left: 71px;
}

.item-links {
    position: absolute;
    bottom: 4px;
}

.more-info .main-video-hitbox img.inprogress-arrows {
    top: 141px;
    left: 196px;
}


.details-small-buttons {
    position: absolute;
    top: 60px;
    left: 139px;
    height: 17px;
    text-align: center;
}

.more-info-link-button {
    position: absolute;
    top: 6px;
    right: 5px;
}

.more-info-link-button a {
    text-decoration: none;
    color: #3263A0;
    font-size: 11px;
    line-height: 16px;
} 

.more-info-link-button a img {
    vertical-align: -4px;
}


.more-info .main-video-stats {
    height: 170px;
}

.main-video-stats a {
    color:  #444;
}

.main-video-stats a:hover {
    color: #4181e0;
}

.selected .main-video-stats a, .selected .main-video-stats a:hover {
    color: black;
}

.main-video-details-reveal-button {
    position: absolute;
    bottom: 6px;
    right: 10px;
    font-size: 11px;
}

.main-video-details {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 250px;
    height: 100%;
    padding: 0px 0 0 8px;
    border-left: 1px solid #e1e9f6;
}

.video-stats {
    padding-top: 6px;
    color:  #222;
    font-size: 10px;
    line-height: 15px;
    height: 16px;
    overflow: hidden;
}


.main-video-details-tasks {
    height: 26px;
    width: 153px;
       margin-bottom: 5px;
       margin-top: 15px;
    margin-left: -1px;
}

.main-video-details-tasks a {
    display: block;
    height: 18px;
    padding-top: 1px;
    color: #333;
    text-decoration: none;
    text-align: left;
    padding-left: 10px;
}

.main-video-details-tasks span {
    font-size: 10px;
    color: #222;
}

.main-video-details-task-mail { 
    background: url(../images/main-video-share.png) top left no-repeat;
}

.main-video-details-task-bomb { 
    background: url(../images/main-icon-bomb.png) top left no-repeat;
}

.main-video-details-tasks-small { 
    display: block;
    background: url(../images/video-details-tasks-small.png) top left no-repeat;
    color: #333;
    text-decoration: none;
    font-size: 9px;
    padding: 3px 0 3px 0;
}


.main-video-details-tasks-small.delete {
    position: absolute;
    left: 59px;
    width: 54px;
}


.main-video-details-tasks-small.save, .saved-note {
    position: absolute;
    left: 0px;
    width: 54px;
}

 .saved-note {
    margin-top: 3px;
    font-size: 9px;
    color: #666;
}

.details-date {
    font-weight: bold;
}

.main-video-bottom {
    width: 100%;
    margin-right: 310px;
    font-size: 10px;
    overflow: hidden;
    padding: 1px 0px 2px 0px;
}

.video-state {
    font-weight: bold;
    height: 18px;
    color: white;
    margin: 0 0 5px 0;
    float: left;
}

.video-state-left {
    background: left top no-repeat;
    height: 18px;
}

.video-state-right {
    background: right top no-repeat;
    height: 18px;
}

.video-state-mid {
    margin: 0px 5px;
    padding: 0px 4px 3px 4px;
    text-align: center;
    background: left top repeat-x;
}

.video-state.new .video-state-left {
    background-image: url(../images/badge-blue-left.png);
}

.video-state.new .video-state-right {
    background-image: url(../images/badge-blue-right.png);
}

.video-state.new .video-state-mid { 
    background-image: url(../images/badge-blue-mid.png);
}

.video-state.newly-downloaded .video-state-left {
    background-image: url(../images/badge-green-left.png);
}

.video-state.newly-downloaded .video-state-right {
    background-image: url(../images/badge-green-right.png);
}

.video-state.newly-downloaded .video-state-mid { 
    background-image: url(../images/badge-green-mid.png);
}


.date-channel-title-wrap {
    float: right;
    color: #666;
    width: 60%;    
    height: 16px;
    overflow: hidden;
    text-align: right;
    padding-right: 0px;
}

.selected .date-channel-title-wrap {
    color: black;
}

.channel-title {
    display: inline;
}

.selected .channel-title {
    color: black; 
}

.hide-channel-title .channel-title {
    display: none;
}

.small-button-left {
    background: left top no-repeat url(../images/small-button-left.png);
}

.small-button-right {
    background: right top no-repeat url(../images/small-button-right.png);
}

.small-button {
    background: left top repeat-x url(../images/small-button-middle.png);
    margin: 0px 3px;
    padding: 3px 3px;
    height: 17px;
}

a.small-button-left {
    display: block;
    font-size: 9px;
    color: #444;
    text-decoration: none;
}

a.small-button-left:hover {
    color: #000000;
    text-decoration: underline;
}

.white-button-left {
    background: top left no-repeat url(../images/white-button-left.png);
}

.white-button-right {
    background: top right no-repeat url(../images/white-button-right.png);
}

.white-button-middle {
    height: 20px;
    margin: 0px 16px;
    background: top left repeat-x url(../images/white-button-middle.png);
    padding-top: 3px;
    font-size: 11px;
}

.white-button-middle a:link {
    color: white;
    text-decoration: none;
}

.white-button-left.save-search-searchpage {
    float: left;
    margin-left: 8px;
    margin-top: 2px;
}

.white-button-left.save-search-channel {
    position: absolute;
    top: 46px;
    right: 50%;
    margin-right: 70px;
}


.more-download-info {
    position: absolute;
    top: 80px;
    width: 240px;
    font-size: 10px;
}

.more-download-info .dload-info {
    float: right;
}

.main-video-details-download-info {
    position: absolute;
    top: 37px;
    left: 92px;
    right: 0px;
    height: 50px;
    font-size: 10px;
    overflow: hidden;
}

.main-video-details-download-info.expiring {
    color: #333;
    position: absolute;
    top: 43px;
    left: 145px;
    width: 100px;
    text-align: center;
    height: 14px;
    overflow: hidden;
}

.main-video-details-download-info.pending-auto {
    text-align: center;
}

.download-rate-and-eta {
    width: 130px;
    padding-top: 2px;
}

.download-rate {
    float: right;
}


.main-video.selected .main-video-details-download-info {
    color: black;
}

.main-progress-bar-bg {
  width: 120px;
  height: 15px;
  margin: 1px 1px 2px 1px;
  background: url(../images/progress-bar-bg.png) no-repeat left top; 
}

.main-progress-bar {
  height: 15px;
  background: url(../images/progress-bar.png) no-repeat left top; 
}

.main-progress-throbber-bg {
  width: 120px;
  height: 15px;
  margin: 0px 0px 1px 0px;
  background: url(../images/progress-throbber-bg.png) no-repeat left top; 
}

.main-progress-throbber-bg img {
  margin: 1px;
  border: 0px;
}

.main-progress-cancel {
    display: block;
    position: absolute;
    top: 0px;
    left: 144px;
    width: 17px;
    height: 17px;
    background: url(../images/video-download-cancel.png) top left no-repeat;
}

.main-progress-pause, .main-progress-resume {
    display: block;
    position: absolute;
    top: 0px;
    left: 124px;
    width: 17px;
    height: 17px;
}
.main-progress-pause {
    background: url(../images/video-download-pause.png) top left no-repeat;
}

.main-progress-resume {
    background: url(../images/video-download-resume.png) top left no-repeat;
}
