body {
    background: #FFFFFF;
    margin: 0px;
    font-size: 12px;
    font-family: "Lucida Grande", "Tahoma", "Bitstream Vera Sans", Arial, sans-serif;
    color: #333333;
}

/* Used in download item exactly as you'd expect */
.draggable {
    -khtml-user-drag: element;
}
.noselect {
    -khtml-user-select: none;
    -moz-user-select: none;
    cursor: default;
}

/* basic HTML elements */
p {
    font-size: 90%;
    margin: 5px 10px 7px 10px;
}

form {
    margin: 0px;
    padding: 0px;
}

ul {    
    list-style-position: inside;
    margin: 0px 0px 0px 5px;
    padding: 0px;   
}

li {
    margin: 0px 0px 15px 0px;
    padding: 0px;
}

img {
    border: 0px;
}

/* This is used to make the feed settings section float above the channel */
#feed-settings {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 270px;
	display: none;
	background: url(../images/settings-shadow.png) repeat-x left bottom;
	z-index: 9;
	color: #000;
	font-size: 13px;
}


#settings-inner {
	padding: 18px;
	background-color: #FFFFBB;
	height: 230px;
	margin-bottom: 4px;
}

#settings-inner h2 {
	font-size: 15px;
	margin: 0;
	padding: 12px 0 20px 0;
}

#channel-url {
	position: absolute;
	right: 20px;
	top: 10px;
	color: #999;
	font-size: 11px;
}

.settings-small {
	font-size: 10px;
	padding: 3px 0 0 23px;
}

.settings-button {
text-align: center; 
margin-left: 5px;
position: absolute;
bottom: 22px;
left: 43px;
}


/* The block of drop downs and fields */
#actual-settings {
	padding: 0 0 0 25px;
}


/* Used in feed-settings to position the feed-settings icon */
#close-settings-icon {
	position: absolute;
	bottom: 25px;
	right: 25px;
    cursor: pointer;
}

/* This is the title section of the channel view */
#main-titlebar {
    background: url(../images/main-titlebar-bg.png) repeat-x left bottom;
    height: 77px;
    width: 100%;
    min-width: 600px;
    margin: 0px 0px 1px;
    position: fixed;
    top: 0px;
    z-index: 10;
}

/* The icon for the channel view. Usually in the titlebar */
#main-icon {
    position: absolute;
    left: 9px;
    top: 6px;
    width: 60px;
    height: 60px;
    border: 2px solid #FFFFFF;
    background-color:#FFFFFF;
}

#main-titlebar .noborder {
	background: none;
	border: none;
}

/* This wraps the center area of the title bar */
#main-titlebar-center {
    margin: 10px 150px 0px 150px;
    text-align: center;
    color: #FFFFFF;
}

/* This wraps just the name of the view */
#main-title {
    padding: 0px;
    margin: 0px;
    font-size: 24px;
    height: 24px;
    overflow: hidden;
    font-weight: normal;
}

#main-subtitle {
    margin-top: 7px;
}

#main-save-search-button {
    position: absolute;
    top: 45px;
    left: 450px;
    color: white;
}

/* Appears in the top right of the title section. */
#main-upper-right {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0px 0px 0px 0px;
    color: #FFFFFF;
}

/* Wraps the stuff on the right hand side of the channel header */
#main-titlebar-right {
    position: absolute;
    width: 150px;
    top: 8px;
    right: 0px;
}

/* just around settings */
#main-titlebar-settings {
    display: block;
    background: url(../images/main-icon-settings.png) no-repeat left top;
    height: 20px;
    margin: 0px 0px 1px 0px;
    padding: 0px 0px 0px 21px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}
#main-titlebar-settings:hover {
    text-decoration: underline;
}

/* Just around recommend */
#main-titlebar-recommend {
    display: block;
    background: url(../images/main-icon-mail-titlebar.png) no-repeat left 2px;
    height: 20px;
    padding-left: 21px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}
#main-titlebar-recommend:hover {
    text-decoration: underline;
}

/* Just around auto-download */
#main-titlebar-auto {
    display: block;
    height: 20px;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
}

#auto-checkbox-container {
    position: absolute;
    top: 40px
    left: 40px;
}

#auto-checkbox-container input {
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}

#auto-label {
    padding-left: 21px;
}

/* Used to mark the search box */
#search-box {
    width: 115px; 
    border: 1px solid #5392e3;
    padding: 2px;
    font-size: 11px;
    color: #1c5180;
}

/* Used for scraping indicator on channel page */
.main-container-scraping {
    text-align: center;
    margin: 15px 0px;
    padding: 0px;
}

/* this goes in the main-container-scraping section */
.scraping-indicator {
    margin: auto;
    width: 600px;
    height: 56px;
    background: #efefef;
    font-size: 18px;
    color: #085ffe;
    font-weight: bold;
    white-space: nowrap;
    margin-top: 18px;
    position:relative;
}

/* this goes around the text of the scraping section */
.scraping-content {
    position: absolute;
    left: 20px;
    bottom: 16px;
}

/* This holds everything below the channel bar*/
#main-container {
    position: absolute;
    padding-top: 0px;
    top: 77px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
}

/* This is the blue grey gradient for the bars above the "available"
and "downloaded" sections */
.main-channelbar {
    background: url(../images/main-bar-bg.png) repeat-x left bottom;
    height: 19px;
    display: block;
    overflow: hidden;
    color: #111;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    padding-top: 2px;
}

/* The yellow gradient for the "download" bar */
.main-channelbar-download {
    height: 19px;
    background: url(../images/main-bar-bg-download.png) repeat-x left bottom;
    display: block;
    overflow: hidden;
    color: #111;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    padding-top: 2px;
}

/* triangle for the bars */
.triangle {
    background: url(../images/triangle-right.png) no-repeat left top;
    display: block;
    float: left;
    width: 15px;
    height: 16px;
    margin-top: 3px;
    margin-left: 5px;
}

.triangle-down {
    background: url(../images/triangle-down.png) no-repeat left top;
    display: block;
    float: left;
    width: 15px;
    height: 16px;
    margin-top: 3px;
    margin-left: 5px;
}


/* The N more videos oval */
.main-notification {    
    float: left;
    display: block;
    height: 24px;
    background: url(../images/main-notification-bg.png) no-repeat left top;
    padding: 3px 0px 0px 20px;
    margin: 15px 0px 12px 5px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}
.main-notification-right {  
    float: left;
    display: block;
    width: 20px;
    height: 24px;
    margin: 15px 0px 12px 0px;
    text-decoration: none;
    background: url(../images/main-notification-right.png) no-repeat right top;
    overflow: hidden;
}


/* Used in playlist and playlist-folder */
.playlist-end-drag-hitbox {
    height: 10px;
    width: 100%;
}
.playlist-end-drag-hitbox.drag-highlight {
    border-top: 1px solid #0752d7;
}

/* used in search view */
.search-message {
    font-size: 28px;
    color: #DDD;
    text-align: center;
    margin-top: 50px;
}

.search-results-bar {
    font-size: 20px;
    background: #cef;
    padding: 5px 10px;
}

.search-results-bar a {
    font-size: 12px;
}

/* Around  the "empty folder" message */
.channel-blank {
    text-align: center;
    padding: 30px;
}
.channel-message {
    font-size: 28px;
    color:      #999;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}
.channel-message.small {
    font-size: 20px;
    margin-top: 20px;
    font-weight: normal;
}
.drag-highlight .channel-message {
    color: #0752d7;
}

/* used in multi-channel */
body.gray-background {
    background-color: #f7f7f7;
}
.button-zone-two {
margin: 0 auto 0 auto;
text-align: center;
width: 500px;
}
.button-zone-one {
margin: 0 auto 0 auto;
text-align: center;
width: 270px;
}
.gray-button-wrap {
margin-right: 10px;
float: left;
}
.gray-button-bg {
    background: url(../images/graybutton-mid.png) top left repeat-x;
    margin: 0 8px;
    height: 31px;
    cursor: pointer;
    margin: auto;
	width: 240px;
}
.gray-button-left {
    background: url(../images/graybutton-left.png) top left no-repeat;
    width: 8px;
    height: 31px;
    float: left;
}
.gray-button-right {
    background: url(../images/graybutton-right.png) top left no-repeat;
    width: 8px;
    height: 31px;
    float: right;
}
.gray-button-content {
    padding-top: 8px;
}

/* Everything below is used in download-item */
.main-video {
    border-top: 1px solid #f0fcfe;
    border-bottom: 1px solid #d5ddea;
    background: url(../images/main-video-bg.png) repeat-x;
    height: 84px;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
}

.unwatched { 
/*  background: url(../images/main-video-bg-unwatched.png) no-repeat right top;  */
}


/* This is the line that appears when you reorder items. When
an element is dragged, the drag-highlight class is added to it */
.main-video .dnd-reorder-line {
    position: absolute;
    top: -1px;
    height: 2px;
    width: 100%;
    background: #0752d7;
    display: none;
}
.main-video.drag-highlight .dnd-reorder-line {
    display: block;
}

/* These change the background based on whether or not it's selected */
.main-video.selected, .selected .main-video-stats, .selected .main-video-details {
    background-color: none;
    background: url(../images/main-video-bg-selected.png) repeat-x left top;
    color: white;
}

.main-video.selected-inactive, .main-video-details.selected-inactive, .main-video-stats.selected-inactive {

    background: #ccc;
}

.main-video-tnail {
    position: absolute;
    left: 5px;
    top: 3px;
    width: 101px;
    height: 76px;
    border: 1px solid #e6e6eA;
    z-index: 1;
}

.download-pending-icon {
    position: absolute;
    bottom: 6px;
    right: 6px;
    width: 15px;
    height: 15px;
    border: 0px;
}

.main-video-desc {
    margin-left: 115px;
    margin-right: 255px;
    margin-top: 3px;
    height: 80px;
    overflow: hidden;
}

.main-video-desc h1 {
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    height: 17px;
    overflow: hidden;
}

.main-video-desc div {
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    overflow: hidden;
    line-height: 14px;
}

.main-video-desc-desc {
    color: #222;
    height: 44px;
}

.main-video.selected .main-video-desc h1, .main-video.selected .main-video-desc-desc {
    color: white;
}

.main-video-desc p {
    display: inline;
    padding: 0px;
    margin: 0px;
}
.main-video-desc p br {
    display: inline;
    padding: 0;
    margin: 0;
    height: 0;
}


.main-video-desc a:link, .main-video-desc a:active, .main-content a:link, .main-content a:active {
    color: #215ccf;
    text-decoration: underline;
}

.main-video-desc a:hover, .main-content a:hover {
    color: #4181e0;
}

.main-video-desc a:visited, .main-content a:visited {
    color: #666666;
    text-decoration: underline;
}

.main-video.selected .main-video-desc a:link {
    color: white;
}

.main-video-hitbox {
    position: absolute;
    top: 4px;
    left: 6px;
    width: 100px;
    height: 75px;
    z-index: 2;
}

.main-video-hitbox a, .main-video-hitbox span{
    display: block;
    width: 100px;
    height: 75px;
}

.main-video-hitbox .download-icon {
    background: url(../images/main-video-download.png) no-repeat right top;
}

.main-video-hitbox .download-icon:hover {
    background: url(../images/main-video-download.png) no-repeat right -75px;
}

.main-video-hitbox .play-icon {
    background: url(../images/main-video-play.png) no-repeat right top;
}

.main-video-hitbox .play-icon:hover {
    background: url(../images/main-video-play.png) no-repeat right -75px;
}

.main-video-hitbox .inprogress-background {
    background: url(../images/main-video-inprogress.png) no-repeat right top;
}

.main-video-hitbox img.inprogress-arrows {
    display: block;
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.main-video-stats {
    position: absolute;
    right: 155px;
    top: 0px;
    width: 85px;
    height: 74px;
    padding: 5px;
    color:  #666;
    background: #e8ecf3;
    font-size: 10px;
}

.main-video-stats a {
    color:  #666;
}

.main-video-stats a:hover {
    color: #4181e0;
}

.selected .main-video-stats a, .selected .main-video-stats a:hover {
    color: white;
}

.main-video-details-reveal-button {
    position: absolute;
    bottom: 4px;
    left: 5px;
}


.main-video-details {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 155px;
    height: 100%;
    background: #e1e9f6;
}

.main-video-details-tasks {
    position: absolute;
    top: 11px;
    left: 5px;
    height: 26px;
    width: 115px;
}

.main-video-details-tasks a {
    display: block;
    position: absolute;
    top: 0px;
    width: 36px;
    height: 36px;
}

.main-video-details-task-mail { 
    left: 2px;
    background: url(../images/main-icon-mail.png) top left no-repeat;
}

.main-video-details-task-bomb { 
    left: 42px;
    background: url(../images/main-icon-bomb.png) top left no-repeat;
}

.main-video-details-task-delete {   
    left: 82px;
    background: url(../images/main-icon-trash.png) top left no-repeat;
}

.main-video-bottom {
	font-size: 11px;
	overflow:  hidden;
	padding:  1px 0px;
	position: relative;
}

.video-state {
    font-weight: bold;
}

.video-state.new, .video-state.newly-downloaded {
    color: white;
}

.video-state.new { 
    background: #486D9F;
}

.video-state.newly-downloaded { /* AKA unwatched */
    background: #090;
}

.channel-title {
    float: right;
}

.small-button-left {
    background: left top no-repeat url(../images/small-button-left.png);
}

.small-button-right {
    background: right top no-repeat url(../images/small-button-right.png);
}

.small-button {
    background: left top repeat-x url(../images/small-button-middle.png);
    margin: 0px 3px;
    padding: 0px 3px;
    height: 19px;
}

.small-button a:link {
    font-size: 9px;
    font-weight: bold;
    color: #444;
    text-decoration: none;
}

.small-button a:hover {
    color: #000000;
    text-decoration: underline;
}

.small-button-left.save {
    position: absolute;
    left: 10px;
    width: 65px;
}

.small-button-left.delete {
    position: absolute;
    left: 80px;
    width: 65px;
}

.details-small-buttons {
    position: absolute;
    width: 100%;
    top: 63px;
    height: 19px;
    text-align: center;
}

.main-video-details-download-info {
    position: absolute;
    top: 48px;
    left: 8px;
    width: 125px;
    height: 30px;
    font-size: 10px;
    overflow: hidden;
}

.main-video-details-download-info.expiring {
    color: #444;
    text-align: center;
}

.main-video-details-download-info.pending-auto {
    text-align: center;
}

.download-rate-and-eta {
    width: 90px;
}

.download-rate {
    float: right;
}


.main-video.selected .main-video-details-download-info, .main-video.selected .video-state {
    color: white;
}

.main-progress-bar-bg {
  width: 92px;
  height: 11px;
  margin: 1px 1px 2px 1px;
  background: url(../images/progress-bar-bg.png) no-repeat left top; 
}

.main-progress-bar {
  height: 11px;
  background: url(../images/progress-bar.png) no-repeat left top; 
}

.main-progress-throbber-bg {
  width: 94px;
  height: 13px;
  margin: 0px 0px 1px 0px;
  background: url(../images/progress-throbber-bg.png) no-repeat left top; 
}

.main-progress-throbber-bg img {
  margin: 1px;
  border: 0px;
}

.main-progress-cancel {
    display: block;
    position: absolute;
    top: 0px;
    left: 98px;
    width: 11px;
    height: 13px;
    background: url(../images/main-cancel.png) top left no-repeat;
}
