#nav-bar {
    background: url(../images/nav-bar.png) repeat-x left top;
    margin: 0;
    padding: 5px;
    color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 16px;
    z-index: 1;
    font-size: 80%;
    vertical-align: middle;
}

#nav-bar ul {
    margin: 0;
    padding-left: 0;
    padding-right: 8px;
    float: left;
    list-style-type: none;
}

#nav-bar ul li {
    height: 16px;
    float: left;
}

#nav-bar .hidden {
    display: none;
}

#nav-bar ul a {
    display: block;
    height: 100%;
    margin-right: 1px;
    color: black;
    text-decoration: none;
}

#nav-bar .previous a {
    width: 16px;
    background-image: url(../images/previous.png);
}

#nav-bar .next a {
    width: 16px;
    background-image: url(../images/next.png);
}

.home-button-left {
    margin-left: 15px;
    padding-left: 6px;
    display: block;
    background: url(../images/home-button-left.png) top left no-repeat;
}

.home-button-left:hover {
    text-decoration: none;
}

.home-button-right {
    padding-right: 6px;
    display: block;
    background: url(../images/home-button-right.png) top right no-repeat;
}

.home-button-content {
    display: block;
    height: 16px;
    background: url(../images/home-button-middle.png) top left repeat-x;
    text-align: center;
    line-height: 16px;
    vertical-align: middle;
    padding: 0px 5px;
}

#load-indicator {
    position: fixed;
    display: none;
    top: 4px;
    right: 10px;
    z-index: 1;
}
