#nav-bar {
    background: url(../images/nav-bar.png) repeat-x left top;
    margin: 0;
    padding: 3px 5px;
    color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 26px;
    z-index: 1;
    font-size: 80%;
    vertical-align: middle;
}

#nav-bar ul {
    margin: 0;
    padding-left: 0;
    padding-right: 8px;
    float: left;
    list-style-type: none;
}

#nav-bar ul li {
    height: 19px;
    float: left;
}

#nav-bar .hidden {
    display: none;
}

#nav-bar ul a {
    display: block;
    height:19px;
    overflow:hidden;
    color: black;
    text-decoration: none;
    background-position:left top;
    background-repeat:no-repeat;
}

#nav-bar .previous a {
    width: 26px;
    background-image: url(../images/nav_previous.png);
}

#nav-bar .next a {
    width: 25px;
    background-image: url(../images/nav_next.png);
    margin-right:8px;
}

#nav-bar .home a {
    width:30px;
    background-image: url(../images/nav_home.png);
}

#nav-bar ul a.clicked {
  background-position:left -19px;
}

#load-indicator {
    position: fixed;
    display: block;
    top: 4px;
    right: 10px;
    z-index: 1;
}
