
/* DOWNLOAD TAB
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.sidebar-download {
	position: fixed;
	bottom: 6px;
	width: 100%;
	height: 30px; 
	z-index: 100;
	margin:0px 0px 0px -4px;	
	padding-top: 16px;
}

/*.sidebar-download-selected {	
	background: #e6edf7 url(../images/sidebar-tab-bg-selected.png) 0px 6px repeat-x;
}*/

/*.sidebar-download-inactive {	
	background: #e6edf7 url(../images/sidebar-tab-bg-selected.png) 0px 6px repeat-x;
}*/

.sidebar-download-inner {
}

.sidebar-download-inner, .sidebar-download-inner-selected, .sidebar-download-inner-inactive {
	height: 26px;
	margin-right: 0px;
	padding-bottom: 0px;
	background-color: #e6edf7;
	border-top: 1px solid #b6bfce;
	border-bottom: 2px solid #e6edf7;
}

.sidebar-download-inner-selected {
	background: #e6edf7 url(../images/sidebar-tab-bg-selected.png) repeat-x 0px 2px;
}

.sidebar-download-inner-inactive {
	background: #e6edf7 url(../images/sidebar-tab-bg-selected.png) repeat-x 0px 2px;
}

.sidebar-download-inner span, .sidebar-download-inner-selected span, .sidebar-download-inner-inactive span {	
	background: url(../images/download-icon-tab.png) no-repeat 4px 4px;
}

.sidebar-download-inner p, .sidebar-download-inner-selected p, .sidebar-download-inner-inactive p {
	float: left;
	padding-left: 26px;
	margin-top: 8px;
}

.sidebar-download-inner-selected p {
	color: #FFFFFF;
}

#sidebar-download-fade {
	display: none;
	position: fixed;
	bottom: 30px;
	width: 100%;
	height: 10px;	
	z-index: 100;
	background: url(../images/sidebar-downloadtab-fade.png) repeat-x left bottom;
}

/* CIRCLE ICONS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.circle-blue-left {
	float: right;
	display: inline;
	margin: 4px 0px 0px 0px;
	background: url(../images/circle-blue-left.png) left top no-repeat;
}

.circle-blue-number {
	margin: 0px 8px 0px 8px;
	padding: 2px 0px 3px 0px;
	background: #4081EC;
	color: #FFFFFF;
	font-size: 11px;
}

.circle-blue-right {
	background: url(../images/circle-blue-right.png) top right no-repeat;
}

.circle-green-left {
	float: right;
	display: inline;
	margin: 4px 0px 0px 0px;
	background: url(../images/circle-green-left.png) left top no-repeat;
}

.circle-green-number {
	margin: 0px 8px 0px 8px;
	padding: 2px 0px 3px 0px;
	background: #00B904;
	color: #FFFFFF;
	font-size: 11px;
}

.circle-green-right {
	background: url(../images/circle-green-right.png) top right no-repeat;
}

.circle-white-left {
	float: right;
	display: inline;
	margin: 4px 0px 0px 0px;
	background: url(../images/circle-white-left.png) left top no-repeat;
}

.circle-white-number {
	margin: 0px 8px 0px 8px;
	padding: 2px 0px 3px 0px;
	background: #FFFFFF;
	color: #4081EC;
	font-size: 11px;
}

.circle-white-right {
	background: url(../images/circle-white-right.png) top right no-repeat;
}

.circle-orange-left {
	float: right;
	display: inline;
	margin: 5px 1px 0px 0px;
	background: url(../images/circle-orange-left.png) left top no-repeat;
}

.circle-orange-number {
	margin: 0px 8px 0px 8px;
	padding: 2px 0px 3px 0px;
	color: #FFFFFF;
	font-size: 11px;
	background: url(../images/circle-orange-center.png) left top repeat-x;
}

.circle-orange-right {
	background: url(../images/circle-orange-right.png) top right no-repeat;
}