/*/////////////////////////////////////////////

CSS For the Desktop Player
-----------------------------------------------
Participatoryculture.org

///////////////////////////////////////////////

Some common HTML
 
/////////////////////////////////////////////*/


a img{
	border: none;
	}

body {
	font-family: lucida grande, verdana;
	font-size: 12px;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	width: 100%
	}

	


/*///////////////////////////////////////////////

Some common classes
 
/////////////////////////////////////////////*/


.topbox{
	padding: 10px;
	background: #666;
	text-shadow: 0px 1px 0px black;
	color: #fff;
	text-align: center;
	text-align: left;
	margin: 0;
	}

.lighttopbox{
	padding: 10px;
	background: #ddd;
	text-shadow: 0px 1px 0px white;
	color: #333;
	margin: 0;
	}



.displayblock{
	display: block;
	}
	
.alignright{
	text-align: right;
	}

.warning{
	color: #D4A100;
	padding: 3px;
/*	color: #fff;
	display: block;  */
	}






/*/////////////////////////////////////////////

SIDEBAR
-----------------------------------------------
Contains the channels
 
/////////////////////////////////////////////*/

#sidebar{
	padding: 0;
	width: 100%;
	}

#channels{
	padding: 0;
	width: 100%;
	}


#sidebar h2{
	font: 14px Arial, Helvetica, sans-serif;
	background: #ddd;
	margin: 0;
	padding: 4px;
	}

#sidebar ul{
	padding-left: 0px;
	margin: 0;
	width: 100%;
	}
	
#sidebar ul li{
	list-style: none;
	clear: both;
	margin: 0;
	border-bottom: 1px solid #ccc;
	}


#sidebar ul ul li {
	padding: 7px 0px 7px 0px;
	color: #333;
	text-decoration: none;
	clear: both;
	}



#sidebar ul ul {
	padding: 0;
	margin: 0;
	display: none;
	}

.alt{
	background: #f9f9f9;
	}

#sidebar ul li:hover{
	cursor: default;
	}

#sidebar ul li a{
	padding: 4px 5px;
	color: #333;
	text-decoration: none;
	clear: both;
	height: 29px;
	}

#sidebar ul li a span{
	display: block;
	padding: 8px 0 9px 37px;

	}


#sidebar ul li a span.new{
	background: url(resource:images/play.png) 100% 100% no-repeat;
	display: inline;
	width: 40px;
	padding: 0 10px 0 5px;
	color: #009900;
	}

#sidebar ul li a img.icon{
	border: 0;
	float: left;
	}

	
a.feeditem{
	display: block;
    white-space: nowrap;
	}

a.feeditem:hover{
	}

#sidebar a.selected_feeditem {
	background: #eee url(resource:images/selectedbackgrey.png) 0% 0% repeat-x; 
	color: #fff;
	}

/*

#sidebar:hover a.selected_feeditem {
	background: #eee url(resource:images/selectedback.png) 0% 0% repeat-x; 
	color: #fff;
	} 
	
*/

a.selected_feeditem span {
	color: #fff;
	}

a.infolder {
 margin-left: 20px
}




/*/////////////////////////////////////////////

Buttons
-----------------------------------------------
Various Buttons
 
/////////////////////////////////////////////*/

.settings_button{
	position: absolute;
	right: 10px;
	top: 5px;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	}



a.queuebutton{
	position: fixed;
	display: block;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #333;
	border-top: 1px solid #ddd;
	bottom: 0;
	left: 0; 
	width: 100%;
	z-index: 100;
	}



a.queuebutton span.name{
	margin: 0 0 0 -10px;
	padding: 0;
	display: block;
	}


a.queuebutton img{
	display: none;
	}




/*/////////////////////////////////////////////

MAIN WINDOW
-----------------------------------------------
A wrapper around the content
 
/////////////////////////////////////////////*/

#main_window {
	background-color: #fff;
	padding-right: 0px;
	}




#content_window {
	background-color: #fff;
	padding-right: 0px;
	margin-top: 90px;
	}

#library {
	width: 597px;
	height: 355px;
	background: url(resource:images/itunes.jpg);
	}

/*/////////////////////////////////////////////

Title of each channel
 
/////////////////////////////////////////////*/

.channel_title {
	padding: 3px 2px 4px 5px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	background: #666 url(resource:images/blue.gif);
	text-shadow: 0px 1px 0px black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	}
	
#main_window:hover .channel_title {
	background: #666 url(resource:images/blue.gif);
	}

/*/////////////////////////////////////////////

Channel Specific Tabs
-----------------------------------------------
watch, choose...
 
/////////////////////////////////////////////*/


.channel_tabs {
	height: 25px;
	border-top: 1px solid #ccc;
	border-top: 1px solid #666;
	border-bottom: 1px solid #999;
	background-color: #ccc;
	background: url(resource:images/tabback.png);
	position: fixed;
	top: 24px;
	width: 100%;
	left: 0;
	z-index: 200;
	}

.channel_tabs a{
	text-decoration: none;
	}

.tab {
	padding: 6px 8px;
	font-size: 12px;
	float: left;
	color: #333;
	height: 13px;
	font-weight: bold;
	text-shadow: 0px 1px 0px white;
/*	width: 45px;  */
	text-align: center;
	margin:0;
	}
	
.tab:hover {
	cursor: default;
	}
	
.tab:active {
	background: url(resource:images/tab_active.png) repeat-x;	
	}
	
.emptytab {
	width: 40px
        }
.active_tab {
	background: url(resource:images/tab_active.png) repeat-x;
	color: #333;
	text-shadow: 0px 1px 0px white;
	}

#searchfield{
	position: absolute;
	right: 10px;
	top: 3px;
	}

#searchfield input{
	font-size: 11px;	
	margin: 0 3px;
	}
	
.no_new {
	padding: 10px;
	color: #900;
}


/*/////////////////////////////////////////////

Main List Items
-----------------------------------------------
Where the videos show up
 
/////////////////////////////////////////////*/


#main_window ul li {
	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #eee;
	border-left: 1px solid #fff;
	display: block;
	clear: both;
	padding-top: 5px;
	list-style: none;
	height: 76px;
	}

#main_window li:hover{
	cursor: default;
	}


#main_window li:hover, #main_window li:hover .short_description, #main_window li:hover .video_title{

	}

#main_window li:hover .file_size, #main_window li:hover .length{
	}

#main_window ul li.alt {
	background: #EDF3FE;
	}

#main_window ul li.divider {
	border: none;
	display: block;
	clear: both;
	padding: 0px;
	height: 14px;
	font-size: 10px;
	padding-left: 6px;
	padding-top: 2px;
	background-color: #FFFEC1;
	color: #444;
	text-shadow: 0px 1px 0px #ddd;
	font-weight: normal;
	}

#main_window ul li.divider img{
	}

#main_window ul {
	margin: 0;
	padding: 0;	
	}



#main_window li .thumbnail_placeholder{
	display: block;
	float: left;
	padding: 0px;
	border: 1px solid #eee;
	margin-top: 0px;
	margin-right: 8px;
	margin-left: 8px;
	width: 92px;
	height: 69px;
	}


.desc{
	float:left;
	width: 55%;
	}

.file_size{
	display: block;
	font-size: 10px;
	color: #777;
	margin-top: 2px;
	padding-top: 2px;
	}

.file_size span{
	}

.file_size span strong.length{
	padding-right: 7px;
	}

.video_title {
	font-weight: bold;
	color: #222;
	width: 100%;
	overflow: hidden;
	height: 20px;
	font-size: 15px;
	padding-top: 1px;
	}

.video_creator {
	}

.short_description {
	color: #444;  
	line-height: 16px;
	height: 32px;
	overflow: hidden;
	}

.download_button {
	width: 30px;
	height: 30px;
	display: block;
	float: right;
	margin-right: 58px;
	/* background: url(resource:images/download_button.png) top left no-repeat; */
	}

/*

.download_button:hover {
	background: url(resource:images/download_button_hover.png)  top left no-repeat;
	}
	
	*/

.play_item {
	background: url(resource:images/play_button.png)  top left no-repeat;
	width: 30px;
	height: 30px;
	display: block;
	margin: 10px auto;
	}


.play_item:hover {
	background: url(resource:images/play_button_hover.png)  top left no-repeat;
	}


.play_box{
	float: right;
	text-align: center;
	width: 150px;
	}

.play_box a{
	color: dark blue;
	font-size: 11px;
	text-decoration: none;
	}

.play_box a:hover{
	color: blue;
	font-size: 11px;
	text-decoration: underline;
	}

.in_progress {
	background: url(resource:images/in_progress_gray.gif)  top left no-repeat;
	}

.in_progress:hover{
	background: url(resource:images/queued_item.gif)   top left no-repeat;
	}


.progress_box{
	float: right;
	width: 102px;
	font-size: 11px;
	padding-top: 20px;
	margin-right: 20px;
	}

.bar_holder{
	width: 102px;
	height: 20px;
	background: url(resource:images/0.png) top left no-repeat;
	}

.cancel_button{
	float: right;
	margin: 3px 0px 3px 3px;
	}
	

.est_time{
	display: block;
	padding-top: 4px;
	text-align: left;
	}


.download_button a {
	color: #339933;
	}

.queue a {
	color: #CD4D00
	}

.dling a {
	color: #CD4D00
	}

/* progress bar 


.progress{
	color: #666;
	font-size: 9px;
	padding-top: 7px 0;
	}

img.progressbar {
    margin-left: -30px
}

.progress a{
    margin: 3px 0 0 9px;
	}



/* --- Settings Section ---- */

.settings_section{
	padding: 10px;
	border: 1px solid #999;
	background-color: #fff;
	padding-right: 0px;
	border-left: 1px solid #999;
	}

.settings_section .option{
	padding: 5px;
	}

.settings_title {
	background-color: #fff;
	padding: 8px;
	margin: 0;
	font-size: 18px;
}



/* ---- Play Button --- */


a#playbutton{
	margin-left: 363px;
	}

a#playbutton img{
	border: 0;
	}

/* ----- video ----- */

#video{	
	background: #000;
	text-align:center;
	padding-top: 10px;
	}

#video #desc{	
	background: #212121;
	text-align:center;
	margin-top: 30px;
	}




/*/////////////////////////////////////////////

Settings Section
-----------------------------------------------
Where the videos show up
 
/////////////////////////////////////////////*/

div.settings{
	background: #eee;
	}


div.settings div{
	display: block;
	padding: 5px 5px 5px 25px;
	border-bottom: 1px solid white;
	border-top: 1px solid #f9f9f9;
	}


#editcachelink{
	padding: 0;
	margin: 0;
	text-shadow: none;
	color: #333;
	}
	
	
.setting_heading{
	background: #bbb;
	padding: 5px;
	margin-bottom: 2px;
	}
	
.setting_heading h2{
	display: inline;
	padding: 0;
	margin: 0;
	font-size: 13px;
	}
	
.heading_desc{
	padding-left: 5px;
	color: #666;
	font-size: 10px;
	}
	
	
	
	



#ultra_top_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	}
	
	
#top_wrapper{
	background: #E6E9FF;
	clear: both;
	height: 63px;
	}


#channel_info{
	float: left;
	width: 250px;
	padding: 5px 0 0 5px;
	}

#channel_info img{
	display: block;
	float: left;
	width: 55px;
	height: 55px;
	margin: 0 6px 0 0;
/*	border: 1px solid #aaa; */
	}

#channel_info h2{
	margin: 0 0 0 59px;
	padding: 0;
	font-weight: normal;
	}


#right_half{
	text-align: left;
	float: right;
	padding: 5px 5px 0 0;
	}



.auto_link{
	color: green;
	}

.settings_link{
	margin-top: 1px;
	color: black;
	background: url(resource:images/orange_arrow.png) top right no-repeat;
	padding-right: 25px;
	font-size: 11px;
	text-decoration: none;
	}

.recommend_link{
	color: black;
	padding-right: 19px;
	font-size: 11px;
	background: url(resource:images/green_arrow.png) top right no-repeat;
	display: block;
	width: 190px;
	font-size: 11px;
	text-decoration: none;
	}

.settings_link:hover {
text-decoration: underline;
}

.recommend_link:hover {
text-decoration: underline;
}



.search_field{
	display: block;
	margin: 9px 0 0 0;
	}


#navigation_wrapper	{
	background: green url(resource:images/navigation_back.png) repeat-x;
	height: 20px;
	margin: 0;
	}

#navigation	{
	height: 25px;
	width: 190px;
	margin: 0 auto;
	}

#navigation	a{
	margin: 0;
	display: block;
	float: left;
	text-decoration: none;
	color: #333;
	height: 24px;
	}



.watch{
	width: 46px;
	padding: 5px 0 0 15px;
	background: url(resource:images/watch.png) no-repeat;
	}

.watch:active{
	background: url(resource:images/watch_pressed.png) no-repeat;
	}
	
.watch_active{
	width: 46px;
	padding: 5px 0 0 15px;
	background: url(resource:images/watch_active.png) no-repeat;
	}

.watch_active:active{
	background: url(resource:images/watch_pressed.png) no-repeat;
	}

.browse{
	width: 52px;
	padding: 5px 0 0 10px;
	background: url(resource:images/browse.png) no-repeat;
	}

.browse:active{
	background: url(resource:images/browse_pressed.png) no-repeat;
	}

.browse_active{
	width: 52px;
	padding: 6px 0 0 10px;
	background: url(resource:images/browse_active.png) top right no-repeat;
	}

.browse_active:active{
	background: url(resource:images/browse_pressed.png) no-repeat;
	}



.browse_nolibrary{
	width: 57px;
	padding: 5px 0 0 10px;
	background: url(resource:images/library.png) no-repeat;
	}

.browse_nolibrary:active{
	background: url(resource:images/library_pressed.png) no-repeat;
	}

.browse_nolibrary_active{
	width: 57px;
	padding: 5px 0 0 10px;
	background: url(resource:images/library_active.png) no-repeat;
	}

.browse_nolibrary_active:active{
	background: url(resource:images/library_pressed.png) no-repeat;
	}






.library{
	width: 57px;
	padding: 5px 0 0 10px;
	background: url(resource:images/library.png) no-repeat;
	}

.library:active{
	background: url(resource:images/library_pressed.png) no-repeat;
	}
	
	
.library_active{
	width: 57px;
	padding: 5px 0 0 10px;
	background: url(resource:images/library_active.png) no-repeat;
	}
	
.library_active:active{
	background: url(resource:images/library_pressed.png) no-repeat;
	}





/*/////////////////////////////////////////////

MAIN WINDOW
-----------------------------------------------
A wrapper around the content
 
/////////////////////////////////////////////*/

#sidebar_tabs{
	margin: 0;
	padding: 0;
	text-align: left;
	overflow: auto;
	border-bottom: 1px solid #333;
	}

#sidebar_tabs li{
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	}
	
#sidebar_tabs li a{
	margin: 0;
	padding: 5px 7px ;
	height: 15px;
	display: block;
	float: left;
	font-size: 13px;
	border-right: 1px solid #fff;
	color: black;
	text-decoration: none;
	text-shadow: 0px 1px 0px white;
	}

#sidebar_tabs li a.active{
	
	}
	
	
.number_count{
	display: inline;
	position: relative;
	z-index: 800;
	left: -22;
	top: 7;
	padding: 0;
	margin: 0;
	color: white;
	text-shadow: 0px 1px 0px #333;
	}
	
span.newchannel{
	display: none;
	}