/*/////////////////////////////////////////////

CSS For the Desktop Player
-----------------------------------------------
Participatoryculture.org

///////////////////////////////////////////////

Some common HTML
 
/////////////////////////////////////////////*/


a img{
	border: none;
	}

body {
	font-family: "Lucida Grande", "Tahoma", "Bitstream Vera Sans", Arial, sans-serif;
	font-size: 12px;
	background-color: #e6edf7;
	margin: 0;
	padding: 0;
	width: 100%;
}

.noselect {
    -khtml-user-select: none;
    -moz-user-select: none;
    cursor: default;
}
 
.draggable {
    -khtml-user-drag: element;
}


/*/////////////////////////////////////////////

SIDEBAR
-----------------------------------------------
Contains the channels
 
/////////////////////////////////////////////*/

#sidebar{
	padding: 0px 0px 0 0;
	width: 100%;
	overflow: hidden;
	}

#channels{
	padding: 0;
	width: 100%;
	}

.tab-list {
       padding-left: 0px;
       margin: 0;
       width: 100%;
}
       
.tab-list li{
       list-style: none;
       clear: both;
       margin: 1px 0px 0px 0px;
}

.tab-list li:hover {
	cursor: default;
}

a.feeditem {
    display: block;
    padding: 2px 5px 2px 4px;
    color: #000;
    font-size: 11px;
    text-decoration: none;
    height: 20px;
    white-space: nowrap;
}

.selected a.feeditem, .selected-inactive a.feeditem {
    color: #fff;
    font-weight: bold;
}

a.feeditem span {
    margin-left: 6px;
    margin-top: 3px;
    padding: 0px 0 5px 0px;
    overflow: hidden;
}

.selected a.feeditem span, .selected-inactive a.feeditem span {
    color: #fff;
}

.selected a.feeditem {
    background: url(../images/channel_bg.png) 0% 0% repeat-x; 
}

.selected-inactive a.feeditem {
    background: url(../images/channel_bg.png) 0px -50px repeat-x; 
}

a.feeditem img.icon {
    height: 20px;
    width: 20px;
    margin: 0;
    border: 0;
    float: left;
}

.expanded-triangle {
    margin: 0;
    border: 0;
    float: left;
}

.dnd-background-outer  {
    position: relative;
    height: 24px;
    width: 100%;
}

.dnd-background-inner1, .dnd-background-inner2  {
    position: absolute;
    height: 24px;
    z-index: -1;
}

/* DND Effects.  There is some nasty CSS stuff going on.  

* The basic idea is that for tabs, we surround the content with a
* .dnd-background-outer DIV.  We also add 2 extra absolutely positiond DIVS
* inside .dnd.background-outer, called .dnd-background-inner1 and
* .dnd-background-inner2.  The when the DIVs are being dragged over, they get
* 2 extra classes, "drag-highlight" and the type of data that is being dragged
* onto it ("playlist", "channelfolder", etc).
* 
* There are 2 kinds of DND effects we have for tabs, reordering a them and
* dropping a playlist/channel on a folder or an item on a playlist.
*/

/* DND reorder effects */
.drag-highlight.dnd-background-outer {
}

.drag-highlight .dnd-background-inner1 {
    background: url(../images/dnd-reorder-circle.png) top left no-repeat;
    top: -4px;
    left: 4px;
    width: 5px;
}

.drag-highlight .dnd-background-inner2 {
    background: url(../images/dnd-reorder-line.png) 3px 0px repeat-x;
    top: -2px;
    left: 4px;
    right: 0px;
    width: auto;
}

.drag-highlight.child .dnd-background-inner1, .drag-highlight.child .dnd-background-inner2 {
   left: 26px;
}

/* DND Folder highlight effects */
.playlist-folder.drag-highlight.playlist.dnd-background-outer, .channel-folder.drag-highlight.channel.dnd-background-outer, .playlist.drag-highlight.downloadeditem.dnd-background-outer {
    background: url(../images/dnd-highlight-left.png) top left no-repeat;
}

.playlist-folder.drag-highlight.playlist .dnd-background-inner1, .channel-folder.drag-highlight.channel .dnd-background-inner1, .playlist.drag-highlight.downloadeditem .dnd-background-inner1 {
    background: url(../images/dnd-highlight-mid.png) top left repeat-x;
    top: 0px;
    left: 5px;
    right: 5px;
    width: auto;
}

.playlist-folder.drag-highlight.playlist .dnd-background-inner2, .channel-folder.drag-highlight.channel .dnd-background-inner2, .playlist.drag-highlight.downloadeditem .dnd-background-inner2 {
    background: url(../images/dnd-highlight-right.png) top right no-repeat;
    left: auto;
    top: 0px;
    width: 5px;
    right: 0px;
}

.child a.feeditem {
   padding-left: 30px;
}

a.feeditem div.name {
	padding: 3px;
	overflow: hidden;
}

.tab-list-divider {
	margin: 2px 2px 1px 0px;
	height: 2px;
	overflow: hidden;
	font-size: 2px;
	border-top: 1px solid #b6bfce;
}

.tab-list-divider.drag-highlight {
	border-top: 1px solid black;
}

.tab-list-end {
	height: 5px;
}

.tab-list-end.drag-highlight {
	border-top: 1px solid black;
	height: 4px;
}

.feed-loading-icon {
	float: right;
	position: relative;
	width: 16px;
	height: 16px;
	margin: 1px 0px 0 0;
	padding: 1px;
	z-index: 2;
	background: url(../images/feed-loading-normal.gif) top left no-repeat;
}

a.feeditem.normal .feed-loading-icon {
	background: url(../images/feed-loading-normal.gif) top left no-repeat;
}
.selected a.feeditem .feed-loading-icon {
	background: url(../images/feed-loading-selected.gif) top left no-repeat;
}
.selected-inactive a.feeditem .feed-loading-icon {
	background: url(../images/feed-loading-selected-inactive.gif) top left no-repeat;
}

.number-count {
	font-size: 11px;
	line-height: 13px;
	color: #FFFFFF;
	margin: 0px 8px 0px 8px;
	padding: 2px 0px 4px 0px;
	font-weight: normal;
	background: left top repeat-x;
}


.left-bubble {
	margin: 1px 0px 0px 5px;
	float: right;
	position: relative;
	z-index: 2;
	background: left top no-repeat;
}

.left-bubble.second {
	margin-left: 1px;
}

.right-bubble {
	background: right top no-repeat;
}

.left-bubble.green {
	background-image: url(../images/circle-green-left.png);
}

.right-bubble.green {
	background-image: url(../images/circle-green-right.png);
}

.number-count.green {
	background-image: url(../images/circle-green-mid.png);
}

.left-bubble.blue {
	background-image: url(../images/circle-blue-left.png);
}

.right-bubble.blue {
	background-image: url(../images/circle-blue-right.png);
}

.number-count.blue {
	background-image: url(../images/circle-blue-mid.png);
}

.left-bubble.orange {
	background-image: url(../images/circle-orange-left.png);
}

.right-bubble.orange {
	background-image: url(../images/circle-orange-right.png);
}

.number-count.orange {
	background-image: url(../images/circle-orange-mid.png);
}
/* Reverse the color scheme for blue bubbles when they are selected */

.selected a.feeditem .left-bubble.blue {
	background-image: url(../images/circle-white-left.png);
}

.selected a.feeditem .right-bubble.blue {
	background-image: url(../images/circle-white-right.png);
}

.selected a.feeditem .number-count.blue {
	color: #4081EC;
	background-image: url(../images/circle-white-mid.png);
}

/*///////////////////////////////////////////////

Channel guide
 
/////////////////////////////////////////////*/

.channel-guide-body {
background-color: #e7e7e7;
}

#channel-guide-loading-image{
	width: 324px;
	height: 128px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -64px 0 0 -162px;
	background: url(../images/loading.gif) no-repeat left top;
	}
