/*/////////////////////////////////////////////

CSS For the Desktop Player
-----------------------------------------------
Participatoryculture.org

///////////////////////////////////////////////

Some common HTML
 
/////////////////////////////////////////////*/


a img{
	border: none;
	}

body {
	font-family: lucida grande, verdana;
	font-size: 12px;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	width: 100%
	}

	


/*///////////////////////////////////////////////

Some common classes
 
/////////////////////////////////////////////*/


.topbox{
	padding: 10px;
	background: #666;
	text-shadow: 0px 1px 0px black;
	color: #fff;
	text-align: center;
	text-align: left;
	margin: 0;
	}

.lighttopbox{
	padding: 10px;
	background: #ddd;
	text-shadow: 0px 1px 0px white;
	color: #333;
	margin: 0;
	}



.displayblock{
	display: block;
	}
	
.alignright{
	text-align: right;
	}

.warning{
	color: #D4A100;
	padding: 3px;
/*	color: #fff;
	display: block;  */
	}






/*/////////////////////////////////////////////

SIDEBAR
-----------------------------------------------
Contains the channels
 
/////////////////////////////////////////////*/

#sidebar{
	/*padding: 25px 0 0;*/
	width: 100%;
	overflow: hidden;
	}

#channels{
	padding: 0;
	width: 100%;
	}


#sidebar h2{
	font: 14px Arial, Helvetica, sans-serif;
	background: #ddd;
	margin: 0;
	padding: 4px;
	}

#sidebar ul{
	padding-left: 0px;
	margin: 0;
	width: 100%;
	}
	
#sidebar ul li{
	list-style: none;
	clear: both;
	margin: 0;
	}


#sidebar ul ul li {
	padding: 7px 0px 7px 0px;
	color: #333;
	text-decoration: none;
	clear: both;
	}



#sidebar ul ul {
	padding: 0;
	margin: 0;
	display: none;
	}

.alt{
	background: #f9f9f9;
	}

#sidebar ul li:hover{
	cursor: default;
	}

#sidebar ul li a{
	padding: 4px 5px 1px;
	color: #333;
	text-decoration: none;
	clear: both;
	height: 29px;
	}

#sidebar ul li a img{
	height: 26px;
	width: 26px;
	margin: 0;
	}


#sidebar ul li a span{
	display: block;
	padding: 0px 0 5px 0px;
	overflow: hidden;
	}

#sidebar ul li a span span{
	display: block;
	padding: 5px 0 5px 5px;
	overflow: hidden;
	}

#sidebar ul li a span.new{
	background: url(resource:images/play.png) 100% 100% no-repeat;
	display: inline;
	width: 40px;
	padding: 0 10px 0 5px;
	color: #009900;
	}

#sidebar ul li a img.icon{
	border: 0;
	float: left;
	}

	
a.feeditem{
	display: block;
    white-space: nowrap;
	}

a.feeditem:hover{
	}

#sidebar a.selected_feeditem {
	background: #eee url(resource:images/selectedback.png) 0% 0% repeat-x; 
	color: #fff;
	}

#sidebar a.selected_feeditem_inactive {
	background: #eee url(resource:images/selectedbackgrey.png) 0% 0% repeat-x; 
	color: #fff;
	}


a.selected_feeditem span {
	color: #fff;
	}

a.infolder {
 margin-left: 20px
}




/*/////////////////////////////////////////////

Buttons
-----------------------------------------------
Various Buttons
 
/////////////////////////////////////////////*/

/*

Download Queue Button
-----------------------------------------------

*/


#sidebar a.queuebutton {
	position: fixed;
	display: block;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color: #333;
	bottom: 0px;
	left: 0px; 
	width: 100%;
	z-index: 100;
	background: url(resource:images/dqueue_back.png) repeat-x; 
	height: 52px;
	text-align: center;
	}

#sidebar a.selected_queuebutton {
	position: fixed;
	display: block;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color: #333;
	bottom: 0px;
	left: 0px; 
	width: 100%;
	z-index: 100;
	background: url(resource:images/selected_dqueue_back.png) repeat-x; 
	height: 52px;
	text-align: center;
	}



#sidebar a.queuebutton span.name, #sidebar a.selected_queuebutton span.name {
	padding-top: 25px;
	height: 50px;
	/*
	display: block;
	position: fixed;
	bottom: 10px;
	width: 100%
	*/
	
	}


#sidebar a.queuebutton span.name span, #sidebar a.selected_queuebutton span.name span {
	display: inline;
	padding: 5px 0 5px 20px;
	margin: 0 0 0 -30px;
	background: url(resource:images/queue_arrow.png) 0 4px no-repeat;
	text-shadow: 0px 1px 0px white;
	
	}

a.queuebutton img, a.selected_queuebutton img{
	display: none;
	}




/*/////////////////////////////////////////////

MAIN WINDOW
-----------------------------------------------
A wrapper around the content
 
/////////////////////////////////////////////*/

#main_window {
	background-color: #fff;
	padding-right: 0px;
	}




#content_window {
	background-color: #fff;
	padding-right: 0px;
	margin-top: 90px;
	}

#library {
	width: 597px;
	height: 355px;
	background: url(resource:images/itunes.jpg);
	}


/*/////////////////////////////////////////////

Channel Specific Tabs
-----------------------------------------------
watch, choose...
 
/////////////////////////////////////////////*/


.channel_tabs {
	height: 25px;
	border-top: 1px solid #ccc;
	border-top: 1px solid #666;
	border-bottom: 1px solid #999;
	background-color: #ccc;
	background: url(resource:images/tabback.png);
	position: fixed;
	top: 24px;
	width: 100%;
	left: 0;
	z-index: 200;
	}

.channel_tabs a{
	text-decoration: none;
	}

.tab {
	padding: 6px 8px;
	font-size: 12px;
	float: left;
	color: #333;
	height: 13px;
	font-weight: bold;
	text-shadow: 0px 1px 0px white;
/*	width: 45px;  */
	text-align: center;
	margin:0;
	}
	
.tab:hover {
	cursor: default;
	}
	
.tab:active {
	background: url(resource:images/tab_active.png) repeat-x;	
	}
	
.emptytab {
	width: 40px
        }
.active_tab {
	background: url(resource:images/tab_active.png) repeat-x;
	color: #333;
	text-shadow: 0px 1px 0px white;
	}

#searchfield{
	position: absolute;
	right: 10px;
	top: 3px;
	}

#searchfield input{
	font-size: 11px;	
	margin: 0 3px;
	}
	
.no_new {
	padding: 10px;
	color: #900;
}


/*/////////////////////////////////////////////

Main List Items
-----------------------------------------------
Where the videos show up
 
/////////////////////////////////////////////*/

#main_window ul {
	margin: 0;
	padding: 0;	
	}


#main_window ul li {
	
	border-bottom: 5px solid #eee;
	
	background: url(resource:images/video_back.png) bottom left repeat-x;
	
	display: block;
	clear: both;
	padding: 12px 0 5px 0;
	list-style: none;
	height: 76px;
	}

#main_window li:hover{
	cursor: default;
	}


#main_window li:hover, #main_window li:hover .short_description, #main_window li:hover .video_title{

	}

#main_window li:hover .file_size, #main_window li:hover .length{
	}

#main_window ul li.alt {
	background: #EDF3FE;
	}

#main_window ul li.divider {
	border: none;
	display: block;
	clear: both;
	padding: 0px;
	height: 14px;
	font-size: 10px;
	padding-left: 6px;
	padding-top: 2px;
	background-color: #FFFEC1;
	color: #444;
	text-shadow: 0px 1px 0px #ddd;
	font-weight: normal;
	}

#main_window ul li.divider img{
	}





#main_window li .thumbnail_placeholder{
	display: block;
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 8px;
	margin-left: 8px;
	width: 92px;
	height: 69px;
	}
	
#main_window li .thumbnail_placeholder img{
	border-left: 2px solid #666;
	border-top: 2px solid #666;
	}


.desc{
	margin-right: 125px;
	}

.file_size{
	display: block;
	font-size: 10px;
	color: #777;
	margin-top: 2px;
	padding-top: 2px;
	}

.file_size span{
	margin-right: 10px;

	}

.file_size span strong.length{
	padding-right: 7px;
	}

.video_title {
	font-weight: bold;
	color: #222;
	overflow: hidden;
	height: 20px;
	font-size: 15px;
	padding-top: 1px;
	}

.video_creator {
	}

.short_description {
	color: #444;  
	line-height: 16px;
	height: 32px;
	overflow: hidden;
	}

.download_button {
	width: 30px;
	height: 30px;
	display: block;
	float: right;
	margin-right: 58px;
	}


/*/////////////////////////////////////////////

Right side of the Videos
-----------------------------------------------
play button, download button, error/expire
messages
 
/////////////////////////////////////////////*/


.right_box{
	text-align: right;
	width: 120px;
	float: right;
	z-index: 100;
	padding-right: 10px;
	}

.right_box a{
	color: dark blue;
	font-size: 11px;
	text-decoration: none;
	}

.right_box a:hover{
	color: blue;
	font-size: 11px;
	text-decoration: underline;
	}


.report_expire{
	font-size: 10px;
	background: url(resource:images/icons/calendar.png) 0 2px no-repeat;
	padding: 3px 0 3px 15px;
	}

.report_pending{
	font-size: 10px;
	background: url(resource:images/icons/pending.png) 0 2px no-repeat;
	padding: 3px 0 3px 15px;
	}
	
/* ---- Play Button ----- */
	
.play_button{
	width: 42px;
	height: 42px;
	background: url(resource:images/play_button.png) no-repeat;
	display: block;
	margin-left: 75px;
	}
	
.play_button:active{
	background: url(resource:images/play_button_active.png) no-repeat;
	}


/*/////////////////////////////////////////////

Progress Bar
 
/////////////////////////////////////////////*/


.bar_holder{
	width: 102px;
	height: 20px;
	background: url(resource:images/0.png) top left no-repeat;
	}

.progress_box{
	float: right;
	width: 102px;
	font-size: 11px;
	padding-top: 20px;
	margin-right: 20px;
	}

.cancel_button{
	float: right;
	margin: 3px 0px 3px 3px;
	}
	
.est_time{
	display: block;
	padding-top: 4px;
	text-align: left;
	}

/*/////////////////////////////////////////////

Settings Section
-----------------------------------------------
The settings of each channel
 
/////////////////////////////////////////////*/


.settings_section{
	padding: 10px;
	border: 1px solid #999;
	background-color: #fff;
	padding-right: 0px;
	border-left: 1px solid #999;
	}

.settings_section .option{
	padding: 5px;
	}

.settings_title {
	background-color: #fff;
	padding: 8px;
	margin: 0;
	font-size: 18px;
	}

div.settings{
	background: #eee;
	}


div.settings div{
	display: block;
	padding: 5px 5px 5px 25px;
	border-bottom: 1px solid white;
	border-top: 1px solid #f9f9f9;
	}


#editcachelink{
	padding: 0;
	margin: 0;
	text-shadow: none;
	color: #333;
	}
	
	
.setting_heading{
	background: #bbb;
	padding: 5px;
	margin-bottom: 2px;
	}
	
.setting_heading h2{
	display: inline;
	padding: 0;
	margin: 0;
	font-size: 13px;
	}
	
.heading_desc{
	padding-left: 5px;
	color: #666;
	font-size: 10px;
	}
	


/*/////////////////////////////////////////////

Channel Heading
-----------------------------------------------
search, title, recommend link
 
/////////////////////////////////////////////*/


#ultra_top_wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	}
	
	
#top_wrapper{
	background: #E6E9FF;
	clear: both;
	height: 63px;
	}


#channel_info{
	float: left;
	width: 60%;
	padding: 5px 0 0 5px;
	}

#channel_info img{
	display: block;
	float: left;
	width: 55px;
	height: 55px;
	margin: 0 6px 0 0;
	}

#channel_info h2{
	margin: 0 0 0 59px;
	padding: 0;
	font-weight: normal;
	max-height: 44px;
	overflow: hidden;
	}


#right_half{
	text-align: left;
	float: right;
	padding: 5px 5px 0 0;
	}



.auto_link{
	color: green;
	}

.settings_link{
	margin-top: 1px;
	color: black;
	background: url(resource:images/orange_arrow.png) top right no-repeat;
	padding-right: 25px;
	font-size: 11px;
	text-decoration: none;
	}

.recommend_link{
	color: black;
	padding-right: 19px;
	font-size: 11px;
	background: url(resource:images/green_arrow.png) top right no-repeat;
	display: block;
	width: 190px;
	font-size: 11px;
	text-decoration: none;
	}

.settings_link:hover {
	text-decoration: underline;
	}

.recommend_link:hover {
	text-decoration: underline;
	}

.search_field{
	display: block;
	margin: 9px 0 0 0;
	}

/*/////////////////////////////////////////////

Channel Navigation
-----------------------------------------------
The settings of each channel
 
/////////////////////////////////////////////*/



#navigation_wrapper	{
	background: green url(resource:images/navigation_back.png) repeat-x;
	height: 17px;
	margin: 0;
	}

#navigation	{
	height: 25px;
	width: 190px;
	margin: 0 auto;
	}

#navigation	a{
	margin: 0;
	display: block;
	float: left;
	text-decoration: none;
	color: #333;
	height: 20px;
	}



.watch{
	width: 46px;
	padding: 5px 0 0 15px;
	background: url(resource:images/watch.png) no-repeat;
	text-shadow: 0px 1px 0px white;
	}

.watch:active{
	background: url(resource:images/watch_pressed.png) no-repeat;
	text-shadow: 0px 1px 0px white;
	}
	
.watch_active{
	width: 46px;
	padding: 5px 0 0 15px;
	background: url(resource:images/watch_active.png) no-repeat;
	text-shadow: 0px 1px 0px white;
	}

.watch_active:active{
	background: url(resource:images/watch_pressed.png) no-repeat;
	text-shadow: 0px 1px 0px white;
	}

.browse{
	width: 52px;
	padding: 5px 0 0 10px;
	background: url(resource:images/browse.png) no-repeat;
	
	text-shadow: 0px 1px 0px white;
	}

.browse:active{
	background: url(resource:images/browse_pressed.png) no-repeat;
	text-shadow: 0px 1px 0px white;
	}

.browse_active{
	width: 52px;
	padding: 6px 0 0 10px;
	background: url(resource:images/browse_active.png) top right no-repeat;
	text-shadow: 0px 1px 0px white;
	}

.browse_active:active{
	background: url(resource:images/browse_pressed.png) no-repeat;
	text-shadow: 0px 1px 0px white;
	}



a.browse_nolibrary{
	width: 57px;
	padding: 5px 0 0 10px;
	background: url(resource:images/library.png) no-repeat;
	border-left: 1px solid #ccc;
	text-shadow: 0px 1px 0px white;
	}

.browse_nolibrary:active{
	background: url(resource:images/library_pressed.png) no-repeat;
	border-left: 1px solid #ccc;
	text-shadow: 0px 1px 0px white;
	}

.browse_nolibrary_active{
	width: 57px;
	padding: 5px 0 0 10px;
	background: url(resource:images/library_active.png) no-repeat;
	border-left: 1px solid #ccc;
	text-shadow: 0px 1px 0px white;
	}

.browse_nolibrary_active:active{
	background: url(resource:images/library_pressed.png) no-repeat;
	border-left: 1px solid #ccc;
	text-shadow: 0px 1px 0px white;
	}






.library{
	width: 57px;
	padding: 5px 0 0 10px;
	background: url(resource:images/library.png) no-repeat;
	text-shadow: 0px 1px 0px white;
	}

.library:active{
	background: url(resource:images/library_pressed.png) no-repeat;
	text-shadow: 0px 1px 0px white;
	}
	
	
.library_active{
	width: 57px;
	padding: 5px 0 0 10px;
	background: url(resource:images/library_active.png) no-repeat;
	text-shadow: 0px 1px 0px white;
	}
	
.library_active:active{
	background: url(resource:images/library_pressed.png) no-repeat;
	text-shadow: 0px 1px 0px white;
	}





/*/////////////////////////////////////////////

MAIN WINDOW
-----------------------------------------------
A wrapper around the content
 
/////////////////////////////////////////////*/

#sidebar_tabs a{
	margin: 0;
	padding: 5px 0;
	height: 15px;
	display: block;
	float: left;
	font-size: 13px;
	color: black;
	text-decoration: none;
	text-shadow: 0px 1px 0px white;
	text-align: center;
	width: 49%;
	}

#sidebar_tabs a.channel{
	border-right: 1px solid white;
	}

#sidebar_tabs a.collection{
	border-left: 1px solid #ccc;
	}

#sidebar_tabs{
	clear: both;
	overflow: auto;
	padding: 0;
	margin: 0;
	background: url(resource:images/sidebar_tab_back.png) repeat-x;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 80;
	}
	

	
.numbercount_holder{
	float: right;
	margin-left: 5px;
	}



.number_count{
	padding: 3px 0 4px;
	color: #fff;
	margin: 0 9px;
	background: #00d810;
	font-weight: bold;
	font-size: 11px;
	text-shadow: 0px 1px 0px #333;
	}

	

.green_left{
	background: url(resource:images/green_left.png) top left no-repeat;
	display: inline;
	margin: 3px 0 0 0;
	float: right;
	}

.green_right{
	background: url(resource:images/green_right.png) top right no-repeat;
	padding-right: 1px;
	}


.gray_number_count{
	padding: 3px 1px 3px 0px;
	color: #333;
	margin: 0 9px;
	background: #ccc;
	font-size: 10px;
	text-shadow: 0px 1px 0px #fff;
	}

.gray_left{
	background: url(resource:images/gray_left.png) top left no-repeat;
	display: inline;
	margin: 4px 0 0 0;
	float: right;
	}

.gray_right{
	background: url(resource:images/gray_right.png) top right no-repeat;
	}


	
.both_number_count{
	padding: 3px 0 4px;
	color: #fff;
	margin: 0 9px;
	background: #6c3;
	font-weight: bold;
	font-size: 11px;
	text-shadow: 0px 1px 0px #333;
	}
	
	
.both_green_left{
	background: url(resource:images/green_left.png) top left no-repeat;
	display: inline;
	margin: 3px -15px 0 0;
	float: right;
	}

.both_green_right{
	background: url(resource:images/green_right.png) top right no-repeat;
	padding-right: 1px;
	}


.both_gray_number_count{
	padding: 3px 2px 3px 0px;
	color: #333;
	margin: 0 9px;
	background: #ccc;
	font-size: 10px;
	text-shadow: 0px 1px 0px #fff;
	}

.both_gray_left{
	background: url(resource:images/gray_left.png) top left no-repeat;
	display: inline;
	margin: 4px 0 0 0;
	float: right;
	}

.both_gray_right{
	background: url(resource:images/gray_right.png) top right no-repeat;
	}



span.newchannel{
	display: none;
	}
	


/*/////////////////////////////////////////////

Buttons
-----------------------------------------------
Various Buttons
 
/////////////////////////////////////////////*/



.more_link{
	margin-bottom: -3px;
	vertical-align: bottom;
	}
	
/*/////////////////////////////////////////////

Loading Channel
 
/////////////////////////////////////////////*/

#loading_channel{
	margin: 30% 0;
	}