body {
    font-size: 12px;
		line-height:18px;
    font-family: "Helvetica Neue", "Tahoma", "Bitstream Vera Sans", Arial, sans-serif;
    color: #333333;
}
p {
	font-size:1em;
	margin:0 0 1.5em 0;
}
h1 {
	font-size:24px;
}
h2 {
	font-size:18px;
}
h3 {
	font-size:14px;
}
h4 {
	font-size:13px;
}
h5, h6 {
	font-size:1em;
	font-weight:bold;
	margin:1.5em 0 0 0;
}
ul {
	list-style-type:none;
}
ul, ol {
	font-size:1em;
	margin:1em 0 1em 2em;
}
li {
	line-height:1.8em;
}
.light-text {
	color:#9f9f9f;
	font-weight:normal;
}
/* This is used to make the feed settings section float above the channel */
#feed-settings {
    color: #fff;
    font-size: 13px;
}
#actual-settings {
  font-size:12px;
  font-weight:normal;
}
#channel-url {
    font-size: 11px;
}
#channel-url a.remove-channel:link {
	color:#fff;
}
/*#channel-url a.remove-channel {
    color: #f00;
}*/

.settings-small {
    font-size: 10px;
}

/* This is the title section of the channel view */
#main-titlebar {
	color: #4f4f4f;
}

h1#main-title {
    line-height:60px;
		font-size: 30px;
    font-weight: normal;
    color:#4f4f4f;
		text-shadow:#fff 1px 1px 1px;
		white-space:nowrap;
}
#download-info {
	font-size:12px;
	font-weight:bold;
	color:#3c3c3c;
	text-shadow:#fff 1px 1px 1px;
}
/* Search box */

#search-box {
    color: #333;
    font-size: 12px;
    }
/* Sub-title bar and elements */

/* The right side of the titlebar (visit website, settings, etc). */

/*.sub-titlebar-right a {
    color: #fff;
}*/

#auto-download {
/*    color: #FFFFFF;*/
    font-size: 11px;
    font-weight: bold;
}
#auto-download-menu {
  font-weight: normal;
}
a.button,
a.button span {
	text-decoration:none;
	cursor:pointer;
}
#auto-label,
a.button.gray span {
	color:#6d6d6d;
	text-shadow:#f3f3f3 1px 1px 1px;
	text-decoration:none;
}
#sort-by-label {
	color:#fff;
	text-shadow:#454545 1px 1px 1px;
	text-decoration:none;
}
a.button.gray span {
	line-height:19px;
	font-weight:bold;
	font-size:10px;
}
a.button em {
	font-style:none;
	text-transform:none;
}
a.button.blue,
a.button.blue:link,
a.button.blue:visited,
a.button.blue:hover {
	color:#fff;
	text-decoration:none;
	font-size:10px;
	font-weight:bold;
}
a.button.blue span {
	line-height:17px;
}
a.button.select {
	color:#636363;
}
a.button.select.dark {
	color:#e9e9e9;
}
a.button.blue.saved,
a.button.blue.saved span {
	color:#eee;
	cursor:default;
}
a.button.gray.done span {
  color:#fefefe;
	text-shadow:#666 1px -1px -1px;
	text-decoration:none;
	
}

/* Download page titlebar components */
/*#downloads-global-actions {
    font-size: 10px;
    text-align: center;
}
#downloads-global-actions a {
    color: #fff;
    text-decoration: none;
    font-size: 10px;

}
#download-info {
    font-size: 11px;
}*/

/* Search page components */
#engine-search {
    text-align: left;
}

#engine-search input, #engine-search select {
    font-size: 11px;
}

/* CSS for our popup select boxes */
table.select-box.share a,
table.select-box a {
  font-size: 11px;
	color: #fff;
  text-decoration: none;
}

/* Used for scraping indicator on channel page */
.main-container-scraping {
	text-align: center;
}

/* this goes in the main-container-scraping section */
.scraping-indicator {
    font-size: 18px;
    color: #085ffe;
    font-weight: bold;
}

/* SORT BUTTONS AND VIDEO STATS -- THEY ARE GROUPED TOGETHER IN THE CSS SINCE THEY NEED TO LINE UP WITH EACH OTHER */
.sort-buttons {
    font-size: 10px;
    color: #113;
}
a.sort-button {
  color:#fff;
  text-decoration:none;
}


.main-video-details {
    color:  #222;
    font-size: 10px;
}
#main-container.library a.sort-button {
    color: #fff;
}

.details-link a {
    text-decoration: none;
    color: #3263A0;
    font-size: 10px;
} 
/* The section dividers */

.main-channelbar {
    color: #444;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}
.main-channelbar span.light-text:before {
	content:"|";
	padding-right:6px;
}
.main-channelbar span.light-text {
	padding-left:6px;
}

a.download-bar-action {
    font-size: 10px;
    color: #fff;
		color:#000;
}

a.download-bar-action:hover {
    text-decoration: underline;
}

.clear-completed-link {
    text-decoration: underline; 
    font-weight: normal;
    color: #fff;
		color:#000;
    font-size: 11px;
}

/* The N more videos oval */
.main-notification {    
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
		color:#000;
}
.main-notification-right {  
    text-decoration: none;
}


/* used in search view */
.search-message {
    font-size: 28px;
    color:      #666;
    text-align: center;
    }

.search-results-bar {
    font-size: 18px;
    color: white;
		color:#000;
    text-align: center;
}
/* Around  the "empty folder" message */
.channel-blank {
    text-align: center;
}
.channel-message {
    font-size: 28px;
    color:      #666;
    text-align: center;
    font-weight: bold;
}
.channel-message.small {
    font-size: 20px;
    font-weight: normal;
}
.drag-highlight .channel-message {
    color: #0752d7;
}

/* used in multi-channel */
body.gray-background {
    background-color: #f7f7f7;
}
.button-zone-two {
    text-align: center;
}
.button-zone-one {
    text-align: center;
}

/* These change the background based on whether or not it's selected */

.main-video-desc h1 {
    font-size: 15px;
		font-weight: normal;
    color: #444;
    text-decoration: none;
}

.main-video-desc div {
    font-size: 11px;
}

.main-video-desc-desc {
    color: #777470;
}
.main-video-bottom { 
    background-font-size: 12px;
}

.channel-title {
    text-align: right;
    color: #666;
    line-height: 130%;
}
.main-video.selected .main-video-desc h1 {
	color:#1b4065
}
.main-video .main-video-desc.newly-downloaded h1,
.main-video.selected .main-video-desc.newly-downloaded h1 {
	color:#4eb222;
}
.main-video .main-video-desc.new h1,
.main-video.selected .main-video-desc.new h1 {
	color:#2887fa;
}
.main-video.selected .main-video-desc-desc, .main-video.selected .channel-title {
    color:#6b9ccd; 
}
.main-video-desc a:link, .main-video-desc a:active, .main-content a:link, .main-content a:active {
    color: #333;
    text-decoration: underline;
}

.main-video-desc a:hover, .main-content a:hover {
    color: #4181e0;
}

.main-video-desc a:visited, .main-content a:visited {
    color: #666666;
    text-decoration: underline;
}

.video-stats,
.video-stats td a {
	font-size:11px;
	color:#444;
}
.video-stats td a.details {
  font-weight:bold;
  text-decoration:underline;
}

.video-stats td.col1 {
	color:#98948f;
}
/*.round-button-content {
    font-size: 9px;
    text-align: center;
}
a.round-button-left {
    text-decoration: none;
    color: #333;
}
a.round-button-left.black {
    color: #fff;
}*/
.saved-note {
    font-size: 9px;
    color: #666;
    text-align: center;
}
.details-date {
    font-weight: bold;
}
/*.video-state-mid {
    text-align: center;
}
a.small-button-left {
    font-size: 9px;
    color: #444;
    text-decoration: none;
}
a.small-button-left:hover {
    color: #000000;
    text-decoration: underline;
}
.white-button-middle {
    font-size: 11px;
}
.white-button-middle a:link {
    color: white;
    text-decoration: none;
}*/

.more-info-details {
    font-size: 10px;
}
.more-info-details h3 {
    font-size: 10px;
}
.more-info-details a {
    color: #333;
}

.download-status-strings span, 
.video-state {
	color:#fff;  
	font-size: 10px;
	font-weight:bold;
}
.main-video-status-progress {
    font-size: 10px;
}
.progress-strings .downloading span,
.progress-strings .paused span {
	font-weight:bold;
}
/*.main-video-details-pending-auto, .main-video-details-failed-download {
    text-align: center;
}*/