body {
	font: 14px "Lucida Grande", "Lucida Sans", "Trebuchet MS", Arial;
	color: #FFFFFF;
	text-decoration: none;
	background: #000000;
	margin: 0px;
}

#video_info_area {
    font-size:  15px;
    background: black;
    color:      white;
    margin-top: 5px;
}

#video_info_area a {
    color:  white;
    text-decoration: underline;
}

#video_info_area .title {
    font-weight:    bold;
}

#video_info_area .left_box {
    position:   absolute;
    left:       0px;
    margin-left: 10px;
}

#video_info_area .left_box div {
    height: 19px;
    overflow: hidden;
}

#video_info_area .right_box {
    position:   absolute;
    width:      auto;
    right:      0px;
    background: black;
    text-align: right;
	padding-right: 5px;
}

#video_info_area .delete_button {
    background: url(../images/delete_file_white.png) 0px 0px no-repeat;
}

#video_info_area .delete_button:hover {
	background: url(../images/delete_file_white.png) 0px -16px no-repeat;
}
