body {
	background: #000000;
	margin: 0px;
}

#videodetails-container {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 46px;
	background-color: #000000;
	font: normal 11px "Lucida Grande", Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}

#videodetails-channeltitle {
	position: absolute;
	top: 6px;
	left: 8px;
	overflow: hidden;
	min-width: 350px;
	background-color: #000000;
	z-index: 1;
}

#videodetails-channeltitle h1 {
	float: left;
	display: inline;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	max-width: 500px;
	overflow: hidden;
}

#videodetails-channeltitle h2 {
	float: left;
	display: inline;
	margin: 1px 0px 0px 5px;
	font-size: 13px;
	font-weight: normal;
	color: #CCCCCC;
}

#videodetails-channeltitle h2 a {
	color: #CCCCCC;
	text-decoration: underline;
}

#videodetails-channeltitle h2 a:hover {
	color: #CCCCCC;
	text-decoration: none;
}

#videodetails-channeltitle h3 {
	clear: left;
	margin: 3px 0px 0px 0px;
	padding: 0px;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
}

#videodetails-channeltitle h3 a {
	color: #FFFFFF;
	text-decoration: underline;
}

#videodetails-channeltitle h3 a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

#videodetails {
float: right;
width: 70px;
padding-top: 4px;
margin-right: 5px;
line-height: 13px;
}

#videodetails-actions a {
text-align: right;
color: #ddd;
font-weight: bold;
font-size: 9px;
text-decoration: none;
display: block;
}

#videodetails-actions a:hover {
text-decoration: underline;
}


#videodetails-ad {
	position: absolute;
	width: 480px;
	top: 8px;
	right: 8px;
	z-index: 0;
}

img {	
	border: 0px;
}
