<html>
<body>

<h1>DOM test</h1>

<div id="arena">
<p>This is the header.</p>
<div id="top"><p>I'm the top of the heap.</p></div>
<div id="victim"><p>I am the victim!</p></div>
<div id="bottom"><p>I'm at the bottom of the heap.</p></div>
<p>This is the footer.</p>
</div>

<p><a href="test:remove">Liquidate the victim.</a></p>
<p><a href="test:before_victim">Add new node before victim.</a></p>
<p><a href="test:before_bottom">Add new node before bottom.</a></p>
<p><a href="test:after">Add new node at bottom of arena.</a></p>
<p><a href="test:change">Disguise the victim.</a></p>
<p><a href="test:hide">Engage witness protection program.</a></p>
<p><a href="test:show">Disengage witness protection program.</a></p>

</body>
</html>
