<!ENTITY bugreport.title     "你在$longAppName发现一个错误！">
<!ENTITY bugreport.pleasehelpus "Please help us fix it. Copy and paste all the
information into our bug tracker and tell us what you were doing when the
problem occurred.">
<!ENTITY bugreport.openbugtracker "开启臭虫(即错误缺陷)追踪器">
<!ENTITY bugreport.copytoclipboard "复制日志到剪切板">
<!ENTITY bugreport.pleaserestart "Then, please restart $longAppName (or you may keep getting related errors). Sorry for the inconvenience. $longAppName is still in beta, but with your help we're fixing problems fast!">
