<!ENTITY password.title      "Kanava vaatii tunnistautumista">
<!ENTITY password.prompt     "Syötä tämän kanavan julkaisijalta saamasi käyttäjänimi ja salasana.">
<!ENTITY password.username   "Käyttäjätunnus:">
<!ENTITY password.password   "Salasana:">
