<!ENTITY about.title         "$longAppName Hakkında">
<!ENTITY about.body          "$longAppName sürüm $appVersion ($appRevision); copyright (c) 2005-2007 $publisher. $longAppName ve $longAppName logosu $publisher adına tescillidir.">
