<!ENTITY nbsp                " ">
<!ENTITY rsaquo              "'">

<!ENTITY about.title         "Hakkında $longAppName">
<!ENTITY about.body          "$longAppName versiyon $appVersion ($appRevision); Tescil (c) 2005, 2006 $publisher.">
