<!ENTITY migrate.title "Varolan filmler taşınsın mi?">
<!ENTITY migrate.accept "Taşı">
<!ENTITY migrate.cancel "Taşıma">
<!ENTITY migrate.description "Filmleri saklamak için yeni bir dizin seçtiniz. $shortAppName indirdiklerinizi bu dizine taşısın mı? (İndirmesi süren filmler tamamlandığında taşınacaklar).">