<!ENTITY password.title      "Kanal şifre doğrulamasını gerektirir">
<!ENTITY password.prompt     "Lütfen kanalın yayımcısı tarafından size verilen kullanıcı adını ve parolayı girin.">
<!ENTITY password.username   "Kullanıcı Adı:">
<!ENTITY password.password   "Parola:">
