shortAppName = Democracy
longAppName = Democracy Player
projectURL = http://www.participatoryculture.org
bugTrackerURL = https://develop.participatoryculture.org/projects/dtv/newticket
publisher = Participatory Culture Foundation
copyright = Copyright 2006
appVersion = 0.8.1
appRevision = $APP_REVISION
appPlatform = $APP_PLATFORM
appSerial-osx = 2006030100
appSerial-windows-xul = 2006030100
updateKey = 0.8.0-0
