shortAppName = Democracy
longAppName = Democracy Player
projectURL = http://www.participatoryculture.org
bugTrackerURL = https://develop.participatoryculture.org/projects/dtv/newticket
publisher = Participatory Culture Foundation
copyright = Copyright 2006
appVersion = 0.8.0
appRevision = r1185
updateKey = 0.8.0-0
