<!ENTITY migrate.title "Перенести існуючі фільми?">
<!ENTITY migrate.accept "‚Äì√º‚Äì¬µ‚Äî√Ñ‚Äì¬µ‚Äì¬∫‚Äì¬µ‚Äî√Ö‚Äî√á‚Äì‚àè‚Äî√á‚Äî√">
<!ENTITY migrate.cancel "‚Äì√π‚Äì¬µ ‚Äì√∏‚Äì¬µ‚Äî√Ñ‚Äì¬µ‚Äì¬∫‚Äì¬µ‚Äî√¢‚Äì‚àû‚Äî√á‚Äî√">
<!ENTITY migrate.description "Ви обрали нову теку для завантаження фільмів, сюжетів. Чи має $shortAppName перемістити вже завантаженні матеріали до зазначеної теки? (Сюжети-фільми, що зараз завантажуються не будуть переміщуватись до завершення завантаження)">