<!ENTITY password.title      "‚Äì√Æ‚Äì¬™‚Äî√® ‚Äì‚â§‚Äî√ñ‚Äì√¶‚Äì¬ ‚Äì‚àû ‚ÄìŒ©‚Äì‚àû ‚Äì‚à´‚Äì‚àû‚ÄìŒ©‚Äì‚àû‚Äì¬™ ‚ÄìŒ©‚Äì¬µ‚Äì√¶‚Äì¬±‚Äî√ñ‚Äì√¶‚Äì¬ ‚Äì‚àè‚Äì¬∫‚Äì√¶ ‚Äì‚àû‚Äì‚â§‚Äî√á‚Äì√¶‚Äî√Ñ‚Äì‚àè‚Äì‚àë‚Äì‚àè‚Äî√Ñ‚Äì√¶‚Äì‚â§‚Äì‚àû‚Äî√á‚Äî√ ‚Äî√Ö‚Äî√®">
<!ENTITY password.prompt     "‚Äì√≠‚Äì‚â§‚Äì¬µ‚Äì¬ ‚Äì‚àè‚Äî√á‚Äì¬µ ‚Äì‚àè‚Äì¬∫‚Äî√® ‚Äì‚àè ‚Äì√∏‚Äì‚àû‚Äî√Ñ‚Äì√¶‚Äì¬™‚Äî√ , ‚Äì‚â§‚Äî√£‚Äì¬ ‚Äì‚àû‚ÄìŒ©‚ÄìŒ©‚Äî√£‚ÄìœÄ ‚Äì√∏‚Äì√¶‚Äî√Ö‚Äî√á‚Äì‚àû‚Äì‚â§‚Äî√¢‚Äì‚àè‚Äì‚à´‚Äì√¶‚Äì¬∫ ‚Äî√ß‚Äî√á‚Äì√¶‚Äì‚â ‚Äì√¶ ‚Äì‚à´‚Äì‚àû‚ÄìŒ©‚Äì‚àû‚Äì¬™‚Äì‚àû.">
<!ENTITY password.username   "Ім'я користувача:">
<!ENTITY password.password   "Пароль:">
