<!ENTITY about.title         "О $longAppName">
<!ENTITY about.body          "$longAppName версия $appVersion ($appRevision); авторские права защищены (c) 2005-2007 $publisher. $longAppName и $longAppName логотипы являются торговыми знаками $publisher.">
