<!ENTITY bugreport.title     "Вы обнаружили ошибку в $longAppName!">
<!ENTITY bugreport.pleasehelpus "Please help us fix it. Copy and paste all the
information into our bug tracker and tell us what you were doing when the
problem occurred.">
<!ENTITY bugreport.openbugtracker "Открыть систему отслеживания багов">
<!ENTITY bugreport.copytoclipboard "Скопировать сообщение в буфер обмена">
<!ENTITY bugreport.pleaserestart "Тогда, пожалуйста, перезапустите $longAppName (или вы можете оставить все как есть). Приносим извинения за неудобства. $longAppName по-прежнему находится в стадии разработки, но с вашей помощью мы устраняем проблемы быстро!">
