<!ENTITY password.title      "Для входа на канал необходимо авторизироваться">
<!ENTITY password.prompt     "Введите имя и пароль, выданный поставщиком этого канала.">
<!ENTITY password.username   "Имя">
<!ENTITY password.password   "Пароль">
