<!ENTITY searchchannel.description	"A search channel contains
items that match a search term.">
<!ENTITY searchchannel.termlabel 	"Искать:">
<!ENTITY searchchannel.title            "New Search Channel">
<!ENTITY searchchannel.inthis "In This:">
<!ENTITY searchchannel.channel "Канал:">
<!ENTITY searchchannel.searchengine "Поисковая машина:">
<!ENTITY searchchannel.url "Адрес:">
<!ENTITY searchchannel.createchannel "Create Channel">
