<!ENTITY password.title      "Kanalen kræver godkendelse">
<!ENTITY password.prompt     "Venligst indtast det brugernavn og kodeord som du har fået af denne kanals udgiver.">
<!ENTITY password.username   "Brugernavn:">
<!ENTITY password.password   "Adgangskode:">
