<!ENTITY about.title         "Sobre o $longAppName">
<!ENTITY about.body          "$longAppName versão $appVersion ($appRevision); copyright (c) 2005-2007 $publisher. $longAppName e o logo $longAppName são marca registrada para  $publisher">
