<!ENTITY about.title         "Sobre o $longAppName"> 
<!ENTITY about.body          "$longAppName versão $appVersion ($appRevision); copyright (c) 2005-2008 $publisher.  $longAppName e o logo $longAppName são trademarks de $publisher."> 
