<!ENTITY nbsp                " ">
<!ENTITY rsaquo              "'">

<!ENTITY canscrape.title     "Channel is not compatible with $shortAppName!">
<!ENTITY canscrape.body      "Mas faremos o melhor que pudermos para tentar capturar os arquivos. Pode levar um pouco mais de tempo para listar os vídeos, e descrições podem parecer estranhas.">

<!ENTITY canscrape.prefix    "Por favor contacte os editores de">
<!ENTITY canscrape.suffix    "and ask if they can supply a feed in a format that will work with $shortAppName.">
