<!ENTITY password.title      "O canal requer autenticação">
<!ENTITY password.prompt     "Por favor informe o nome de usuário e a senha fornecidos pelos editores do canal.">
<!ENTITY password.username   "Usuário:">
<!ENTITY password.password   "Senha:">
