<!ENTITY password.title      "O canal requer autenticação">
<!ENTITY password.prompt     "Por favor informe o usuário e a senha fornecidos pelos editores/publicadores do canal.">
<!ENTITY password.username   "Usuário:">
<!ENTITY password.password   "Senha:">
