<!ENTITY searchchannel.description	"Um canal de busca contém itens que satisfaçam um determinado termo de busca.">
<!ENTITY searchchannel.termlabel 	"Buscar Por:">
<!ENTITY searchchannel.title            "Novo Canal de Busca">
<!ENTITY searchchannel.inthis "Neste:">
<!ENTITY searchchannel.channel "Canais:">
<!ENTITY searchchannel.searchengine "Sistema de Busca:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Criar Canal">
