<!ENTITY searchchannel.description	"Um canal de busca contém ítens que combinam com uma pesquisa.">
<!ENTITY searchchannel.termlabel 	"Pesquisar Por:">
<!ENTITY searchchannel.title            "Novo Canal de Busca">
<!ENTITY searchchannel.inthis "Neste:">
<!ENTITY searchchannel.channel "Canal:">
<!ENTITY searchchannel.searchengine "Sistema de Busca:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Criar Canal">
