body {
	margin: 0px;
	padding: 0px;
	font: 12px "Lucida Grande", Arial, sans-serif;
	color: #000000;
	text-align: center;
	text-decoration: none;
	background: #FFFFFF;
}

#header {
	background: url(../images/white/bg-header.gif) repeat-x left bottom;
}

#header-inner, #content-inner {
	margin: 0px auto;
	width: 750px;
	text-align: left;
}

#header-inner {
	padding: 20px 0px;
}

#header h1 {
	margin: 0px;
	padding: 0px;
	color: #333333;
	font-size: 250%;
	font-weight: normal;	
}


#header h1 a {
	text-decoration: none;
	color: black;
}

#header h2 {
	margin: 0px;
	padding: 0px;
	color: #666666;
	font-size: 140%;
	font-weight: normal;	
}

#avatar {
	float: left;
	width: 58px;
	height: 58px;
	margin: 0px 10px 0px 0px;
	padding: 5px 0px 0px 5px;
	background: url(../images/white/bg-avatar.gif) no-repeat left top;
}

#content {
	background: url(../images/white/bg-content.gif) repeat-x left top;
}

#content-inner {
	padding: 20px 0px;
}

.channel {
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 20px;
}

.channel-avatar {
	float: left;
	width: 45px;
	height: 45px;
	overflow: hidden;
	margin: 0px 10px 10px 0px;
}


.channel-left {
	float: left;
	width: 48%;
}

.channel-right {
	float: right;
	width: 48%;
}

.channel h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	color: #333333;
	font-size: 175%;
	font-weight: normal;
}

.channel h1 a:link, .channel h1 a:visited, .channel h1 a:active {
	color: #333333;
	text-decoration: none;
}

.channel h1 a:hover {
	color: #000000;
	text-decoration: none;
}

.channel h2 {
	padding-top: 25px;
}

.video {
	clear: left;
}

.channel .video {
	padding-top: 30px;
}

.video-left {
	float: left;
	width: 48%;
	padding-top: 0px;
}

.video-right {
	float: right;
	width: 48%;
	padding-top: 20px;
}

.video-tnail {
	float: left;
}

.video-info {
	margin-left: 180px;
}
embed {
	margin-right: 20px;
}
#video-embedded {
	padding: 0px;
	margin-top: 0px;
	margin-right: 20px;
}

.video-info h1 {
	margin: 0px 0px 3px 0px;
	padding: 0px;
	color: #000000;
	font-size: 125%;
	font-weight: bold;		
}

.video-info h1 a:link, .video-info h1 a:visited, .video-info h1 a:active {
	color: #000000;
	text-decoration: underline;
}

.video-info h1 a:hover {
	color: #000000;
	text-decoration: none;
}

.video-info h2 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	color: #999999;
	font-size: 100%;
	font-weight: normal;		
}

.video-info p {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

.video-info p a:link, .video-info p a:visited, .video-info p a:active {
	color: #666666;
	text-decoration: none;
}

.video-info p a:hover {
	color: #333333;
	text-decoration: none;
}

.video-info ul {
	list-style: none;
	padding-left: 0px;
}
.link-info {
/*	float: left;
	margin: 0px 15px 10px 0px;*/
	padding-left: 19px;
	line-height: 14px;
	background: url(../images/white/icon-info.gif) no-repeat left center;
}

.link-download, .link-torrent {
/*	float: left;
	margin: 0px 15px 10px 0px;*/
	padding-left: 19px;
	line-height: 16px;
	background: url(../images/white/icon-download.gif) no-repeat left center;
}

.link-dtv {
	padding-left: 19px;
	line-height: 12px;
	background: url(../images/white/icon-dtv.gif) no-repeat 5px 50%;
}

.link-feed {
	padding-left: 19px;
	line-height: 12px;
	background: url(../images/white/icon-feed.gif) no-repeat 5px 50%;
}

.link-itunes {
	padding-left: 19px;
	line-height: 12px;
	background: url(../images/white/icon-itunes.gif) no-repeat 5px 50%;
}

#footer {
	clear: both;
	padding: 10px 0px 20px 0px;
}

.footer p {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	color: #666666;
	font-size: 90%;
}

.footer p a:link, .footer p a:visited, .footer p a:active {
	color: #333333;
	text-decoration: underline;
}

.footer p a:hover {
	color: #000000;
	text-decoration: none;
}

.reflect {
	margin-bottom: -2px;
}

.small {
	font-size: 90%;
}

img {
	border: 0px;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
}

.box {
	clear: both;
	position: relative;
	top: 10px;
	margin: 0px;
	padding: 0px 10px 0px 0px;
	background: #CCCCCC url(../images/white/box-bg.gif) repeat-y 100% 0%;
}

.box-bi {
	padding: 0px 0px 0px 10px;
	background: #CCCCCC url(../images/white/box-border.gif) repeat-y 0% 0%;
}

.box-bt {
	height: 10px;
	margin: 0px -10px;
	background: url(../images/white/box-bg.gif) no-repeat 100% 0%;
}

.box-bt div {
	width: 10px;
	height: 10px;
	background: url(../images/white/box-bg.gif) no-repeat 0% 0%;
}

.box-bb {
	height: 10px;
	margin: 0px -10px;
	background: url(../images/white/box-bg.gif) no-repeat 100% 100%;
}

.box-bb div {
	width: 10px;
	height: 10px;
	background: url(../images/white/box-bg.gif) no-repeat 0% 100%;
}

.box p {
	margin: 0px;
	padding: 0px;
	background: #CCCCCC;
}

.box p a:link, .box p a:visited, .box p a:active {
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}

.box p a:hover {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

.channel-subscribe {
	position: absolute;
	display: inline;
	right: 10px;
	width: 158px;
	font-size: 90%;
	margin-top: -2px;
}

.channel-subscribe p {
	margin: 0px;
	padding: 0px;
	background: url(../images/white/subscribe-title-bg.gif) no-repeat left top;
	border-bottom: 1px solid #999999;
}

.channel-subscribe p a {
	display: block;
	padding: 4px 0px 4px 23px;
	#background-color: #FFFFFF;
	background: url(../images/black/icon-feed.gif) no-repeat 5px 50%;
}

.channel-subscribe-links ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	border-top: none;
}

.channel-subscribe-links li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.channel-subscribe-links li a:link, .channel-subscribe-links li a:visited, .channel-subscribe-links li a:active {
	color: #666666;
	text-decoration: none;
	display: block;
	padding: 5px 22px;
}

.channel-subscribe-links li a:hover {
	color: #333333;
	background-color: #EEEEEE;
	text-decoration: none;
}

.channel-subscribe-links {
	display: none;
	position: absolute;
	width: 158px;
}
