<!ENTITY password.title      "Kanal nõuab autentimist">
<!ENTITY password.prompt     "Please enter the username and password given to you by this channel's publisher.">
<!ENTITY password.username   "Kasutajanimi:">
<!ENTITY password.password   "Parool:">
