<!ENTITY password.title      "القناة تحتاج إلى توثيق">
<!ENTITY password.prompt     "رجاء إدخال اسم المستخدم وكلمة السر الذي أعطاك إياه ناشر هذه القناة.">
<!ENTITY password.username   "إسم المستخدم:">
<!ENTITY password.password   "كلمة المرور:">
