<!ENTITY migrate.title "Migrez filmele existente?">
<!ENTITY migrate.accept "Migrează">
<!ENTITY migrate.cancel "Nu migra">
<!ENTITY migrate.description "You've selected a new folder to download movies to.  Should $shortAppName migrate your existing downloads there?(Currently dowloading movies will not be moved until they finish)">