<!ENTITY password.title      "Canalul necesită autentificare">
<!ENTITY password.prompt     "Te rog specifică numele de utilizator şi parola ce ti-au fost furnizate de către editorul canalului.">
<!ENTITY password.username   "Nume utilizator:">
<!ENTITY password.password   "Parolă:">
