<!ENTITY password.title      "Kanal lyp mirëfilltësim">
<!ENTITY password.prompt     "Please enter the username and password given to you by this channel's publisher.">
<!ENTITY password.username   "Emër përdoruesi:">
<!ENTITY password.password   "Fjalëkalim:">
