<!ENTITY searchchannel.description	"A search channel contains items that match a search term.">
<!ENTITY searchchannel.termlabel 	"Kërko Për:">
<!ENTITY searchchannel.title            "New Search Channel">
<!ENTITY searchchannel.inthis "Në Këtë:">
<!ENTITY searchchannel.channel "Kanal:">
<!ENTITY searchchannel.searchengine "Motor Kërkimesh:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Krijo Kanal">
