Package: python-vlc
Version: 0.8.1
Section: graphics
Priority: optional
Architecture: i386
Essential: no
Depends: vlc (>=0.8.1), vlc (<<0.8.2), python (>=2.3)
Maintainer: Olivier Aubert <oaubert@lisi.univ-lyon1.fr>
Description: python bindings for VLC
 This module adds the possibility to remotely control VLC through a
 python module.
 .
