<!ENTITY password.title      "Channel requires authentication">
<!ENTITY password.prompt     "Please enter the username and password given to you by this channel's publisher.">
<!ENTITY password.username   "ناوی به‌كارهێنه‌ر:">
<!ENTITY password.password   "تێپه‌ڕه‌وشه‌:">
