Source: miro
Section: net
Priority: optional
Maintainer: Will Kahn-Greene <will.guaraldi@pculture.org>
Build-Depends: cdbs, 
               debhelper (>= 5), 
               python2.5, 
               python-pyrex, 
               libboost-python-dev, 
               python-gtk2-dev, 
               python-gnome2-extras-dev (>= 2.14.0-2), 
               firefox-dev, 
               libxine-dev, 
               python-dev, 
               python-support, 
               libxv-dev, 
               libx11-dev, 
               libssl-dev, 
               libboost-date-time-dev, 
               libboost-filesystem-dev, 
               libboost-serialization-dev, 
               libboost-thread-dev
Standards-Version: 3.7.2

Package: miro
Architecture: any
Depends: ${shlibs:Depends}, 
         ${misc:Depends}, 
         ${python:Depends}, 
         python-gtk2, 
         python-gnome2, 
         python-gnome2-extras (>= 2.14.0-2),
         python-glade2, 
         python2.5-dbus, 
         imagemagick, 
         libxine1-plugins, 
         libxine1 (<< 1.1.8), libxine1 (>= 1.1.7), 
         miro-data (>= 1.2.8)
Suggests: ttf-bitstream-vera
Conflicts: democracyplayer (<< 0.9.8)
Replaces: democracyplayer
Description: GTK+ based RSS video aggregator
 Miro is a platform for Internet television and video.
 It allows you to download and watch videos from RSS feeds (including
 podcasts, video blogs, and BitTorrent feeds).

Package: miro-data
Architecture: all
Conflicts: democracyplayer-data (<< 0.9.8)
Replaces: democracyplayer-data
Description: GTK+ based RSS video aggregator data files
 Miro is a platform for Internet television and video.
 It allows you to download and watch videos from RSS feeds (including
 podcasts, video blogs, and BitTorrent feeds).

