<!ENTITY password.title      "Channel requires authentication">
<!ENTITY password.prompt     "Molim ukucajte korisničko ime i lozinku koji su vam ustupljeni preko ovog kanala.">
<!ENTITY password.username   "Korisničko ime:">
<!ENTITY password.password   "Lozinka">
