<!ENTITY searchchannel.description	"A search channel contains items that match a search term.">
<!ENTITY searchchannel.termlabel 	"Potraži:">
<!ENTITY searchchannel.title            "Novi kanal za potražiti">
<!ENTITY searchchannel.inthis "U ovome:">
<!ENTITY searchchannel.channel "Kanal:">
<!ENTITY searchchannel.searchengine "Tražilica:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Kreirati kanal">
