<!ENTITY about.title         "אודות $longAppName">
<!ENTITY about.body          "$longAppName גרסה $appVersion ($appRevision); copyright (c) 2005-2007 $publisher.  $longAppName והלוגו של $longAppName  הם סימנים רשומים של $publisher.">
