<!ENTITY about.title         "אודות $longAppName"> 
<!ENTITY about.body          "$longAppName גירסה $appVersion ($appRevision); כל הזכויות שמורות (c) 2005-2008 $publisher. $longAppName והלוגו של $longAppName הינם סימן מסחרי רשום תחת $publisher."> 
