<!ENTITY bugreport.title     "מצאתם באג ב-$longAppName!">
<!ENTITY bugreport.pleasehelpus "Please help us fix it. Copy and paste all the
information into our bug tracker and tell us what you were doing when the
problem occurred.">
<!ENTITY bugreport.openbugtracker "הפעילו את הבאג טראקר">
<!ENTITY bugreport.copytoclipboard "בהעתק לוג ללוח עריכה">
<!ENTITY bugreport.pleaserestart "אז, הפעילו מחדש את $longAppName (או שעדיין תמשיכו לקבל שגיאות). סליחה על אי הנוחות. $longAppName עדיין במצג של בטא, אבל עם העזרה שלכם אנחנו מתקנים בעיות מהר!">
