<!ENTITY migrate.title "העברת סרטים קיימים?">
<!ENTITY migrate.accept "הגירה">
<!ENTITY migrate.cancel "לא להגר">
<!ENTITY migrate.description "בחרתם בתיקייה חדשת להורדת סרטים. הם $shortAppName  צריך להעביר את כל ההורדות הקיימות לשם? (הורדות שכרגע פעילות לא יועברו עד שהם לא יסתיימו.)">