<!ENTITY password.title      "הערוץ דורש אימות">
<!ENTITY password.prompt     "אנא הכניסו את שם המשתמש והסיסמה שניתנו לכם על ידי מפיצי הערוץ.">
<!ENTITY password.username   "שם משתמש:">
<!ENTITY password.password   "סיסמה:">
