<!ENTITY searchchannel.description	"חיפוש בערוץ מכיל פריט שלא מתאים לתנאים">
<!ENTITY searchchannel.termlabel 	"Search For:">
<!ENTITY searchchannel.title            "חיפוש חדש בערוץ">
<!ENTITY searchchannel.inthis "In This:">
<!ENTITY searchchannel.channel "Channel:">
<!ENTITY searchchannel.searchengine "Search Engine:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Create Channel">
