<!ENTITY bugreport.title     "Ha encontrado un fallo en $longAppName">
<!ENTITY bugreport.pleasehelpus "Please help us fix it. Copy and paste all the
information into our bug tracker and tell us what you were doing when the
problem occurred.">
<!ENTITY bugreport.openbugtracker "Abrir el sistema de seguimiento de fallos">
<!ENTITY bugreport.copytoclipboard "Copiar el registro al portapapeles">
<!ENTITY bugreport.pleaserestart "A continuación, por favor, reinicie $longAppName para evitar que le aparezcan más errores relacionados con el anterior. Le pedimos disculpas por las molestias. $longAppName está aún en fase beta, pero con su ayuda solucionaremos los problemas rápidamente.">
