<!ENTITY password.title      "Para ver este canal debe identificarse">
<!ENTITY password.prompt     "Introduzca el nombre de usuario y la contraseña que le dio el responsable de este canal.">
<!ENTITY password.username   "Usuario:">
<!ENTITY password.password   "Contraseña:">
