<!ENTITY searchchannel.description	"Un canal de búsqueda contiene ítems que corresponden a un término de búsqueda.">
<!ENTITY searchchannel.termlabel 	"Busca:">
<!ENTITY searchchannel.title            "Nuevo canal de búsqueda">
<!ENTITY searchchannel.inthis "In This:">
<!ENTITY searchchannel.channel "Canal:">
<!ENTITY searchchannel.searchengine "Motor de búsqueda:">
<!ENTITY searchchannel.url "URL:">
<!ENTITY searchchannel.createchannel "Crear canal">
